.inventory-prop {
    background-color: #9ad268 !important;
    color: #fff !important;
    padding: 5px;
    border-radius: 10px;
    margin-left: 10px;
}

.prop-for-develop {
    background-color: #4dd4fd !important;
    color: #fff !important;
    padding: 5px;
    border-radius: 10px;
    margin-left: 10px;
}