<!--Details-->
<div fxLayout="row wrap" fxLayoutAlign="start stretch" class="crm-stats-cards">
  <div fxFlex.gt-md="100" fxFlex.gt-sm="100" fxFlex="100">
    <mat-card>
      <mat-card-title>{{ 'financ_obj_details' | translate | capitalizeFirst}}</mat-card-title>
      <mat-divider></mat-divider>
      <div class="gene-card-content crm-list-wrap">
      </div>
      <table>
        <tr>
          <td class="tdFont">{{ 'hypothek_deaktiviert' | translate | capitalizeFirst }}</td>
          <td *ngIf="!financingObject.deactivatedSince">{{ 'financ_obj_activ' | translate | capitalizeFirst }}</td>
          <td *ngIf="financingObject.deactivatedSince">{{ financingObject.deactivatedSince | date:'dd.MM.yyyy'}}</td>
        </tr>
        <tr>
          <td class="tdFont">{{ 'financ_obj_usage_way' | translate | capitalizeFirst }}</td>
          <td *ngIf="financingObject.usage">{{ financingObject.usage | translate | capitalizeFirst }}</td>
        </tr>

      </table>
    </mat-card>
  </div>
</div>

<!--Structure-->
<div fxLayout="row wrap" fxLayoutAlign="start stretch" class="crm-stats-cards">
  <div fxFlex.gt-md="100" fxFlex.gt-sm="100" fxFlex="100">
    <mat-card>
      <mat-card-title>{{'finanzierungsobjekt_struktur' | translate | capitalizeFirst }}</mat-card-title>
      <mat-divider></mat-divider>
      <div class="gene-card-content crm-list-wrap" *ngFor="let property of financingObject.property; let i = index">
        <h4 class="mrgn-b-none">{{'grundstueck' | translate | capitalizeFirst}} {{(i + 1)}}</h4>
        <table>
          <tr>
            <td class="tdFont" *ngIf="property.remark !== '' ">{{'financ_obj_remark' | translate | capitalizeFirst}}
            </td>
            <td class="tdFont" *ngIf="property.remark !== '' ">{{ property.remark }}</td>
          </tr>
          <tr>
            <div *ngFor="let object of property.object">
              <td class="tdFont">
                <h4 class="mrgn-b-none">{{ object.adress.adresse }} <mat-chip *ngIf="object.sort" selected
                    [ngClass]="object.sort == 'BESTANDES' ? 'inventory-prop' : 'prop-for-develop'">
                    {{ 'objekt_art_'+object.sort.toLowerCase() | translate | capitalizeFirst }}</mat-chip>
                </h4>
                <h4 class="mrgn-b-none" *ngIf="!object.adress.adresse ">{{ 'filter_no_adress_found' | translate  }}
                  <mat-chip *ngIf="object.sort" selected
                    [ngClass]="object.sort == 'BESTANDES' ? 'inventory-prop' : 'prop-for-develop'">
                    {{ 'objekt_art_'+object.sort.toLowerCase() | translate | capitalizeFirst }}</mat-chip>
                </h4>
                <table>
                  <tr>
                    <td class="tdFont">{{'objekt_typ' | translate | capitalizeFirst }}</td>
                    <td>{{ object.type | translate | capitalizeFirst }}</td>
                  </tr>
                  <tr *ngIf="object.purchaseData && object.purchaseData.amount > 0">
                    <td class="tdFont">{{'objekt_kaufpreisjahr' | translate | capitalizeFirst }}</td>
                    <td>
                      <span>{{object.purchaseData.amount | currency:'CHF':'CHF':'0.0-0':'de-CH'}} /
                        {{object.purchaseData.date | date:'dd.MM.yyyy'}}</span>
                      <p *ngIf="object.purchaseData.comment" class="text-muted">{{object.purchaseData.comment}}</p>
                    </td>
                  </tr>
                  <tr *ngIf="object.saleDate">
                    <td class="tdFont">{{'objekt_verkaufsdatum' | translate | capitalizeFirst }}</td>
                    <td>{{ object.saleDate }}</td>
                  </tr>
                  <tr *ngIf="object.objectWorth && object.objectWorth.amount > 0">
                    <td class="tdFont">{{'objekt_objektwert' | translate | capitalizeFirst }}</td>
                    <td>
                      <span>{{object.objectWorth.amount | currency:'CHF':'CHF':'0.0-0':'de-CH'}}</span>
                      <p *ngIf="object.objectWorth.comment" class="text-muted">{{object.objectWorth.comment}}</p>
                    </td>
                  </tr>
                  <tr *ngIf="object.collateralValue && object.collateralValue.amount > 0">
                    <td class="tdFont">{{'objekt_belehnungswert' | translate | capitalizeFirst }}</td>
                    <td>
                      <span>{{object.collateralValue.amount | currency:'CHF':'CHF':'0.0-0':'de-CH'}}</span>
                      <p *ngIf="object.collateralValue.comment" class="text-muted">{{object.collateralValue.comment}}
                      </p>
                    </td>
                  </tr>
                  <tr
                    *ngIf="object.sort === 'BESTANDES' && object.investmentWorth && object.investmentWorth.amount > 0">
                    <td class="tdFont">{{'objekt_anlagenwert' | translate | capitalizeFirst }}</td>
                    <td>
                      <span>{{object.investmentWorth.amount | currency:'CHF':'CHF':'0.0-0':'de-CH'}}</span>
                      <p *ngIf="object.investmentWorth.comment" class="text-muted">{{object.investmentWorth.comment}}
                      </p>
                    </td>
                  </tr>
                  <tr *ngIf="object.investmentCost && object.investmentCost.amount > 0">
                    <td class="tdFont">{{'objekt_anlagenkosten' | translate | capitalizeFirst }}</td>
                    <td>
                      <span>{{object.investmentCost.amount | currency:'CHF':'CHF':'0.0-0':'de-CH'}}</span>
                      <p *ngIf="object.investmentCost.comment" class="text-muted">{{object.investmentCost.comment}}</p>
                    </td>
                  </tr>
                  <tr *ngIf="object.rentalincome && object.rentalincome.amount > 0">
                    <td class="tdFont">{{'objekt_mietertrag' | translate | capitalizeFirst }}</td>
                    <td>
                      <span>{{object.rentalincome.amount | currency:'CHF':'CHF':'0.0-0':'de-CH'}}
                        {{ 'each_year' | translate }}</span>
                      <p *ngIf="object.rentalincome.comment" class="text-muted">{{object.rentalincome.comment}}</p>
                    </td>
                  </tr>
                  <tr *ngIf="object.zoningInterest && object.zoningInterest.amount > 0">
                    <td class="tdFont">{{'objekt_baurechtzins' | translate | capitalizeFirst }}</td>
                    <td>
                      <span>{{object.zoningInterest.amount | currency:'CHF':'CHF':'0.0-0':'de-CH'}}
                        {{ 'each_year' | translate }}</span>
                      <p *ngIf="object.zoningInterest.comment" class="text-muted">{{object.zoningInterest.comment}}</p>
                    </td>
                  </tr>
                </table>
              </td>
            </div>
          </tr>
        </table>
      </div>
    </mat-card>
  </div>
</div>

<!--Internal comments-->
<div fxLayout="row wrap" fxLayoutAlign="space-between center">
  <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card fxFlex="100%">
      <mat-card-title>{{'financ_obj_intern_remark'|translate}}</mat-card-title>
      <div class="gene-card-content">
        <span *ngIf="financingObject.internalComments">{{financingObject.internalComments}}</span>
        <span *ngIf="!financingObject.internalComments">-</span>
      </div>
    </mat-card>
  </div>
</div>