.position-absolute {
    position: absolute !important;
}

.position-relative {
    position: relative !important;
}

.tab-label-icon-padding-bot {
    padding-bottom: 20px !important;
}

.tab-label-text-padding-top {
    padding-top: 35px !important;
}

/deep/.mat-tab-label, /deep/.mat-tab-label-active{
    min-width: 150 !important;
    padding: 3px !important;
    margin: 3px !important;
}

mat-card {
    overflow:unset !important;
}