<!--Load dashboard-->
<div fxLayout="row wrap" fxLayoutAlign="start center">
  <div fxFlex.gt-sm="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card>
      <div class="gene-card-content">
        <div fxLayout="row wrap" fxLayoutAlign="start center">

          <div fxFlex.gt-xs="100" fxFlex.gt-sm="30" fxFlex="100">
            <mat-form-field style="width: 75%">
              <input matInput [matDatepicker]="startDate" placeholder="Choose dashboard time">
              <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
              <mat-datepicker #startDate></mat-datepicker>
            </mat-form-field>
          </div>

          <div fxFlex.gt-xs="100" fxFlex.gt-sm="10" fxFlex="100">
            <button type="button" class="mrgn-all-xs" mat-raised-button mat-button-sm color="default">
              <mat-icon>search</mat-icon>
              <span>Load dashboard</span>
            </button>
          </div>

          <div fxFlex.gt-xs="100" fxFlex.gt-sm="10" fxFlex="100">
            <button type="button" class="mrgn-all-xs" mat-raised-button mat-button-sm color="default">
              <mat-icon>search</mat-icon>
              <span>Print credit list</span>
            </button>
          </div>

        </div>
      </div>
    </mat-card>
  </div>
</div>

<!--TABS-->
<div class="gene-card-content">
  <mat-tab-group mat-stretch-tabs (selectedTabChange)="tabChanged($event)">
    <mat-tab>
      <ng-template mat-tab-label class="position-relative">
        <span class="position-absolute tab-label-icon-padding-bot">
          <mat-icon>dashboard</mat-icon>
        </span>
        <span class="position-absolute tab-label-text-padding-top">
          <p>Cockpit</p>
        </span>
      </ng-template>
      <div class="pad-t-md pad-b-md">
        <tab-dashboard></tab-dashboard>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label class="position-relative">
        <span class="position-absolute tab-label-icon-padding-bot">
          <mat-icon>insert_chart</mat-icon>
        </span>
        <span class="position-absolute tab-label-text-padding-top">
          <p>Interests</p>
        </span>
      </ng-template>
      <div class="pad-t-md pad-b-md">
        <tab-interests #tabInterests></tab-interests>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label class="position-relative">
        <span class="position-absolute tab-label-icon-padding-bot">
          <mat-icon>access_time</mat-icon>
        </span>
        <span class="position-absolute tab-label-text-padding-top">
          <p>Duration</p>
        </span>
      </ng-template>
      <div class="pad-t-md pad-b-md">
        <tab-interest-term #tabInterestTerm></tab-interest-term>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label class="position-relative">
        <span class="position-absolute tab-label-icon-padding-bot">
          <mat-icon>flag</mat-icon>
        </span>
        <span class="position-absolute tab-label-text-padding-top">
          <p>Due credits</p>
        </span>
      </ng-template>
      <div class="pad-t-md pad-b-md">
        <tab-due-credits #tabDueCredits></tab-due-credits>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label class="position-relative">
        <span class="position-absolute tab-label-icon-padding-bot">
          <mat-icon>group_work</mat-icon>
        </span>
        <span class="position-absolute tab-label-text-padding-top">
          <p>Lender</p>
        </span>
      </ng-template>
      <div class="pad-t-md pad-b-md">
        <tab-lender-structure #tabLenderStructure></tab-lender-structure>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label class="position-relative">
        <span class="position-absolute tab-label-icon-padding-bot">
          <mat-icon>trending_up</mat-icon>
        </span>
        <span class="position-absolute tab-label-text-padding-top">
          <p>Credit growth</p>
        </span>
      </ng-template>
      <div class="pad-t-md pad-b-md">
        <tab-credit-growth #tabCreditGrowth></tab-credit-growth>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>