//Table of Content

/*
1.0 Material variables

2.0 Mixins

3.0 Core
   3.1 Header
   3.2 Horizontal Menu
   3.3 Preloader
   3.4 Scaffolding
   3.5 Sidebar
   3.6 Typography

4.0 Material Theme
   4.1 Button
   4.2 Dialog
   4.3 List
   4.4 Select
   4.5 Tabs

5.0 Component
   5.1 About
   5.2 Calendar
   5.3 Chat
   5.4 Comingsoon
   5.5 Courses
   5.6 Dark
   5.7 Dash Sections
   5.8 E commerce
   5.9 Editor
   5.10 Faq
   5.11 Feedback
   5.12 Media
   5.13 Pricing
   5.14 Search Page
   5.15 Seesion
   5.16 Sidebar Option
   5.17 Socail
   5.17 Table
   5.17 Taskboard
   5.17 Timeline
   5.17 Tour
   5.17 User
   5.18 Wheather
   
6.0 Utilities
   6.1 Base
   6.2 Bg
   6.3 Font Text
   6.4 Rtl
   6.5 Spaces

*/

@import "material.variables";
@import "mixins/bi-app/bi-app-ltr";
@import "app.variables";
@import "mixins";
@import "core";
@import "material";
@import "components";

@import "utilities/utilities";

@import "~@ng-select/ng-select/themes/material.theme.css";

.oxifina-btn{
    background:#37474F !important;
    color: white !important;
}

 $break-small: 1025px;
 $padding: 15px;

 mat-card-title{
   font-family: 'Quicksand', sans-serif;
   font-size: 20px !important;
   font-weight: bold !important;
}

mat-icon{
   font-size: 15px !important;
}

/* Hide last child bottom margin */
.ngx-datatable .datatable-row-wrapper:last-child {
   margin-bottom: 0px;
   border-bottom-width: 0px;
}

/* Responsive buttons */ 
.buttons-md{
   display: flex;
   flex-wrap: wrap;
   margin: 1rem;
   padding-left: 1.5em;
   padding-right: 1.5em;

   @media screen and (min-width: $break-small) {
      display: grid;
      grid-template-areas: "buttons-md1 buttons-md2";
      padding-left: 0;
      padding-right: 0;
   }

    button{
      margin-top: 5px;
      min-width: 100% !important;
      @media screen and (min-width: $break-small) {
         min-width: 64px !important;
         }
   }

   .buttons-md1{
      min-width: 100% !important;
      @media screen and (min-width: $break-small) {
      grid-area: buttons-md1;
      display: flex;
      justify-content: flex-start;
      min-width: auto !important;
      }
   }

   .buttons-md2{
      min-width: 100% !important;
      @media screen and (min-width: $break-small) {
      grid-area: buttons-md2;
      display: flex;
      justify-content: flex-end;
      min-width: auto !important;
      }
   }
}

/*Set cursor to pointer on all grids*/
.ngx-datatable.bootstrap:not(.cell-selection) .datatable-body-row:hover,
.ngx-datatable.material:not(.cell-selection) .datatable-body-row:hover .datatable-row-group{ 
   cursor: pointer !important;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}
