<!--Total section-->
<div fxLayout="row wrap" fxLayoutAlign="start center">
  <div fxFlex.gt-xs="100" fxFlex.gt-sm="30" fxFlex.gt-md="30" fxFlex="100">
    <mat-card>
		<mat-card-title>{{'hypo_details_customer' | translate | capitalizeFirst}}</mat-card-title>
      <mat-divider></mat-divider>
      <div class="gene-card-content">
		  <div *ngIf="mortgage">{{mortgage.totalCredit.customer | contactName}}</div>
      </div>
    </mat-card>
  </div>
  <div fxFlex.gt-xs="100" fxFlex.gt-sm="30" fxFlex.gt-md="30" fxFlex="100">
    <mat-card>
		<mat-card-title>{{'hypo_details_lender' | translate | capitalizeFirst}}</mat-card-title>
      <mat-divider></mat-divider>
      <div class="gene-card-content">
        <div *ngIf="mortgage">{{mortgage.totalCredit.creditor | contactName}}</div>
      </div>
    </mat-card>
  </div>
  <div fxFlex.gt-xs="100" fxFlex.gt-sm="40" fxFlex.gt-md="40" fxFlex="100">
    <mat-card>
		<mat-card-title>{{'hypo_details_fin_obj' | translate | capitalizeFirst}}</mat-card-title>
      <mat-divider></mat-divider>
      <div class="gene-card-content">
		  <div *ngIf="mortgage">{{mortgage.financeObject.name}}</div>
      </div>
    </mat-card>
  </div>
</div>

<!--TABS-->
<div class="gene-card-content">
  <mat-tab-group mat-stretch-tabs (selectedTabChange)="onTabChanged($event);">
    <mat-tab>
      <ng-template mat-tab-label class="position-relative">
        <span class="position-absolute tab-label-icon-padding-bot">
          <mat-icon>dashboard</mat-icon>
        </span>
        <span class="position-absolute tab-label-text-padding-top">
			<p>{{'hypo_details_overview' | translate | capitalizeFirst}}</p>
        </span>
      </ng-template>
      <div class="pad-t-md pad-b-md">
        <mortgage-overview></mortgage-overview>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label class="position-relative">
        <span class="position-absolute tab-label-icon-padding-bot">
          <mat-icon>search</mat-icon>
        </span>
        <span class="position-absolute tab-label-text-padding-top">
			<p>{{'hypo_details_credit' | translate | capitalizeFirst}}</p>
        </span>
      </ng-template>
      <div class="pad-t-md pad-b-md">
        <mortgage-credit-details [mortgage]="mortgage"
								 [isClient]="isClient"
								 [mortgageVolume]="mortgageVolume"
								 [regularAmortizations]="regularAmortizations"
								 [mortgageInterestMaturities]="mortgageInterestMaturities"
								 >

		</mortgage-credit-details>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label class="position-relative">
        <span class="position-absolute tab-label-icon-padding-bot">
          <mat-icon>attach_money</mat-icon>
        </span>
        <span class="position-absolute tab-label-text-padding-top">
			<p>{{'hypo_details_ammo' | translate | capitalizeFirst}}</p>
        </span>
      </ng-template>
      <div class="pad-t-md pad-b-md">
        <mortgage-amortization [amortizations]="amortizations"
							   [mortgageId]="mortgageId"
							   [isClient]="isClient"
							   (amortizationReload)="getAllAmortizations()">

		</mortgage-amortization>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>

<div fxLayout="row" fxLayoutAlign="space-between center">
  <div fxFlex.gt-xs="100" fxFlex.gt-sm="50" fxFlex.gt-md="50" fxFlex="100" class="button-align-left">
    <button type="button" class="mrgn-all-xs mat-raised-button btn-pdng" mat-raised-button mat-button-sm>
      <mat-icon class="font-s-15">chevron_left</mat-icon>
	  <span class="font-s-15">{{ 'back' | translate | capitalizeFirst}}</span>
    </button>
  </div>
  <div fxFlex.gt-xs="100" fxFlex.gt-sm="50" fxFlex.gt-md="50" fxFlex="100" class="button-align-right">
    <button type="button" class="mrgn-all-xs mat-raised-button btn-pdng" mat-raised-button mat-button-sm>
      <mat-icon class="font-s-15">edit</mat-icon>
	  <span class="font-s-15">{{ 'edit' | translate | capitalizeFirst}}</span>
    </button>
  </div>
</div>