.position-absolute {
    position: absolute !important;
}

.position-relative {
    position: relative !important;
}

.tab-label-icon-padding-bot {
    padding-bottom: 20px !important;
}

.tab-label-text-padding-top {
    padding-top: 35px !important;
}

.button-align-right {
    text-align: right !important;
    padding-right: 8px !important;
}

.button-align-left {
    padding-left: 8px !important;
}

.font-s-15 {
    font-size: 15px !important;
}

.btn-pdng {
    padding: 2px 12px !important
}