<!--Header-->
<div>
  <mat-card>
    <div class="mrgn-b-lg">
      <span>Lender</span>
      <h3>Banca Migros</h3>
    </div>
    <div fxLayout="row wrap">
      <div fxFlex.gt-md="25" fxFlex.gt-sm="50" fxFlex.gt-xs="100" fxFlex="100" fxLayoutAlign="center center">
        <span>Dashboard-time:</span>
      </div>
      <div fxFlex.gt-md="50" fxFlex.gt-sm="50" fxFlex.gt-xs="100" fxFlex="100">
        <mat-form-field class="full-wid">
          <input matInput [matDatepicker]="myDatepicker" placeholder="Choose a date">
          <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
          <mat-datepicker #myDatepicker></mat-datepicker>
        </mat-form-field>
      </div>
      <div fxFlex.gt-md="25" fxFlex.gt-sm="50" fxFlex.gt-xs="100" fxFlex="100" fxLayoutAlign="center center">
        <button mat-raised-button>
          <mat-icon style="font-size:15px;">create</mat-icon>Load dashboard
        </button>
      </div>
    </div>
  </mat-card>
</div>

<!--TABS-->
    <mat-tab-group mat-stretch-tabs (selectedTabChange)="tabChanged($event)">
      <mat-tab>
        <ng-template mat-tab-label class="position-relative">
          <span class="position-absolute tab-label-icon-padding-bot">
            <mat-icon class="primary-color">search</mat-icon>
          </span>
          <span class="position-absolute tab-label-text-padding-top">
            <p>Customer details</p>
          </span>
        </ng-template>
        <div class="pad-t-md pad-b-md">
          <user-customer-details></user-customer-details>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label class="position-relative">
          <span class="position-absolute tab-label-icon-padding-bot">
            <mat-icon class="primary-color">dashboard</mat-icon>
          </span>
          <span class="position-absolute tab-label-text-padding-top">
            <p>Cockpit</p>
          </span>
        </ng-template>
        <div class="pad-t-md pad-b-md">
            <ms-cockpit #cockpitShared></ms-cockpit>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label class="position-relative">
          <span class="position-absolute tab-label-icon-padding-bot">
            <mat-icon class="primary-color">insert_chart</mat-icon>
          </span>
          <span class="position-absolute tab-label-text-padding-top">
            <p>Interests</p>
          </span>
        </ng-template>
        <div class="pad-t-md pad-b-md">
          <tab-interests #interestsShared></tab-interests>  
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label class="position-relative">
          <span class="position-absolute tab-label-icon-padding-bot">
            <mat-icon class="primary-color">access_time</mat-icon>
          </span>
          <span class="position-absolute tab-label-text-padding-top">
            <p>Duration</p>
          </span>
        </ng-template>
        <div class="pad-t-md pad-b-md">
          <ms-duration #durationShared></ms-duration>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label class="position-relative">
          <span class="position-absolute tab-label-icon-padding-bot">
            <mat-icon class="primary-color">flag</mat-icon>
          </span>
          <span class="position-absolute tab-label-text-padding-top">
            <p>Due Credits</p>
          </span>
        </ng-template>
        <div class="pad-t-md pad-b-md">
          <tab-due-credits #dueCreditsShared></tab-due-credits>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label class="position-relative">
          <span class="position-absolute tab-label-icon-padding-bot">
            <mat-icon class="primary-color">pie_chart</mat-icon>
          </span>
          <span class="position-absolute tab-label-text-padding-top">
            <p>Lender</p>
          </span>
        </ng-template>
        <div class="pad-t-md pad-b-md">
          <tab-lender-structure #lenderStructureShared></tab-lender-structure>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label class="position-relative">
          <span class="position-absolute tab-label-icon-padding-bot">
            <mat-icon class="primary-color">poll</mat-icon>
          </span>
          <span class="position-absolute tab-label-text-padding-top">
            <p>Credit growth</p>
          </span>
        </ng-template>
        <div class="pad-t-md pad-b-md">
          <tab-credit-growth #creditGrowthShared></tab-credit-growth>
        </div>
      </mat-tab>
    </mat-tab-group>


<!--Footer-->

<!-- Buttons -->
<div class="buttons-md">
  <div class="buttons-md1">
    <button class="mat-raised-button" (click)="goBack()" mat-raised-button>
      <mat-icon>chevron_left</mat-icon>Back
    </button>
  </div>
  <div class="buttons-md2">
    <button class="mat-raised-button primary-color-bg"  mat-raised-button>
      <mat-icon>add</mat-icon>Create user
    </button>
    <button class="mat-raised-button primary-color-bg" mat-raised-button>
      <mat-icon>add</mat-icon>New interest rate swap
    </button>
    <button class="mat-raised-button primary-color-bg" mat-raised-button (click)="newProperty()">
      <mat-icon>add</mat-icon>New property eligible for financing
    </button>
    <button class="mat-raised-button primary-color-bg" mat-raised-button>
      <mat-icon>add</mat-icon>New total loan
    </button>
    <button class="mat-raised-button primary-color-bg" mat-raised-button>
      <mat-icon>create</mat-icon>New rental income
    </button>
  </div>
</div>
