.position-absolute {
    position: absolute !important;
}

.position-relative {
    position: relative !important;
}

.tab-label-icon-padding-bot {
    padding-bottom: 20px !important;
}

.tab-label-text-padding-top {
    padding-top: 35px !important;
}

mat-card {
    overflow:unset !important;
}

.divMargin1{
    margin-left: 5px;
}


.buttons-row-style {
    background-color:transparent;
    border:0px;
    width:100%;
    box-shadow:none;
    padding-left:0;

}

.buttons-row-style:hover {
    box-shadow:none;
}

.left-border-distance {
    margin-left:2px!important;
}
