<div fxLayout="row wrap" fxLayoutAlign="start">
  <div fxFlex="100">
    <div class="pad-all-md mat-white box-inset mrgn-all-md">
      <form class="example-form" fxFlex="220px">
        <mat-form-field class="full-wid">
          <input matInput type="text" placeholder='{{"placeholder_search" | translate}}' (keyup)='updateFilter($event)' />
        </mat-form-field>
      </form>
    </div>



    <!-- Link button -->
    <div class="buttons-md">
      <div class="buttons-md1">
        <button class="mat-raised-button" mat-raised-button routerLink="/settings/ac/roles/new">
          <mat-icon>add</mat-icon>{{'new' | translate}}
        </button>
      </div>
    </div>


    <ngx-datatable #rolePermissionsTable class='material mrgn-all-md' [columnMode]="'force'"
      [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="10" [rows]='roles' [scrollbarH]="true"
      (activate)="onActivate($event)">

      <ngx-datatable-column [resizeable]="false" [draggable]="false" name="{{'id' | translate}}" prop="ID" [width]="500">

      </ngx-datatable-column>

      <ngx-datatable-column [resizeable]="false" [draggable]="false" name="{{'name' | translate}}" prop="Name" [width]="500">

      </ngx-datatable-column>



      <ngx-datatable-footer>
        <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize"
          let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset">
          <div class="page-count">
            <span>
              {{'total_number_of_roles' | translate}}: {{rowCount}}
            </span>
          </div>
          <datatable-pager [pagerLeftArrowIcon]="'datatable-icon-left'" [pagerRightArrowIcon]="'datatable-icon-right'"
            [pagerPreviousIcon]="'datatable-icon-prev'" [pagerNextIcon]="'datatable-icon-skip'" [page]="curPage"
            [size]="pageSize" [count]="rowCount" [hidden]="!((rowCount / pageSize) > 1)"
            (change)="rolePermissionsTable.onFooterPage($event)">
          </datatable-pager>
        </ng-template>
      </ngx-datatable-footer>
    </ngx-datatable>
  </div>
</div>