<mat-card *ngIf="showChart">
    <mat-card-title>{{ 'interest_rate_due' | translate }}</mat-card-title>
    <mat-divider></mat-divider>
    <div class="gene-card-content">
        <line-chart [height]="300" (output)="outputHandler($event)" [input]="chartInput"
            [yLabel]="('interest_rate_perc' | translate)"></line-chart>
    </div>
</mat-card>