<!--Maturity structure-->
<div fxLayout="row wrap" fxLayoutAlign="start top">

  <div fxFlex.gt-sm="70" fxFlex.gt-xs="100" fxFlex="100" fxFlex.gt-md="70">

    <mat-card>
      <mat-card-title>Maturity structure</mat-card-title>
      <mat-divider></mat-divider>
      <mat-card-content>
        <div class="gene-card-content" *ngIf="showChart">
          <canvas height="70" baseChart [datasets]="barChartMaturityData" [labels]="barChartLabelsMaturity" [options]="barChartOptionsMaturity"
            [legend]="barChartLegendMaturity" [chartType]="barChartTypeMaturity" [colors]="barChartColorsMaturity">
          </canvas>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="start center">
          <div fxFlex.gt-md="25" fxFlex.gt-sm="40" fxFlex.gt-xs="100" fxFlex="100" fxFlexOffset="2">
            <mat-form-field>
              <input matInput [matDatepicker]="startDateMaturity" placeholder="Choose date from">
              <mat-datepicker-toggle matSuffix [for]="startDateMaturity"></mat-datepicker-toggle>
              <mat-datepicker #startDateMaturity></mat-datepicker>
            </mat-form-field>
          </div>
          <div fxFlex.gt-md="25" fxFlex.gt-sm="40" fxFlex.gt-xs="100" fxFlex="100" fxFlexOffset="2">
            <mat-form-field>
              <input matInput [matDatepicker]="endDateMaturity" placeholder="Choose date until">
              <mat-datepicker-toggle matSuffix [for]="endDateMaturity"></mat-datepicker-toggle>
              <mat-datepicker #endDateMaturity></mat-datepicker>
            </mat-form-field>
          </div>
          <div fxFlex.gt-md="20" fxFlex.gt-sm="40" fxFlex.gt-xs="100" fxFlex="100" fxFlexOffset="2">
            <mat-checkbox>Stairway</mat-checkbox>
          </div>
          <div fxFlex.gt-md="20" fxFlex.gt-sm="40" fxFlex.gt-xs="100" fxFlex="100" fxFlexOffset="2">
            <mat-checkbox>Reference interest rate</mat-checkbox>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex.gt-sm="30" fxFlex.gt-md="30" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card>
      <div class="gene-card-content info-card-labels-position">
        <h3>3'700'000</h3>
        <div>Total loan volume (CHF)</div>
      </div>
    </mat-card>

    <mat-card>
      <div class="gene-card-content info-card-labels-position">
        <h3>4 Years</h3>
        <div>Middle term</div>
      </div>
    </mat-card>
  </div>

</div>

<!--Interest history-->
<div fxLayout="row wrap" fxLayoutAlign="start top">

  <div fxFlex.gt-sm="70" fxFlex.gt-xs="100" fxFlex="100" fxFlex.gt-md="70">

    <mat-card>
      <mat-card-title>Interest history</mat-card-title>
      <mat-divider></mat-divider>
      <mat-card-content>
        <div class="gene-card-content" *ngIf="showChart">
          <canvas baseChart height="101" [datasets]="lineChartSteppedData" [labels]="lineChartLabels"
            [options]="lineChartOptions" [legend]="lineChartLegend" [chartType]="lineChartType">
          </canvas>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="start center">
          <div fxFlex.gt-md="25" fxFlex.gt-sm="40" fxFlex.gt-xs="100" fxFlex="100" fxFlexOffset="2">
            <mat-form-field>
              <input matInput [matDatepicker]="startDateInterest" placeholder="Choose date from">
              <mat-datepicker-toggle matSuffix [for]="startDateInterest"></mat-datepicker-toggle>
              <mat-datepicker #startDateInterest></mat-datepicker>
            </mat-form-field>
          </div>
          <div fxFlex.gt-md="25" fxFlex.gt-sm="40" fxFlex.gt-xs="100" fxFlex="100" fxFlexOffset="2">
            <mat-form-field>
              <input matInput [matDatepicker]="endDateInterest" placeholder="Choose date until">
              <mat-datepicker-toggle matSuffix [for]="endDateInterest"></mat-datepicker-toggle>
              <mat-datepicker #endDateInterest></mat-datepicker>
            </mat-form-field>
          </div>
          <div fxFlex.gt-md="20" fxFlex.gt-sm="40" fxFlex.gt-xs="100" fxFlex="100" fxFlexOffset="2">
            <mat-checkbox>Stairway</mat-checkbox>
          </div>
          <div fxFlex.gt-md="20" fxFlex.gt-sm="40" fxFlex.gt-xs="100" fxFlex="100" fxFlexOffset="2">
            <mat-checkbox>Reference interest rate</mat-checkbox>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex.gt-sm="30" fxFlex.gt-md="30" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card>
      <div class="gene-card-content info-card-labels-position">
        <h3>25'250'000</h3>
        <div>Credit volume (CHF)</div>
      </div>
    </mat-card>
    <mat-card>
      <div class="gene-card-content info-card-labels-position">
        <h3>25'250'000</h3>
        <div>Credit volume (CHF)</div>
      </div>
    </mat-card>
    <mat-card>
      <div class="gene-card-content info-card-labels-position">
        <h3>25'250'000</h3>
        <div>Credit volume (CHF)</div>
      </div>
    </mat-card>
    <mat-card>
      <div class="gene-card-content info-card-labels-position">
        <h3>25'250'000</h3>
        <div>Credit volume (CHF)</div>
      </div>
    </mat-card>
  </div>

</div>

<!--Residual volume History-->
<div fxLayout="row wrap" fxLayoutAlign="start top">

  <div fxFlex.gt-sm="60" fxFlex.gt-xs="100" fxFlex="100" fxFlex.gt-md="60">

    <mat-card>
      <mat-card-title>Residual volume History</mat-card-title>
      <mat-divider></mat-divider>
      <mat-card-content>
        <div class="gene-card-content" *ngIf="showChart">
          <canvas baseChart height="101" [datasets]="lineChartSteppedData" [labels]="lineChartLabels"
            [options]="lineChartOptions" [legend]="lineChartLegend" [chartType]="lineChartType">
          </canvas>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="start center">
          <div fxFlex.gt-md="25" fxFlex.gt-sm="40" fxFlex.gt-xs="100" fxFlex="100" fxFlexOffset="2">
            <mat-form-field>
              <input matInput [matDatepicker]="startDateResidual" placeholder="Choose date from">
              <mat-datepicker-toggle matSuffix [for]="startDateResidual"></mat-datepicker-toggle>
              <mat-datepicker #startDateResidual></mat-datepicker>
            </mat-form-field>
          </div>
          <div fxFlex.gt-md="25" fxFlex.gt-sm="40" fxFlex.gt-xs="100" fxFlex="100" fxFlexOffset="2">
            <mat-form-field>
              <input matInput [matDatepicker]="endDateResidual" placeholder="Choose date until">
              <mat-datepicker-toggle matSuffix [for]="endDateResidual"></mat-datepicker-toggle>
              <mat-datepicker #endDateResidual></mat-datepicker>
            </mat-form-field>
          </div>
          <div fxFlex.gt-md="20" fxFlex.gt-sm="40" fxFlex.gt-xs="100" fxFlex="100" fxFlexOffset="2">
            <mat-checkbox>Stairway</mat-checkbox>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex.gt-sm="40" fxFlex.gt-md="40" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card fxFlex="100%">
      <mat-card-title>{{'Lender structure'|translate}}</mat-card-title>
      <div class="gene-card-content" fxLayout="row wrap" fxLayoutAlign="space-between center">
        <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex.gt-md="100" *ngIf="showChart">
          <canvas baseChart height="200" [data]="doughnutChartData" [options]="PieChartOptions"
            [colors]="pieChartColors" [chartType]="doughnutChartType" [labels]="doughnatChartLabels"
            [legend]="doughnutLegend"></canvas>
        </div>
      </div>
    </mat-card>
  </div>

</div>