mat-form-field {
    width: 95%;
}

/deep/.ngx-datatable .datatable-row-wrapper:last-child{
  margin-bottom: 0px !important;
  border-bottom: none;
}

/deep/ .ngx-datatable .datatable-footer {
  display: none !important;
}

// Escape infinite scroll on firefox grid because of group header
:host ::ng-deep .ngx-datatable .datatable-body .datatable-scroll {
  display: inherit;
}

/deep/ .grid-bold-header .datatable-header-cell-label {
  font-size: 13px !important;
  white-space: initial !important;
  font-weight: bold !important;
  color: #37474F !important;
}

/deep/ .cell-text-right .datatable-body-cell-label {
text-align: right !important;
}

/deep/ .header-text-right .datatable-header-cell-template-wrap {
text-align: right !important;
}

.grid-top-mrgn {
  margin-top: 2px !important
}

.mrgn-b-0 {
  margin-bottom: 0px
}