.position-absolute {
    position: absolute !important;
}

.position-relative {
    position: relative !important;
}

.tab-label-icon-padding-bot {
    padding-bottom: 20px !important;
}

.tab-label-text-padding-top {
    padding-top: 35px !important;
}

/deep/.mat-tab-label, /deep/.mat-tab-label-active{
    min-width: 200px !important;
    padding: 3px !important;
    margin: 3px !important;
}

/deep/.ngx-datatable .datatable-row-wrapper:last-child{
    margin-bottom: 0px !important;
}

/deep/ .header-text-right .datatable-header-cell-template-wrap {
    text-align: right !important;
}

/deep/ .grid-bold-header .datatable-header-cell-label {
    font-size: 13px !important;
    white-space: initial !important;
    font-weight: bold !important;
    color: #37474F !important;
}

/deep/ .cell-text-right .datatable-body-cell-label {
    text-align: right !important;
}

// Escape infinite scroll on firefox grid because of group header
:host ::ng-deep .ngx-datatable .datatable-body .datatable-scroll {
    display: inherit;
  }

.grid-header-font-style {
  font-size: 13px !important;
  font-weight: bold !important;
  color: #37474F !important; 
}

.mobile-header-display {
  width: 140px !important;
  display: inline-block;
}
  
  //Grid responsive breakpoints
  @media screen and (max-width: 800px) {
      .desktop-hidden {
        display: initial;
      }
      .mobile-hidden {
        display: none;
      }
    }
    @media screen and (min-width: 800px) {
      .desktop-hidden {
        display: none;
      }
      .mobile-hidden {
        display: initial;
      }
    }