<div class="gene-card-content">
  <mat-tab-group mat-stretch-tabs>

    <!--Mortgages tab-->
    <mat-tab>
      <ng-template mat-tab-label class="position-relative">
        <span class="position-absolute tab-label-icon-padding-bot">
          <mat-icon>dashboard</mat-icon>
        </span>
        <span class="position-absolute tab-label-text-padding-top">
          <p>{{'main_menu_hypotheken' | translate}}</p>
        </span>
      </ng-template>
      <div class="pad-t-md pad-b-md">
        <div>
          <ngx-datatable #mortgagesTable class='material mrgn-all-md grid-bold-header' [columnMode]="'force'"
            [headerHeight]="'auto'" [footerHeight]="0" [rowHeight]="'auto'" [rows]='adaptedMortgages' [scrollbarH]="false"
            (activate)="onActivate($event)">

            <!-- Row Details Template -->
            <ngx-datatable-row-detail [rowHeight]="'auto'" #myDetailRow (toggle)="onDetailToggle($event)">
              <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
                <div style="padding-left:15px; font-size:14px">
                  <div style="padding-bottom: 5px"><span
                      class="mobile-header-display grid-header-font-style">{{'deactivated_customer' | translate}}</span><span>{{ row.Customer }}</span>
                  </div>
                  <div><span class="mobile-header-display grid-header-font-style">{{'deactivated_since' | translate}}</span><span>{{ row.Deactivated }}</span></div>
                </div>
              </ng-template>
            </ngx-datatable-row-detail>

            <!-- Column Templates -->
            <ngx-datatable-column [width]="50" [resizeable]="false" [sortable]="false" [draggable]="false"
              [canAutoResize]="false">
              <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                <a [class.datatable-icon-right]="!expanded" [class.datatable-icon-down]="expanded"
                  title="Expand/Collapse Row" (click)="toggleExpandMortgagesTable(row)" class="desktop-hidden">
                </a>
              </ng-template>
            </ngx-datatable-column>

            <!--Desktop grid columns-->
            <ngx-datatable-column name="{{'deactivated_hypo' | translate}}" [resizeable]="false" [minWidth]="350">
              <ng-template let-value="row.Mortgage" ngx-datatable-cell-template>
                {{value}}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="{{'deactivated_customer' | translate}}" [resizeable]="false" [minWidth]="250" prop="Customer">
              <ng-template let-column="column" ngx-datatable-header-template>
                <span class="mobile-hidden grid-header-font-style">{{'deactivated_customer' | translate}}</span>
              </ng-template>
              <ng-template let-value="value" ngx-datatable-cell-template>
                <span class="mobile-hidden">{{ value }}</span>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="{{'deactivated_since' | translate}}" [resizeable]="false" [canAutoResize]="false" [width]="160"
              prop="Deactivated">
              <ng-template let-column="column" ngx-datatable-header-template>
                <span class="mobile-hidden grid-header-font-style">{{'deactivated_since' | translate}}</span>
              </ng-template>
              <ng-template let-value="value" ngx-datatable-cell-template>
                <span class="mobile-hidden">{{ value | date:'dd.MM.yyyy'}}</span>
              </ng-template>
            </ngx-datatable-column>

          </ngx-datatable>
        </div>

      </div>
    </mat-tab>

    <!--Interest rate swaps tab-->
    <mat-tab>
      <ng-template mat-tab-label class="position-relative">
        <span class="position-absolute tab-label-icon-padding-bot">
          <mat-icon>dashboard</mat-icon>
        </span>
        <span class="position-absolute tab-label-text-padding-top">
          <p>{{'deactivated_zins' | translate}}</p>
        </span>
      </ng-template>
      <div class="pad-t-md pad-b-md">
        <div>
          <ngx-datatable #rateSwapsTable class='material mrgn-all-md grid-bold-header' [columnMode]="'force'"
            [headerHeight]="'auto'" [footerHeight]="0" [rowHeight]="'auto'" [rows]='adaptedInterestRate' [scrollbarH]="false"
            (activate)="onActivate($event)">

            <!-- Row Details Template -->
            <ngx-datatable-row-detail [rowHeight]="'auto'" #myDetailRow (toggle)="onDetailToggle($event)">
              <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
                <div style="padding-left:15px; font-size:14px">
                  <div><span class="mobile-header-display grid-header-font-style">{{'deactivated_since' | translate}}</span><span>{{ row.Deactivated }}</span></div>
                </div>
              </ng-template>
            </ngx-datatable-row-detail>

            <!-- Column Templates -->
            <ngx-datatable-column [width]="50" [resizeable]="false" [sortable]="false" [draggable]="false"
              [canAutoResize]="false">
              <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                <a [class.datatable-icon-right]="!expanded" [class.datatable-icon-down]="expanded"
                  title="Expand/Collapse Row" (click)="toggleExpandRateSwapsTable(row)" class="desktop-hidden">
                </a>
              </ng-template>
            </ngx-datatable-column>

            <!--Desktop grid columns-->
            <ngx-datatable-column name="{{'deactivated_zins' | translate}}" [resizeable]="false" [minWidth]="350">
              <ng-template let-value="row.InterestRate" ngx-datatable-cell-template>
                {{value}}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="{{'deactivated_since' | translate}}" [resizeable]="false" [canAutoResize]="false" [width]="160"
              prop="Deactivated">
              <ng-template let-column="column" ngx-datatable-header-template>
                <span class="mobile-hidden grid-header-font-style">{{'deactivated_since' | translate}}</span>
              </ng-template>
              <ng-template let-value="value" ngx-datatable-cell-template>
                <span class="mobile-hidden">{{ value | date:'dd.MM.yyyy'}}</span>
              </ng-template>
            </ngx-datatable-column>

          </ngx-datatable>
        </div>

      </div>
    </mat-tab>

    <!--Properties eligible for financing tab-->
    <mat-tab>
      <ng-template mat-tab-label class="position-relative">
        <span class="position-absolute tab-label-icon-padding-bot">
          <mat-icon>dashboard</mat-icon>
        </span>
        <span class="position-absolute tab-label-text-padding-top">
          <p>{{'deactivated_finance' | translate}}</p>
        </span>
      </ng-template>
      <div class="pad-t-md pad-b-md">
        <!-- <h4 *ngIf="!financingObjectsExists">No deactivated finance objects</h4> -->

        <div>
          <ngx-datatable #propertiesTable class='material mrgn-all-md grid-bold-header' [columnMode]="'force'"
            [headerHeight]="'auto'" [footerHeight]="0" [rowHeight]="'auto'" [rows]='adaptedProperties' [scrollbarH]="false"
            (activate)="onActivate($event)">

            <!-- Row Details Template -->
            <ngx-datatable-row-detail [rowHeight]="'auto'" #myDetailRow (toggle)="onDetailToggle($event)">
              <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
                <div style="padding-left:15px; font-size:14px">
                  <div><span class="mobile-header-display grid-header-font-style">{{'deactivated_since' | translate}}</span><span>{{ row.Deactivated }}</span></div>
                </div>
              </ng-template>
            </ngx-datatable-row-detail>

            <!-- Column Templates -->
            <ngx-datatable-column [width]="50" [resizeable]="false" [sortable]="false" [draggable]="false"
              [canAutoResize]="false">
              <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                <a [class.datatable-icon-right]="!expanded" [class.datatable-icon-down]="expanded"
                  title="Expand/Collapse Row" (click)="toggleExpandPropertiesTable(row)" class="desktop-hidden">
                </a>
              </ng-template>
            </ngx-datatable-column>

            <!--Desktop grid columns-->
            <ngx-datatable-column name="{{'deactivated_finance' | translate}}" [resizeable]="false" [minWidth]="350">
              <ng-template let-value="row.Property" ngx-datatable-cell-template>
                {{value}}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="{{'deactivated_since' | translate}}" [resizeable]="false" [canAutoResize]="false" [width]="160"
              prop="Deactivated">
              <ng-template let-column="column" ngx-datatable-header-template>
                <span class="mobile-hidden grid-header-font-style">{{'deactivated_since' | translate}}</span>
              </ng-template>
              <ng-template let-value="value" ngx-datatable-cell-template>
                <span class="mobile-hidden">{{ value | date:'dd.MM.yyyy'}}</span>
              </ng-template>
            </ngx-datatable-column>

          </ngx-datatable>
        </div>

      </div>
    </mat-tab>

    <!--Total loans tab-->
    <mat-tab>
      <ng-template mat-tab-label class="position-relative">
        <span class="position-absolute tab-label-icon-padding-bot">
          <mat-icon>dashboard</mat-icon>
        </span>
        <span class="position-absolute tab-label-text-padding-top">
          <p>{{'deactivated_credit' | translate}}</p>
        </span>
      </ng-template>
      <div class="pad-t-md pad-b-md">
        <div>
          <ngx-datatable #totalLoansTable *ngIf="adaptedLoans.length" class='material mrgn-all-md grid-bold-header'
            [columnMode]="'force'" [headerHeight]="'auto'" [footerHeight]="0" [rowHeight]="'auto'" [rows]='adaptedLoans'
            [scrollbarH]="false" (activate)="onActivate($event)">

            <!-- Row Details Template  -->
            <ngx-datatable-row-detail [rowHeight]="'auto'" #myDetailRow (toggle)="onDetailToggle($event)">
              <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
                <div style="padding-left:15px; font-size:14px">
                  <div style="padding-bottom: 5px"><span
                      class="mobile-header-display grid-header-font-style">{{'deactivated_lender' | translate}}</span><span>{{ row.Lender }}</span>
                  </div>
                  <div style="padding-bottom: 5px"><span class="mobile-header-display grid-header-font-style">{{'deactivated_tot_credit' | translate}}</span><span>{{ row.Loan }}</span>
                  </div>
                  <div><span class="mobile-header-display grid-header-font-style">{{'deactivated_since' | translate}}</span><span>{{ row.Deactivated }}</span>
                  </div>
                </div>
              </ng-template>
            </ngx-datatable-row-detail>

            <!-- Column Templates -->
            <ngx-datatable-column [width]="50" [resizeable]="false" [sortable]="false" [draggable]="false"
              [canAutoResize]="false">
              <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                <a [class.datatable-icon-right]="!expanded" [class.datatable-icon-down]="expanded"
                  title="Expand/Collapse Row" (click)="toggleExpandTotalLoansTable(row)" class="desktop-hidden">
                </a>
              </ng-template>
            </ngx-datatable-column>

            <!--Desktop grid columns-->
            <ngx-datatable-column name="{{'deactivated_customer' | translate}}" [resizeable]="false" [minWidth]="350">
              <ng-template let-value="row.Customer" ngx-datatable-cell-template>
                {{value}}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="{{'deactivated_lender' | translate}}" [resizeable]="false" [minWidth]="250" prop="Lender">
              <ng-template let-column="column" ngx-datatable-header-template>
                <span class="mobile-hidden grid-header-font-style">{{'deactivated_lender' | translate}}</span>
              </ng-template>
              <ng-template let-value="value" ngx-datatable-cell-template>
                <span class="mobile-hidden">{{ value }}</span>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="{{'deactivated_tot_credit' | translate}}" [resizeable]="false" [canAutoResize]="false" [width]="200"
              headerClass="header-text-right" cellClass="cell-text-right" prop="Loan">
              <ng-template let-column="column" ngx-datatable-header-template>
                <span class="mobile-hidden grid-header-font-style">{{'deactivated_tot_credit' | translate}}</span>
              </ng-template>
              <ng-template let-value="value" ngx-datatable-cell-template>
                <span class="mobile-hidden">{{ value }}</span>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="{{'deactivated_since' | translate}}" [resizeable]="false" [canAutoResize]="false" [width]="160"
              prop="Deactivated">
              <ng-template let-column="column" ngx-datatable-header-template>
                <span class="mobile-hidden grid-header-font-style">{{'Ddeactivated_since' | translate}}</span>
              </ng-template>
              <ng-template let-value="value" ngx-datatable-cell-template>
                <span class="mobile-hidden">{{ value | date:'dd.MM.yyyy'}}</span>
              </ng-template>
            </ngx-datatable-column>

          </ngx-datatable>
        </div>

      </div>
    </mat-tab>
  </mat-tab-group>
</div>