<!--Maturity structure-->
<div fxLayout="row wrap" fxLayoutAlign="start top">
  <div fxFlex.gt-xs="100" fxFlex.gt-sm="70" fxFlex.gt-md="70" fxFlex="100">
    <mat-card>
      <mat-card-title>Maturity structure</mat-card-title>
      <mat-divider></mat-divider>
      <mat-card-content>
        <div class="gene-card-content" *ngIf="showChart">
          <canvas height="70" baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
            [legend]="barChartLegend" [chartType]="barChartType" [colors]="barChartColors">
          </canvas>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="start center">
          <div fxFlex.gt-md="25" fxFlex.gt-sm="40" fxFlex.gt-xs="100" fxFlex="100" fxFlexOffset="2">
            <mat-checkbox>Show all years</mat-checkbox>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex.gt-xs="100" fxFlex.gt-sm="30" fxFlex.gt-md="30" fxFlex="100">
    <mat-card>
      <div class="gene-card-content info-card-labels-position">
        <h3>1'100'000</h3>
        <div>Total loan volume (CHF)</div>
      </div>
    </mat-card>
    <mat-card>
      <div class="gene-card-content info-card-labels-position">
        <h3>1 Year and 8 Months</h3>
        <div>Middle term</div>
      </div>
    </mat-card>
  </div>
</div>

<!--Interest history-->
<div fxLayout="row wrap" fxLayoutAlign="start top">

  <div fxFlex.gt-sm="70" fxFlex.gt-xs="100" fxFlex="100" fxFlex.gt-md="70">
    <mat-card>
      <mat-card-title>Interest history</mat-card-title>
      <mat-divider></mat-divider>
      <mat-card-content>
        <div class="gene-card-content" *ngIf="showChart">
          <canvas baseChart height="90" [datasets]="lineChartSteppedData" [labels]="lineChartLabels"
            [options]="lineChartOptions" [legend]="lineChartLegend" [chartType]="lineChartType">
          </canvas>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="start center">
          <div fxFlex.gt-md="25" fxFlex.gt-sm="40" fxFlex.gt-xs="100" fxFlex="100" fxFlexOffset="2">
            <mat-form-field>
              <input matInput [matDatepicker]="startDateInterest" placeholder="Choose date from">
              <mat-datepicker-toggle matSuffix [for]="startDateInterest"></mat-datepicker-toggle>
              <mat-datepicker #startDateInterest></mat-datepicker>
            </mat-form-field>
          </div>
          <div fxFlex.gt-md="25" fxFlex.gt-sm="40" fxFlex.gt-xs="100" fxFlex="100" fxFlexOffset="2">
            <mat-form-field>
              <input matInput [matDatepicker]="endDateInterest" placeholder="Choose date until">
              <mat-datepicker-toggle matSuffix [for]="endDateInterest"></mat-datepicker-toggle>
              <mat-datepicker #endDateInterest></mat-datepicker>
            </mat-form-field>
          </div>
          <div fxFlex.gt-md="20" fxFlex.gt-sm="40" fxFlex.gt-xs="100" fxFlex="100" fxFlexOffset="2">
            <mat-checkbox>Stairway</mat-checkbox>
          </div>
          <div fxFlex.gt-md="20" fxFlex.gt-sm="40" fxFlex.gt-xs="100" fxFlex="100" fxFlexOffset="2">
            <mat-checkbox>Reference interest rate</mat-checkbox>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex.gt-sm="30" fxFlex.gt-md="30" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card>
      <div class="gene-card-content info-card-labels-position">
        <h3>1.018</h3>
        <div>Average interest (%)</div>
      </div>
    </mat-card>
    <mat-card>
      <div class="gene-card-content info-card-labels-position">
        <h3>11'198 </h3>
        <div>Interest per year (CHF)</div>
      </div>
    </mat-card>
    <mat-card>
      <div class="gene-card-content info-card-labels-position">
        <h3>0 </h3>
        <div>Amortization per year (CHF)</div>
      </div>
    </mat-card>
    <mat-card>
      <div class="gene-card-content info-card-labels-position">
        <h3>900'000 </h3>
        <div>Rental income p.a. (CHF)</div>
      </div>
    </mat-card>
  </div>

</div>


<!--Residual volume History-->
<div fxLayout="row wrap" fxLayoutAlign="start top">
  <div fxFlex.gt-sm="60" fxFlex.gt-xs="100" fxFlex="100" fxFlex.gt-md="60">
    <mat-card>
      <mat-card-title>Residual volume History</mat-card-title>
      <mat-divider></mat-divider>
      <mat-card-content>
        <div class="gene-card-content" *ngIf="showChart">
          <canvas baseChart height="100" [datasets]="lineChartSteppedData" [labels]="lineChartLabels"
            [options]="lineChartOptions" [legend]="lineChartLegend" [chartType]="lineChartType">
          </canvas>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="start center">
          <div fxFlex.gt-xs="98" fxFlex.gt-sm="48" fxFlex.gt-md="31" fxFlex="100" fxFlexOffset="2">
            <mat-form-field>
              <input matInput [matDatepicker]="startDateResidual" placeholder="Choose date from">
              <mat-datepicker-toggle matSuffix [for]="startDateResidual"></mat-datepicker-toggle>
              <mat-datepicker #startDateResidual></mat-datepicker>
            </mat-form-field>
          </div>
          <div fxFlex.gt-xs="98" fxFlex.gt-sm="48" fxFlex.gt-md="31" fxFlex="100" fxFlexOffset="2">
            <mat-form-field>
              <input matInput [matDatepicker]="endDateResidual" placeholder="Choose date until">
              <mat-datepicker-toggle matSuffix [for]="endDateResidual"></mat-datepicker-toggle>
              <mat-datepicker #endDateResidual></mat-datepicker>
            </mat-form-field>
          </div>
          <div fxFlex.gt-xs="98" fxFlex.gt-sm="98" fxFlex.gt-md="32" fxFlex="100" fxFlexOffset="2">
            <mat-checkbox>Stairway</mat-checkbox>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex.gt-sm="40" fxFlex.gt-md="40" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card>
      <mat-card-title>Lender structure</mat-card-title>
      <mat-divider></mat-divider>
      <mat-card-content>
        <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex.gt-md="100" *ngIf="showChart" style="padding: 30px 20px">
          <canvas baseChart height="150" [data]="doughnutChartData" [options]="PieChartOptions"
            [colors]="pieChartColors" [chartType]="doughnutChartType" [labels]="doughnatChartLabels"
            [legend]="doughnutLegend"></canvas>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

</div>