<div fxLayout="row wrap" fxLayoutAlign="space-between start">

  <!-- New interest rate start -->
  <div fxFlex.gt-xs="100" fxFlex.gt-sm="100" fxFlex.gt-md="50" fxFlex.gt-lg="40" fxFlex="100">
    <ms-interest-rate-panel (onReload)="loadData()" (onEdit)="editRate($event)"></ms-interest-rate-panel>
  </div>
  <!-- New interest rate end -->

  <!-- Interest rate edit start -->
  <div fxFlex.gt-xs="100" fxFlex.gt-sm="100" fxFlex.gt-md="100" fxFlex.gt-lg="60" fxFlex="100">
    <ms-interest-rate-list (onReload)="loadData()" *ngIf="selectedRate" [rate]="selectedRate"></ms-interest-rate-list>
  </div>
  <!-- Interest rate edit end -->
  
</div>


<!-- Stepped Line Chart start-->
<div fxLayout="row wrap" fxLayoutAlign="space-between start">
  <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" fxFlex.gt-md="100">
    <chart-rate-series [reload]="emitter"></chart-rate-series>
  </div>
</div>
<!-- Stepped Line Chart end-->