<!--First part - Total loan -->
<div fxLayout="row wrap" fxLayoutAlign="space-between start">
    <div fxFlex.gt-xs="100" fxFlex.gt-sm="50" fxFlex="100">
        <mat-card fxFlex="100%">
            <div class="gene-card-title">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <div fxLayout="column">
                        <mat-card-title>{{'kunde' | translate}}</mat-card-title>
                    </div> <span fxFlex></span>
                </div>
                <mat-divider></mat-divider>
            </div>
            <div class="gene-card-content">
                <span class="clickable" (click)="goToCustomer()">{{totalLoanData.customer.name}}</span>
                <span *ngIf="totalLoanData.customer.surname" class="clickable" (click)="goToCustomer()">
                    {{totalLoanData.customer.surname}}</span>
            </div>
        </mat-card>
    </div>

    <div fxFlex.gt-xs="100" fxFlex.gt-sm="50" fxFlex="100">
        <mat-card fxFlex="100%">
            <div class="gene-card-title">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <div fxLayout="column">
                        <mat-card-title>{{'gesamtkredit_kreditgeber' | translate}}</mat-card-title>
                    </div> <span fxFlex></span>
                </div>
                <mat-divider></mat-divider>
            </div>
            <div class="gene-card-content lender-card-wrap">

                <form [formGroup]="userForm">
                    <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                        <!--Lender-->
                        <div fxFlex.gt-xs="100" fxFlex="100">
                            <ng-select [items]="lenders" [multiple]="false" [virtualScroll]="true" bindLabel="name"
                                bindValue="id" placeholder="{{'gesamtkredit_kreditgeber' | translate}} *"
                                formControlName="selectLender">
                            </ng-select>
                            <mat-error
                                *ngIf="userForm.controls['selectLender'].hasError('required') && userForm.controls['selectLender'].touched">
                                <mat-error class="required alert-error ng-sel-error-position">
                                    {{'val_select_required' | translate}}
                                </mat-error>
                            </mat-error>
                        </div>
                    </div>
                </form>

            </div>
        </mat-card>
    </div>

</div>


<!--Details mortgages-->
<div fxLayout="row wrap" fxLayoutAlign="space-between center">
    <div fxFlex.gt-xs="100" fxFlex="100">
        <mat-card fxFlex="100%">
            <div class="gene-card-title">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <div fxLayout="column">
                        <mat-card-title>{{'details' | translate}}</mat-card-title>
                    </div> <span fxFlex></span>
                </div>
                <mat-divider></mat-divider>
            </div>
            <div class="gene-card-content">
                <form [formGroup]="userForm">
                    <div fxLayout="row wrap" fxLayoutAlign="space-between start">
                        <!-- Table of item that do not update -->
                        <div fxFlex.gt-sm="50" fxFlex.gt-xs="100" fxFlex="100">

                            <div fxLayout="row wrap" fxLayoutAlign="start center" class="pdng-btm-5">
                                <div fxFlex.gt-xs="100" fxFlex="100">
                                    <!--Origin limit-->
                                    <mat-form-field class="full-wid mrgn-b-md">
                                        <input type="number" matInput
                                            placeholder="{{'gesamtkredit_ursprung' | translate | capitalizeFirst}} CHF *"
                                            formControlName="creditLimit">
                                        <mat-error
                                            *ngIf="userForm.controls['creditLimit'].hasError('required') && userForm.controls['creditLimit'].touched || userForm.controls['creditLimit'].hasError('min')">
                                            <mat-error class="required alert-error">
                                                {{'val_positive_number' | translate}}
                                            </mat-error>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div fxLayout="row wrap" fxLayoutAlign="start center" class="pdng-btm-5">
                                <div fxFlex.gt-xs="35" fxFlex="100">
                                    <label class="tdFont">{{'gesamtkredit_limit' | translate | capitalizeFirst}}</label>
                                </div>
                                <div fxFlex.gt-xs="65" fxFlex="100">
                                    <label
                                        *ngIf="editMode">{{totalLoanData.limitReduction | currency:'CHF':'CHF':'0.0-0':'de-CH'}}</label>
                                </div>
                            </div>

                            <div fxLayout="row wrap" fxLayoutAlign="start center" class="pdng-btm-5">
                                <div fxFlex.gt-xs="35" fxFlex="100">
                                    <label class="tdFont">{{'gesamtkredit_actual_limit' | translate}}</label>
                                </div>
                                <div fxFlex.gt-xs="65" fxFlex="100">
                                    <label
                                        *ngIf="editMode">{{totalLoanData.actualLimits | currency:'CHF':'CHF':'0.0-0':'de-CH'}}</label>
                                </div>
                            </div>

                            <div fxLayout="row wrap" fxLayoutAlign="start center" class="pdng-btm-5">
                                <div fxFlex.gt-xs="35" fxFlex="100">
                                    <label class="tdFont">{{'gesamtkredit_call_limit' | translate}}</label>
                                </div>
                                <div fxFlex.gt-xs="65" fxFlex="100">
                                    <label
                                        *ngIf="editMode">{{totalLoanData.mortgageVolumeSum | currency:'CHF':'CHF':'0.0-0':'de-CH'}}</label>
                                </div>
                            </div>

                            <div fxLayout="row wrap" fxLayoutAlign="start center" class="pdng-btm-5">
                                <div fxFlex.gt-xs="35" fxFlex="100">
                                    <label class="tdFont">{{'gesamtkredit_open_limit' | translate}}</label>
                                </div>
                                <div fxFlex.gt-xs="65" fxFlex="100">
                                    <label
                                        *ngIf="editMode">{{totalLoanData.openLimits | currency:'CHF':'CHF':'0.0-0':'de-CH'}}</label>
                                </div>
                            </div>

                            <div fxLayout="row wrap" fxLayoutAlign="start center">
                                <div fxFlex.gt-xs="100" fxFlex="100">
                                    <!--Comments on open limits-->
                                    <mat-form-field class="full-wid mrgn-b-md">
                                        <textarea matInput rows="4"
                                            placeholder="{{'gesamtkredit_remarks_to_open_limit' | translate}}"
                                            formControlName="remarksOnOpenLimits"></textarea>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div fxLayout="row wrap" fxLayoutAlign="start center">
                                <div fxFlex.gt-xs="100" fxFlex="100">
                                    <!--Regular limit reduction-->
                                    <mat-form-field class="full-wid mrgn-b-md">
                                        <input type="number" matInput
                                            placeholder="{{'gesamtkredit_reg_reduction' | translate}} CHF"
                                            formControlName="regularLimitReductionAmount">
                                    </mat-form-field>
                                </div>
                            </div>

                            <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                                <div fxFlex.gt-xs="100" fxFlex.gt-sm="45" fxFlex="100">
                                    <!--Date-->
                                    <mat-form-field class="full-wid mrgn-b-md">
                                        <input matInput [matDatepicker]="reductionStartDate"
                                            placeholder="{{'date' | translate}}"
                                            formControlName="regularLimitReductionStart">
                                        <mat-datepicker-toggle matSuffix [for]="reductionStartDate">
                                        </mat-datepicker-toggle>
                                        <mat-datepicker #reductionStartDate></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div fxFlex.gt-xs="100" fxFlex.gt-sm="45" fxFlex="100">
                                    <!--Reduction interval -->
                                    <mat-form-field class="full-wid mrgn-b-md">
                                        <input matInput
                                            placeholder="{{'gesamtkredit_regulaereLimitReduktion_interval' | translate}} ({{'months' | translate}})"
                                            type="number" formControlName="regularLimitReductionInterval">
                                    </mat-form-field>
                                </div>
                            </div>

                            <div fxLayout="row wrap" fxLayoutAlign="start center">
                                <div fxFlex.gt-xs="100" fxFlex="100">
                                    <!--Deactivatin date-->
                                    <mat-form-field class="full-wid mrgn-b-md">
                                        <input matInput [matDatepicker]="deactivatedSinceDate"
                                            placeholder="{{'hypothek_deaktiviert_placeholder' | translate}}"
                                            formControlName="deactivatedSince">
                                        <mat-datepicker-toggle matSuffix [for]="deactivatedSinceDate">
                                        </mat-datepicker-toggle>
                                        <mat-datepicker #deactivatedSinceDate></mat-datepicker>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div fxLayout="row wrap" fxLayoutAlign="start center">
                                <div fxFlex.gt-xs="100" fxFlex="100">
                                    <!--Retro-->
                                    <mat-radio-group aria-labelledby="example-radio-group-label"
                                        class="example-radio-group" fxLayoutAlign="space-between center"
                                        formControlName="retroPaymentType">
                                        <label
                                            id="example-radio-group-label">{{'hypo_details_retro' | translate}}</label>
                                        <mat-radio-button class="example-radio-button"
                                            *ngFor="let retro of retroRadioLabels" [value]="retro"
                                            (change)="changeRadioButton($event)">
                                            {{retro | translate}}
                                        </mat-radio-button>
                                    </mat-radio-group>

                                    <!--Show or hide this section when clicking on radio buttons-->
                                    <div *ngIf='showRadioSection'>
                                        <!-- Percent % -->
                                        <div *ngIf="showPercentInput">
                                            <mat-form-field class="full-wid mrgn-b-md">
                                                <input type="number" matInput
                                                    placeholder="{{'zahlung_prozent' | translate}} %" type="number"
                                                    formControlName="retroPercentAmount">
                                                <mat-error
                                                    *ngIf="userForm.controls['retroPercentAmount'].hasError('required') && userForm.controls['retroPercentAmount'].touched || userForm.controls['retroPercentAmount'].hasError('max') || userForm.controls['retroPercentAmount'].hasError('min')">
                                                    <mat-error class="required alert-error">
                                                        {{'val_percentage' | translate}}
                                                    </mat-error>
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                        <!--Sum CHF-->
                                        <mat-form-field class="full-wid mrgn-b-md" *ngIf="showSumInput">
                                            <input type="number" matInput
                                                placeholder="{{'zahlung_betrag' | translate}} CHF" type="number"
                                                formControlName="retroLumpAmount">
                                            <mat-error
                                                *ngIf="userForm.controls['retroLumpAmount'].hasError('required') && userForm.controls['retroLumpAmount'].touched || userForm.controls['retroLumpAmount'].hasError('min')">
                                                <mat-error class="required alert-error">
                                                    {{'val_positive_number' | translate}}
                                                </mat-error>
                                            </mat-error>
                                        </mat-form-field>
                                        <!--Date from retro-->
                                        <mat-form-field class="full-wid mrgn-b-md">
                                            <input matInput [matDatepicker]="retroAccountingPositionDate"
                                                placeholder="{{'date' | translate}}"
                                                formControlName="retroAccountingPosition">
                                            <mat-datepicker-toggle matSuffix [for]="retroAccountingPositionDate">
                                            </mat-datepicker-toggle>
                                            <mat-datepicker #retroAccountingPositionDate></mat-datepicker>
                                        </mat-form-field>
                                        <!--Invoice has been made-->
                                        <mat-checkbox class="example-margin" formControlName="retroBilSubmited">
                                            {{'zahlung_einmalig_rechnung_wurde_gestellt' | translate}}
                                        </mat-checkbox>
                                    </div>
                                </div>
                            </div>


                            <div fxLayout="row wrap" fxLayoutAlign="start center" style="padding-top: 15px">
                                <div fxFlex.gt-xs="100" fxFlex="100">
                                    <!--Notice period-->
                                    <div fxLayout="row wrap">
                                        <div fxFlex.gt-md="25" fxFlex.gt-sm="45" fxFlex.gt-xs="100" fxFlex="100">
                                            <span>{{'gesamtkredit_kuendigungsfrist' | translate}}</span>
                                        </div>
                                        <div fxFlex.gt-md="45" fxFlex.gt-sm="45" fxFlex.gt-xs="100" fxFlex="100">
                                            <mat-checkbox class="example-margin" (click)="showNoticePeriod()"
                                                formControlName="noticePeriodChecked">
                                                {{'gesamtkredit_kuendigungsfrist_ohne' | translate | capitalizeFirst}}
                                            </mat-checkbox>
                                        </div>
                                    </div>
                                    <!--Show or hide this section when clicking on checkbox-->
                                    <div *ngIf='showNoticeInput'>
                                        <!--Number of Months-->
                                        <mat-form-field class="full-wid mrgn-b-md">
                                            <input type="number" matInput placeholder="{{'months' | translate}}"
                                                type="number" formControlName="noticePeriod">
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
        </mat-card>
    </div>
</div>


<!--Overdue mortgages-->
<!-- ---------------------------- -->
<div fxLayout="row wrap" fxLayoutAlign="start top">
    <div fxFlex.gt-xs="100" fxFlex.gt-sm="100" fxFlex.gt-md="100" fxFlex="100">
        <mat-card style="margin-bottom: 0px">
            <mat-card-title>{{ 'credits_grouped_due' | translate }}</mat-card-title>
            <mat-divider *ngIf="groupedOverdueMortgages.length == 0"></mat-divider>

            <div fxLayout="row wrap" fxLayoutAlign="center center" style="padding-top: 15px"
                *ngIf="groupedOverdueMortgages.length == 0">
                <span><strong>{{'general_no_data_available' | translate | capitalizeFirst}}</strong></span>
            </div>
        </mat-card>

        <div *ngIf="groupedOverdueMortgages.length > 0">
            <grouped-mortgage-table [data]="groupedOverdueMortgages" [gridType]="overdue"></grouped-mortgage-table>
        </div>

    </div>
</div>


<!--Reserved mortgages-->
<!-- ---------------------------- -->
<div fxLayout="row wrap" fxLayoutAlign="space-between center">
    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card style="margin-bottom: 0px">
            <mat-card-title>{{ 'credits_grouped_reserved' | translate }}</mat-card-title>
            <mat-divider *ngIf="groupedReservedMortgages.length == 0"></mat-divider>

            <div fxLayout="row wrap" fxLayoutAlign="center center" style="padding-top: 15px"
                *ngIf="groupedReservedMortgages.length == 0">
                <span><strong>{{'general_no_data_available' | translate | capitalizeFirst}}</strong></span>
            </div>

            <div *ngIf="groupedReservedMortgages.length > 0">
                <grouped-mortgage-table [data]="groupedReservedMortgages" [gridType]="overdue"></grouped-mortgage-table>
            </div>

        </mat-card>
    </div>
</div>


<!--Internal comments-->
<div fxLayout="row wrap" fxLayoutAlign="space-between center">
    <div fxFlex.gt-xs="100" fxFlex="100">
        <mat-card fxFlex="100%">
            <div class="gene-card-title">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <div fxLayout="column">
                        <mat-card-title>{{'gesamtkredit_internal_remarks' | translate}}</mat-card-title>
                    </div> <span fxFlex></span>
                </div>
                <mat-divider></mat-divider>
            </div>
            <div class="gene-card-content">
                <form [formGroup]="userForm">
                    <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                        <!--Comment input-->
                        <div fxFlex.gt-md="100" fxFlex.gt-sm="45" fxFlex.gt-xs="99" fxFlex="100">
                            <mat-form-field class="full-wid mrgn-b-md">
                                <input matInput placeholder="{{'gesamtkredit_internal_remarks' | translate}}"
                                    formControlName="internalComments">
                            </mat-form-field>
                        </div>
                    </div>
                </form>
            </div>
        </mat-card>
    </div>
</div>

<!-- Buttons -->
<div fxLayout="row wrap" fxLayoutAlign="space-between stretch">
    <div fxFlex.gt-xs="100" fxLayoutAlign="flex-end">
        <div style="padding-right: 8px">
            <button class="mrgn-all-xs mat-raised-button" color="default" mat-raised-button type="button"
                (click)="goBack()">
                {{'cancel' | translate}}
            </button>
            <button class="mrgn-all-xs mat-raised-button primary-color-bg" mat-raised-button type="button"
                [disabled]="!userForm.valid" (click)="submitForm()">
                <mat-icon style="font-size:15px;">save</mat-icon>{{'save' | translate}}
            </button>
        </div>
    </div>
</div>