.mat-card { 
    overflow:unset!important;
}

.pdng-btm-5 {
    padding-bottom: 10px !important;
}

.clickable {
    cursor: pointer;
    color: #0645AD;
    font-weight: bold;
}

.ng-sel-error-position {
    font-size: 12.5px;
    margin-top: -15px;
}

.lender-card-wrap {
    height: 80px; 
    padding-top: 0px;
}
