.align-right {
    float: right;
    font-weight: bold;
    font-size: 20px;
}

.overdue {
    background-color: #ffc545 !important;
    color: #fff !important;
    padding: 5px;
    border-radius: 10px;
    margin-left: 10px;
}

.swapped {
    background-color: #9ad268 !important;
    color: #fff !important;
    padding: 5px;
    border-radius: 10px;
    margin-left: 10px;
}

.pad-10 {
    padding: 10px 10px 10px 0px;
}

.title-pad {
    padding-left: 20px;
}

.cursor {
    cursor: pointer;
}

.font-s {
    font-size: 1rem;
}