<!-- Mortgages chart and table -->
<div class="pad-t-md pad-b-md">
  <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex.gt-md="30">
      <mat-card fxFlex="100%">
        <mat-card-title>{{'Mortgages'|translate}}</mat-card-title>
        <div class="gene-card-content" fxLayout="row wrap" fxLayoutAlign="space-between center">
          <div *ngIf="showChart" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex.gt-md="100">
            <canvas baseChart [data]="doughnutChartData" [options]="PieChartOptions" [colors]="pieChartColors"
              [chartType]="doughnutChartType" height="150" [labels]="doughnatChartLabels" [legend]="doughnutLegend"></canvas>
          </div>
        </div>
      </mat-card>
    </div>
    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex.gt-md="70">
      <ngx-datatable #mortgagesTable class='material mrgn-all-md' [columnMode]="'force'" [headerHeight]="50"
        [rowHeight]="'auto'" [limit]="10" [rows]="adaptedAllMortgages" [scrollbarH]="true"
        (activate)="onActivate($event)" [summaryRow]="enableSummary" [summaryPosition]="summaryPosition"
        [summaryHeight]="'auto'">
        <ngx-datatable-column [resizeable]="false" [width]="140" [draggable]="false"
          name="{{ 'hypo_list_lender' | translate | capitalizeFirst }}" prop="lender">

        </ngx-datatable-column>

        <ngx-datatable-column [resizeable]="false" [width]="150" [draggable]="false"
          name="{{ 'hypo_list_type' | translate | capitalizeFirst }}" prop="productType">
          <ng-template let-value="row.productType" ngx-datatable-cell-template>
            {{value | translate | capitalizeFirst}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [resizeable]="false" [minWidth]="120" [draggable]="false" name="" prop="swapped">
          <ng-template let-column="column" ngx-datatable-header-template>
            <span class="grid-header-font-style"></span>
          </ng-template>
          <ng-template let-value="value" ngx-datatable-cell-template>
            <mat-chip selected class="swapped" *ngIf="value.isSwapped">
              <span>{{ value.swapPercent }}% </span>
              <span>{{ 'credits_grouped_ke_swapped' | translate }}</span>
            </mat-chip>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [resizeable]="false" [width]="100" [draggable]="false" name="" prop="isOverdue">
          <ng-template let-column="column" ngx-datatable-header-template>
            <span class="grid-header-font-style"></span>
          </ng-template>
          <ng-template let-value="value" ngx-datatable-cell-template>
            <mat-chip selected class="overdue" *ngIf="value">
              {{ 'hypo_list_overdue' | translate | capitalizeFirst}}
            </mat-chip>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [resizeable]="false" [width]="150" [draggable]="false"
          name="{{ 'hypo_list_term' | translate | capitalizeFirst }}" prop="todayValidTermDuration">

        </ngx-datatable-column>

        <ngx-datatable-column [resizeable]="false" [width]="150" [draggable]="false"
          name="{{ 'hypo_list_rate_perc' | translate | capitalizeFirst }}" prop="interestRate" [summaryFunc]="null">

        </ngx-datatable-column>

        <ngx-datatable-column [resizeable]="false" [width]="150" [draggable]="false"
          name="{{ 'hypo_list_credit_vol' | translate | capitalizeFirst }}" prop="restVolume"
          [summaryFunc]="currencySummMort" [summaryTemplate]="mortgageSummaryCell">
          <ng-template let-value="row.restVolume" ngx-datatable-cell-template>
            {{value | currency:'CHF':'':'0.0-0':'de-CH'}}
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
    <ng-template #mortgageSummaryCell>
      <div class="summary">
        <span>{{currencySummMort | currency:'CHF':'':'0.0-0':'de-CH'}}</span>
      </div>
    </ng-template>
  </div>
</div>

<!--Overdue mortgages-->


<div fxLayout="row wrap" fxLayoutAlign="left left">
  <mat-card fxFlex="100%" style="margin-bottom: 0px">
    <mat-card-title>{{'credits_grouped_due'|translate}}</mat-card-title>
    <mat-divider *ngIf="groupedMortgages.length == 0"></mat-divider>
    <div fxLayout="row wrap" fxLayoutAlign="center center" style="padding-top: 15px"
      *ngIf="groupedMortgages.length == 0">
      <span><strong>{{'general_no_data_available' | translate | capitalizeFirst}}</strong></span>
    </div>
  </mat-card>
  <div *ngIf="groupedMortgages.length > 0" fxFlex.gt-xs="100" fxFlex.gt-sm="100" fxFlex="100">
    <grouped-mortgage-table [data]="groupedMortgages" [gridType]="overdue"></grouped-mortgage-table>
  </div>
</div>

<!--Reserved mortgages-->
<div fxLayout="row wrap" fxLayoutAlign="left left">
  <mat-card fxFlex="100%" style="margin-bottom: 0px">
    <mat-card-title>{{'credits_grouped_reserved'|translate}}</mat-card-title>
    <mat-divider *ngIf="reservedMortgages.length == 0"></mat-divider>
    <div fxLayout="row wrap" fxLayoutAlign="center center" style="padding-top: 15px"
      *ngIf="reservedMortgages.length == 0">
      <span><strong>{{'general_no_data_available' | translate | capitalizeFirst}}</strong></span>
    </div>
  </mat-card>
  <div fxFlex.gt-xs="100" fxFlex.gt-sm="100" fxFlex="100" *ngIf="reservedMortgages.length > 0">
    <grouped-mortgage-table [data]="reservedMortgages" [gridType]="reserved"></grouped-mortgage-table>
  </div>
</div>

<!-- Four plates on the bottom of the page -->
<div fxLayout="row wrap" fxLayoutAlign="left left">
  <div fxFlex.gt-sm="25" fxFlex.gt-xs="25" fxFlex="100" *ngIf="objectWorth.show">
    <mat-card fxFlex="100%">
      <div class="gene-card-content">
        <span class="value-style">{{objectWorth.value | currency:'CHF':'':'0.0-0':'de-CH'}}</span>
        <span class="value-description">{{ 'finanzierungsobjekt_summary_objektwert' | translate | capitalizeFirst}}</span>
      </div>
    </mat-card>
  </div>

  <div fxFlex.gt-sm="25" fxFlex.gt-xs="25" fxFlex="100" *ngIf="colleteralValue.show">
    <mat-card fxFlex="100%">
      <div class="gene-card-content">
        <span class="value-style">{{colleteralValue.value | currency:'CHF':'':'0.0-0':'de-CH'}}</span>
        <span class="value-description">{{ 'finanzierungsobjekt_summary_belehnungswert' | translate | capitalizeFirst}}</span>
      </div>
    </mat-card>
  </div>

  <div fxFlex.gt-sm="25" fxFlex.gt-xs="25" fxFlex="100" *ngIf="investmentWorth.show">
    <mat-card fxFlex="100%">
      <div class="gene-card-content">
        <span class="value-style">{{investmentWorth.value | currency:'CHF':'':'0.0-0':'de-CH'}}</span>
        <span class="value-description">{{ 'finanzierungsobjekt_summary_anlagewert' | translate | capitalizeFirst}}</span>
      </div>
    </mat-card>
  </div>

  <div fxFlex.gt-sm="25" fxFlex.gt-xs="25" fxFlex="100" *ngIf="rentalIncome.show">
    <mat-card fxFlex="100%">
      <div class="gene-card-content">
        <span class="value-style">{{rentalIncome.value | currency:'CHF':'':'0.0-0':'de-CH'}}</span>
        <span class="value-description">{{ 'finanzierungsobjekt_summary_mietertrag' | translate | capitalizeFirst}}</span>
      </div>
    </mat-card>
  </div>
</div>