<div fxLayout="row wrap">
  <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card>

      <table class="tg" border="1">

        <thead>
          <tr>
            <th class="tg-0pky" rowspan="2">{{ 'prov_grouped_customer' | translate | titlecase }}</th>
            <th class="tg-0pky" rowspan="2">{{ 'prov_grouped_fin_obj' | translate | titlecase }}</th>
            <th class="tg-0pky" rowspan="2">{{ 'prov_grouped_consultant' | translate | titlecase }}</th>
            <th class="tg-0pky" rowspan="2">{{ 'prov_grouped_vol_chf' | translate | titlecase }}</th>
            <th class="tg-0pky1" colspan="3">{{ 'prov_grouped_retro_one' | translate | titlecase }}</th>
            <th class="tg-0pky1" colspan="3">{{ 'prov_grouped_retro_more' | translate | titlecase }}</th>
          </tr>
          <tr>
            <th>{{ 'prov_grouped_proj' | translate }}</th>
            <th>{{ 'prov_grouped_value' | translate }}</th>
            <th>{{ 'prov_grouped_term' | translate }}</th>
            <th>{{ 'prov_grouped_proj' | translate }}</th>
            <th>{{ 'prov_grouped_value' | translate }}</th>
            <th>{{ 'prov_grouped_term' | translate }}</th>
          </tr>
        </thead>
        <tbody>

          <tr class="rowStyle">
            <td colspan="6" class="rowObjest">
              <i class="fa fa-plus-square fa-fw" *ngIf="!show" (click)="showExpand()"></i>
              <i class="fa fa-minus-square fa-fw" *ngIf="show" (click)="showMin()"></i>
              {{ 'label' | translate }}: Grosszügigkeitsbank
            </td>
            <td colspan="6" class="rowObjest right">{{'prov_grouped_sum' | translate}} 2'449 CHF</td>
          </tr>

          <tr *ngIf="show">
            <th class="objectInfo">Casanova James</th>
            <th class="objectInfo">7000 Chur, Forsterstrasse 1</th>
            <th class="objectInfo">User mit Crm-Id: 3 noch nicht erfasst</th>
            <th class="objectInfo">350'000</th>
            <th class="objectInfo">0.7000 </th>
            <th class="objectInfo">2'449</th>
            <th class="objectInfo">30.09.2019 </th>
            <th class="objectInfo"></th>
            <th class="objectInfo"></th>
            <th class="objectInfo"></th>
          </tr>

        </tbody>
      </table>

    </mat-card>
  </div>
</div>
