table{
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    border: 1px solid #eee;
}

mat-card{
    overflow-x: auto;
}


.tg-0pky{
    height: auto;
    width: 10%;
}

.tg-0pky1{
    height: auto;
    width: 30%;
}

.objectInfo{
    font-weight: 100;
}
.center{
    text-align: center;
}
.right{
    text-align: right;
}
.rowObjest{
    background-color: #f9f9f9;
    padding-top: 10px;
    padding-bottom: 10px;
}