td{
    padding-bottom: 0px !important;
    padding-top: 0 !important;
}

.tdFont{
    font-weight: 700;
    color: grey;
}

.divMargin{
    margin-left: 5px;
    margin-top: 15px;
}

.divMargin1{
    margin-left: 5px;
}

.tableTotal{
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

.tableHeader1{
    padding-left: 8px !important;
    width: 100%;
    text-align: left;
    color: grey;
}

.tableHeader{
    color: grey;
    padding-right:8px;
    width: 150px;
}

.theadBroder {
    border: 1px solid #eee;
}

.tbodyBorder{
    border: 1px solid #eee;
}

.trTotal{
    background-color: #f5f5f5;
}

.tdTotal{
    padding-right: 8px !important;
    padding-left: 8px !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}

.tdTotalLink{
    color:#5757d6;
}

.tdLine{
    border-top: 2px solid;
}

ngx-datatable{
    box-shadow: none !important;
}