<!-- Header -->

<div>
  <mat-card>
    <div class="mrgn-b-lg">
      <span>{{'kreditgeber' | translate}}</span>
      <mat-card-title>{{ lenderData.name }}</mat-card-title>
    </div>
    <div fxLayout="row wrap">
      <div fxFlex.gt-md="25" fxFlex.gt-sm="50" fxFlex.gt-xs="100" fxFlex="100" fxLayoutAlign="center center">
        <span>{{'dash_client_time' | translate}}</span>
      </div>
      <div fxFlex.gt-md="50" fxFlex.gt-sm="50" fxFlex.gt-xs="100" fxFlex="100" [formGroup]="DaterForm">
        <mat-form-field class="full-wid">
          <input matInput [max]="referanceDate" [matDatepicker]="picker" placeholder="Choose a Start date"
            formControlName="FromDate">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <small class="gene-block" *ngIf="f.FromDate.hasError('required') && f.FromDate.touched" class="warn-text">
          {{'val_date' | translate }}
        </small>
      </div>
      <div fxFlex.gt-md="25" fxFlex.gt-sm="50" fxFlex.gt-xs="100" fxFlex="100" fxLayoutAlign="center center">
        <button mat-raised-button (click)="referceDay()">
          <mat-icon style="font-size:15px;">create</mat-icon>{{'dash_client_load' | translate}}
        </button>
      </div>
    </div>
  </mat-card>
</div>

<!-- Contact details -->

<div fxLayout="row wrap" fxLayoutAlign="start stretch" class="crm-stats-cards">
  <div fxFlex.gt-md="50" fxFlex.gt-sm="100" fxFlex="100">
    <mat-card>
      <div class="gene-card-title">
        <mat-card-title>{{'contact_det' | translate}}</mat-card-title>
      </div>
      <mat-divider></mat-divider>
      <div class="gene-card-content crm-list-wrap">
      </div>
      <table>
        <tr>
          <td class="tdFont">{{'kontakt_name' | translate}}</td>
          <td>{{ lenderData.name }}</td>
        </tr>
        <tr>
          <td class="tdFont">{{'address' | translate}}</td>
          <td>{{ lenderData.fullAdresse }}</td>
        </tr>
        <tr>
          <td class="tdFont">{{'kontakt_email' | translate}}</td>
          <td>{{ lenderData.email }}</td>
        </tr>
        <tr>
          <td class="tdFont">{{'kontakt_telefon_privat' | translate}}</td>
          <td>{{ lenderData.privatePhoneNo }}</td>
        </tr>
        <tr>
          <td class="tdFont">{{'kontakt_telefon_mobile' | translate}}</td>
          <td>{{ lenderData.mobilePhoneNo }}</td>
        </tr>
        <tr>
          <td class="tdFont">{{'kontakt_telefon_geschaeft' | translate}}</td>
          <td>{{ lenderData.businessPhoneNo }}</td>
        </tr>
        <tr>
          <td class="tdFont">{{'kundenberater' | translate}}</td>
          <td>{{ lenderData.clientAdvisor }}</td>
        </tr>
      </table>
    </mat-card>
  </div>
  <!--Rental income list-->
  <div fxFlex.gt-md="50" fxFlex.gt-sm="100" fxFlex="100">
    <mat-card>
      <div class="gene-card-title">
        <mat-card-title>{{'miet_liste_list' | translate}}</mat-card-title>
      </div>
      <mat-divider></mat-divider>
      <div class="gene-card-content crm-list-wrap">
        <!--Message if lender doesn't have rental income list-->
        <p *ngIf="showEditSectionMessage"> {{'miet_liste_customer_no' | translate}}</p>
        <!--EDIT and DELETE rental income list for picked lender-->
        <ngx-datatable *ngIf="showEditSection" #rentalIncomelist class='material mrgn-all-md grid-bold-header'
          [columnMode]="'force'" [headerHeight]="'auto'" [footerHeight]="null" [rowHeight]="'60'"
          [rows]='adaptedRentalIncome' [scrollbarH]="true" style="margin-top: 2px !important">

          <ngx-datatable-column name="{{'date' | translate}}" [resizeable]="false" [canAutoResize]="false" [width]="200"
            headerClass="header-text-right" cellClass="cell-text-right">
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="row.activatedSince"
              let-row="row">
              <span *ngIf="!isEditable[rowIndex]">
                {{value | date}}
              </span>
              <span *ngIf="isEditable[rowIndex]">
                <mat-form-field class="full-wid">
                  <input matInput [matDatepicker]="myDatepicker" placeholder="{{'date' | translate}}"
                    [(ngModel)]="row.activatedSince" disabled>
                  <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
                  <mat-datepicker #myDatepicker disabled="false"></mat-datepicker>
                </mat-form-field>
              </span>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="{{'miet_liste_miet' | translate}}" [resizeable]="false" [canAutoResize]="false"
            [width]="250" headerClass="header-text-right" cellClass="cell-text-right">
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="row.rentalIncome" let-row="row">
              <span *ngIf="!isEditable[rowIndex]">
                {{value}}
              </span>
              <span *ngIf="isEditable[rowIndex]" style="border-bottom: 1px solid #ccc">
                <input matInput type="number" (keypress)="numberOnly($event)" [value]="value"
                  [(ngModel)]="row.rentalIncome" />
              </span>
            </ng-template>
          </ngx-datatable-column>



          <ngx-datatable-column name=" " [resizeable]="false" [canAutoResize]="false" [width]="200">
            <ng-template let-row="row" ngx-datatable-cell-template let-rowIndex="rowIndex">
              <!-- Trigger edit or delete column actions -->
              <button type="button" class="mrgn-all-xs" mat-raised-button mat-button-sm *ngIf="!isEditable[rowIndex]"
                (click)="isEditable[rowIndex]=!isEditable[rowIndex]">
                <mat-icon>create</mat-icon>
              </button>
              <button type="button" class="mrgn-all-xs" mat-raised-button mat-button-sm color="warn"
                *ngIf="!isEditable[rowIndex]" (click)="deleteRentalIncomeById(row)">
                <mat-icon>delete_forever</mat-icon>
              </button>
              <!-- Update column or cancel edit actions -->
              <button type="button" class="mrgn-all-xs" mat-raised-button mat-button-sm color="primary"
                *ngIf="isEditable[rowIndex]" (click)="submitForm(row);isEditable[rowIndex]=!isEditable[rowIndex]">
                <mat-icon>save</mat-icon>
              </button>
              <button type="button" class="mrgn-all-xs" mat-raised-button mat-button-sm color="warn"
                *ngIf="isEditable[rowIndex]" (click)="isEditable[rowIndex]=!isEditable[rowIndex]">
                <mat-icon>clear</mat-icon>
              </button>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </div>
    </mat-card>
  </div>
</div>

<!-- Total credits offered -->

<div fxLayout="row wrap" fxLayoutAlign="start stretch" class="crm-stats-cards">
  <div fxFlex.gt-md="100" fxFlex.gt-sm="100" fxFlex="100">
    <mat-card>
      <div class="gene-card-title">
        <mat-card-title>{{'creditlist_cust_offert' | translate}}</mat-card-title>
      </div>
      <mat-divider></mat-divider>
      <div class="gene-card-content crm-list-wrap">
        <table clas="tableTotal">
          <thead class="theadBroder">
            <tr>
              <th class="tableHeader1">
                <span>{{'prov_grouped_customer' | translate}}</span>
              </th>
              <th class="tableHeader" fxLayoutAlign="end end">
                <span>{{'creditlist_cust_limit' | translate}}</span>
              </th>
            </tr>
          </thead>
          <tbody class="tbodyBorder">
            <tr class="trTotal" *ngFor="let adaptedLoan of adaptedLoans">
              <td class="tdTotal tdTotalLink">
                <a href="#">{{adaptedLoan.Customer}}</a>
              </td>
              <td class="tdTotal tdTotalLink" fxLayoutAlign="end end">
                <a href="#">{{adaptedLoan.Loan}}</a>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td class="tdTotal tdFont">
                {{'creditlist_cust_total' | translate}}
              </td>
              <td class="tdTotal tdFont " fxLayoutAlign="end end">
                {{ mortgageVolumeSumDisplay }}
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </mat-card>
  </div>
</div>



<!-- <ngx-datatable #userAdministrationTable class='material mrgn-all-md' [columns]="columnsTotalLoans" [columnMode]="'force'"
      [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="10" [rows]='contactsArray'
      (activate)="onActivate($event)" [messages]="{emptyMessage:'general_no_data_available' | translate}">

      <ngx-datatable-footer>
        <ng-template ngx-datatable-footer-template let-rowCount="totalNumberOfElemetns" let-pageSize="pageSize"
          let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset">
          <div style="padding: 5px 10px">
            <div>
              {{"total_number_of_users" | translate}} {{totalNumberOfElemetns}}
            </div>
          </div>
          <datatable-pager [pagerLeftArrowIcon]="'datatable-icon-left'" [pagerRightArrowIcon]="'datatable-icon-right'"
            [pagerPreviousIcon]="'datatable-icon-prev'" [pagerNextIcon]="'datatable-icon-skip'" [page]="curPage"
            [size]="pageSize" [count]="totalNumberOfElemetns" [hidden]="!((totalNumberOfElemetns / pageSize) > 1)"
            (change)="prepareEntitySearch($event)">
          </datatable-pager>
        </ng-template>
      </ngx-datatable-footer>
    </ngx-datatable> -->

<!-- Buttons -->
<div class="buttons-md">
  <div class="buttons-md1">
    <button class="mat-raised-button" (click)="goBack()" mat-raised-button>
      <mat-icon>chevron_left</mat-icon>{{'back' | translate}}
    </button>
  </div>
  <div class="buttons-md2">
    <button class="mat-raised-button" color="primary" mat-raised-button (click)="goCreateUser()">
      <mat-icon>add</mat-icon>{{'kontakt_user_new' | translate}}
    </button>
    <button class="mat-raised-button" color="primary" mat-raised-button (click)="goNewInterestRateSwap()">
      <mat-icon>add</mat-icon>{{'contact_details_interests' | translate}}
    </button>
    <button class="mat-raised-button" color="primary" mat-raised-button (click)="newProperty()">
      <mat-icon>add</mat-icon>{{'finanzierungsobjekt_new' | translate}}
    </button>
    <button class="mat-raised-button" color="primary" mat-raised-button (click)="goCreditTotalLoansEdit()">
      <mat-icon>add</mat-icon>{{'gesamtkredit_new' | translate}}
    </button>
    <button class="mat-raised-button" color="primary" mat-raised-button (click)="goCreditRentalIncome()">
      <mat-icon>create</mat-icon>{{'contact_new_rental_income' | translate}}
    </button>
  </div>
</div>