<!-- Contact details -->

<div *ngIf="interestObject" fxLayout="row wrap" fxLayoutAlign="start stretch" class="crm-stats-cards">
	<div fxFlex.gt-md="33.33" fxFlex.gt-sm="100" fxFlex="100">
		<mat-card>
			<mat-card-title>
				{{'zins_swap_customer' | translate | capitalizeFirst}}
			</mat-card-title>
			<mat-divider></mat-divider>
			<div class="gene-card-content crm-list-wrap">
				<a class="clickable" *ngIf="!isClient && interestObject.totalCredit.customer" href="contacts/{{interestObject.totalCredit.customer.id}}">{{interestObject.totalCredit.customer | contactName}}</a>
				<p *ngIf="isClient">{{interestObject.totalCredit.customer | contactName}}</p>
			</div>
		</mat-card>
	</div>

	<div fxFlex.gt-md="33.33" fxFlex.gt-sm="100" fxFlex="100">
		<mat-card>
			<mat-card-title>
				{{'zins_swap_lender' | translate | capitalizeFirst}}
			</mat-card-title>
			<mat-divider></mat-divider>
			<div class="gene-card-content crm-list-wrap">
				<a class="clickable" *ngIf="!isClient && interestObject.totalCredit.creditor" href="contacts/{{interestObject.totalCredit.creditor.id}}">{{interestObject.totalCredit.creditor | contactName}}</a>
				<p *ngIf="isClient">{{interestObject.totalCredit.creditor | contactName}}</p>
			</div>
		</mat-card>
	</div>

	<div fxFlex.gt-md="33.33" fxFlex.gt-sm="100" fxFlex="100">
		<mat-card>
			<mat-card-title>
				{{'zins_swap_fin_obj' | translate | capitalizeFirst}}
			</mat-card-title>
			<mat-divider></mat-divider>
			<div class="gene-card-content crm-list-wrap">
				<a class="clickable" *ngIf="interestObject.financeObject.id" href="properties/{{interestObject.financeObject.id}}">{{interestObject.financeObject.name}}</a>
				<p *ngIf="!interestObject.financeObject.id">{{interestObject.financeObject.name}}</p>
			</div>
		</mat-card>
	</div>
</div>



<!-- 2Tabs -->
<!--TABS-->
<div *ngIf="interestObject" class="gene-card-content">
	<mat-tab-group mat-stretch-tabs>

		<mat-tab>
			<ng-template mat-tab-label class="position-relative">
				<span class="position-absolute tab-label-icon-padding-bot">
					<mat-icon>
						attach_money
					</mat-icon>
				</span>
				<span class="position-absolute tab-label-text-padding-top">
					<p>{{'zins_swap_details' | translate | capitalizeFirst}}</p>
				</span>
			</ng-template>
			<div class="pad-t-md pad-b-md">
				<ms-interest-rate-swaps-display-details-tab [interestObject]="interestObject"
															[mortgages]="mortgages"
															[regularReduction]="regularReduction">

				</ms-interest-rate-swaps-display-details-tab>
			</div>
		</mat-tab>

		<mat-tab>
			<ng-template mat-tab-label class="position-relative">
				<span class="position-absolute tab-label-icon-padding-bot">
					<mat-icon>search</mat-icon>
				</span>
				<span class="position-absolute tab-label-text-padding-top">
					<p>{{'zins_swap_reduction' | translate | capitalizeFirst}}</p>
				</span>
			</ng-template>
			<div class="pad-t-md pad-b-md">
				<div fxLayout="row wrap" fxLayoutAlign="start stretch" class="crm-stats-cards">
					<div fxFlex.gt-md="100" fxFlex.gt-sm="100" fxFlex="100">
						<mat-card style="margin-bottom:0px;">
							<mat-card-title>{{'zins_swap_reduction' | translate | capitalizeFirst}}</mat-card-title>
							<div fxLayout="row wrap" fxLayoutAlign="center center" style="padding-top: 15px"
								 *ngIf="reductions.length == 0">
								<span><strong>{{'general_no_data_available' | translate | capitalizeFirst}}</strong></span>
							</div>
						</mat-card>

						<ngx-datatable *ngIf="reductions.length > 0"
									   style="margin-top:2px !important;"
									   class='material mrgn-all-md'
									   [rows]="reductions"
									   [scrollbarH]="true"
									   [headerHeight]="50"
									   [columnMode]="'force'"
									   [rowHeight]="'auto'"
									   [footerHeight]="50">
							<ngx-datatable-column [sortable]="false" [resizeable]="false" name="{{'red_type' | translate | capitalizeFirst}}">
								<ng-template let-value="row" ngx-datatable-cell-template>
									<span *ngIf="value.regularAmortization">{{'ammo_row_reg_red' | translate}}</span>
									<span *ngIf="!value.regularAmortization">{{'ammo_row_spec_red' | translate}}</span>
								</ng-template>
							</ngx-datatable-column>
							<ngx-datatable-column [sortable]="false" [resizeable]="false" name="{{'red_date' | translate}}">
								<ng-template let-value="row" ngx-datatable-cell-template>
									<span>{{formatDate(value.date) }}</span>
								</ng-template>
							</ngx-datatable-column>
							<ngx-datatable-column [sortable]="false" [resizeable]="false" name="{{'red_quantity' | translate}}">
								<ng-template let-value="row" ngx-datatable-cell-template>
									<span>{{value.amount | currency:'':'':'0.0-0':'de-CH'}}</span>
								</ng-template>
							</ngx-datatable-column>
							<ngx-datatable-column [sortable]="false" [resizeable]="false" name="{{'red_remarks' | translate}}">
								<ng-template let-value="row" ngx-datatable-cell-template>
									{{value.remarks}}
								</ng-template>
							</ngx-datatable-column>
						</ngx-datatable>
					</div>
				</div>
			</div>
		</mat-tab>
	</mat-tab-group>
</div>