<form [formGroup]="interestGroup">

	<div *ngIf="interestObject" fxLayout="row wrap" fxLayoutAlign="start stretch" class="crm-stats-cards">
		<div fxFlex.gt-md="33.33" fxFlex.gt-sm="100" fxFlex="100">
			<mat-card>
				<mat-card-title>
					{{'zins_swap_customer' | translate | capitalizeFirst}}
				</mat-card-title>
				<mat-divider></mat-divider>
				<div class="gene-card-content crm-list-wrap">
					<a class="clickable" *ngIf="!isClient && interestObject.totalCredit.customer" href="contacts/{{interestObject.totalCredit.customer.id}}">{{interestObject.totalCredit.customer.name}} {{interestObject.totalCredit.customer.surname}}</a>
					<p *ngIf="isClient">{{interestObject.totalCredit.customer.name}} {{interestObject.totalCredit.customer.surname}}</p>
				</div>
			</mat-card>
		</div>

		<div fxFlex.gt-md="33.33" fxFlex.gt-sm="100" fxFlex="100">
			<mat-card>
				<mat-card-title>
					{{'zins_swap_lender' | translate | capitalizeFirst}} *
				</mat-card-title>
				<mat-divider></mat-divider>
				<ng-select [items]="allCreditors"
						   bindLabel="name"
						   formControlName="creditor">
				</ng-select>
				<small *ngIf="interestGroup.controls['creditor'].hasError('required') && interestGroup.controls['creditor'].touched"
					   class="warn-text small-ng-select">
					{{'val_select_required' | translate}}
				</small>
			</mat-card>
		</div>

		<div fxFlex.gt-md="33.33" fxFlex.gt-sm="100" fxFlex="100">
			<mat-card>
				<mat-card-title>
					{{'zins_swap_fin_obj' | translate | capitalizeFirst}}
				</mat-card-title>
				<mat-divider></mat-divider>

				<ng-select [items]="allFinanceObjects"
						   bindLabel="name"
						   formControlName="financeObject">
				</ng-select>
			</mat-card>
		</div>
	</div>


	<!-- Details -->

	<div *ngIf="interestObject" fxLayout="row wrap" fxLayoutAlign="start stretch" class="crm-stats-cards">

		<div fxFlex.gt-md="100" fxFlex.gt-sm="100" fxFlex="100">
			<mat-card>
				<mat-card-title>
					{{'zins_swap_details' | translate | capitalizeFirst}}
				</mat-card-title>
				<mat-divider></mat-divider>
				<div class="gene-card-content crm-list-wrap">

					<div fxLayout="row wrap" fxLayoutAlign=" center" class="crm-stats-cards">
						<div fxFlex.gt-md="100" fxFlex.gt-sm="100" fxFlex="100">
							<ng-select [items]="allInterestSeries"
									   bindLabel="name"
									   formControlName="interestSeries"
									   placeholder="{{'zins_swap_int_row' | translate | capitalizeFirst}}">
							</ng-select>
							<small *ngIf="interestGroup.controls['interestSeries'].hasError('required') && interestGroup.controls['interestSeries'].touched"
								   class="warn-text small-ng-select">
								{{'val_select_required' | translate}}
							</small>
						</div>
					</div>

					<div fxLayout="row wrap" fxLayoutAlign=" center center" class="crm-stats-cards">
						<div fxFlex.gt-md="100" fxFlex.gt-sm="100" fxFlex="100">
							<mat-form-field class="full-wid">
								<input matInput type="number" min="0" formControlName="volume" placeholder="{{'zins_swap_volume' | translate | capitalizeFirst}}">
								<span matSuffix>CHF</span>
							</mat-form-field>
							<small *ngIf="!interestGroup.controls['volume'].valid && interestGroup.controls['volume'].touched"
								   class="warn-text small-ng-select">
								<span *ngIf="interestGroup.controls['volume'].hasError('min')">{{ 'val_positive_number' | translate }}</span>
								<span *ngIf="interestGroup.controls['volume'].hasError('required')">{{ 'required' | translate }}</span>
							</small>
						</div>
					</div>

					<div fxLayout="row wrap" fxLayoutAlign=" center" class="crm-stats-cards">
						<div fxFlex.gt-md="100" fxFlex.gt-sm="100" fxFlex="100">
							<mat-form-field class="full-wid">
								<input matInput formControlName="interest" type="number" min="-100" max="100" placeholder="{{'zins_swap_interest' | translate | capitalizeFirst}}">
								<span matSuffix>%</span>
							</mat-form-field>
							<small *ngIf="!interestGroup.controls['interest'].valid && interestGroup.controls['interest'].touched"
								   class="warn-text small-ng-select">
								{{ 'val_percentage' | translate}}
							</small>
						</div>
					</div>

					<div fxLayout="row wrap" fxLayoutAlign="space-between center" class="crm-stats-cards">
						<div fxFlex.gt-md="35" fxFlex.gt-sm="100" fxFlex="100">
							<mat-form-field class="full-wid">
								<input matInput
									   [matDatepicker]="durationStartDate"
									   formControlName="start"
									   placeholder="{{'zins_swap_duration' | translate}}">
								<mat-datepicker-toggle matSuffix [for]="durationStartDate"></mat-datepicker-toggle>
								<mat-datepicker #durationStartDate></mat-datepicker>
							</mat-form-field>
							<small *ngIf="!interestGroup.controls['start'].valid && interestGroup.controls['start'].touched"
								   class="warn-text small-ng-select">
								{{ 'val_date' | translate}}
							</small>
						</div>
						<button fxFlex.gt-md="7" class="selfBaseline"
								title="{{(interestObject.zinsLaufzeiten[0].startExclusive ? 'filter_excl' : 'filter_incl') | translate}}"
								fxFlex.gt-sm="100" fxFlex="100" mat-raised-button
								(click)="interestObject.zinsLaufzeiten[0].startExclusive=!interestObject.zinsLaufzeiten[0].startExclusive">
							<span *ngIf="!interestObject.zinsLaufzeiten[0].startExclusive">&#8804;</span>
							<span *ngIf="interestObject.zinsLaufzeiten[0].startExclusive">&#60;</span>
						</button>
						<button fxFlex.gt-md="7" class="selfBaseline"
								title="{{(interestObject.zinsLaufzeiten[0].endExclusive ? 'filter_excl' : 'filter_incl') | translate}}"
								fxFlex.gt-sm="100" fxFlex="100" mat-raised-button
								(click)="interestObject.zinsLaufzeiten[0].endExclusive=!interestObject.zinsLaufzeiten[0].endExclusive">
							<span *ngIf="!interestObject.zinsLaufzeiten[0].endExclusive">&#8804;</span>
							<span *ngIf="interestObject.zinsLaufzeiten[0].endExclusive">&#60;</span>
						</button>
						<div fxFlex.gt-md="35" fxFlex.gt-sm="100" fxFlex="100">
							<mat-form-field class="full-wid">
								<input matInput
									   [matDatepicker]="durationEndDate"
									   formControlName="ende"
									   placeholder="{{'zins_swap_duration' | translate}}">
								<mat-datepicker-toggle matSuffix [for]="durationEndDate"></mat-datepicker-toggle>
								<mat-datepicker #durationEndDate></mat-datepicker>
							</mat-form-field>
							<small *ngIf="!interestGroup.controls['ende'].valid && interestGroup.controls['ende'].touched"
								   class="warn-text small-ng-select">
								{{ 'val_date' | translate}}
							</small>
						</div>
					</div>

					<div fxLayout="row wrap" fxLayoutAlign="space-between center" class="crm-stats-cards">
						<mat-form-field class="full-wid" fxFlex.gt-md="47" fxFlex.gt-sm="100" fxFlex="100">
							<input matInput
								   [matDatepicker]="durationDate"
								   formControlName="duration"
								   placeholder="{{'zins_swap_due_date' | translate | capitalizeFirst}}">
							<mat-datepicker-toggle matSuffix [for]="durationDate"></mat-datepicker-toggle>
							<mat-datepicker #durationDate></mat-datepicker>
						</mat-form-field>
						<div fxFlex.gt-md="50" fxFlex.gt-sm="100" fxFlex="100">
							<mat-form-field class="full-wid">
								<input matInput
									   type="number"
									   formControlName="intervalInMonths"
									   placeholder="{{'zinsswap_zinsfaelligkeit_interval' | translate}}">
								<span matSuffix> {{'months' | translate}}</span>
							</mat-form-field>
							<small *ngIf="!interestGroup.controls['intervalInMonths'].valid && interestGroup.controls['intervalInMonths'].touched"
								   class="warn-text small-ng-select">
								{{ 'val_regelmaessige_zahlung_interval' | translate}}
							</small>
						</div>
					</div>

					<div fxLayout="row wrap" fxLayoutAlign=" center" class="crm-stats-cards">
						<div fxFlex.gt-md="100" fxFlex.gt-sm="100" fxFlex="100">
							<mat-form-field class="full-wid">
								<input matInput
									   [matDatepicker]="deactivationDate"
									   formControlName="deactivatedSince"
									   placeholder="{{'zins_swap_deactive' | translate | capitalizeFirst}}">
								<mat-datepicker-toggle matSuffix [for]="deactivationDate"></mat-datepicker-toggle>
								<mat-datepicker #deactivationDate></mat-datepicker>
							</mat-form-field>
						</div>
					</div>
				</div>

			</mat-card>
		</div>
	</div>
	<!-- End Details  Section-->
</form>


<!-- Regular reduction -->

<div fxLayout="row wrap" fxLayoutAlign="start stretch" class="crm-stats-cards">
	<div fxFlex.gt-md="100" fxFlex.gt-sm="100" fxFlex="100">
		<mat-card class="matTableMargin" style="margin-bottom:0px !important;">
			<mat-card-title>
				{{'zins_swap_det_reg_reduction' | translate | capitalizeFirst}}
			</mat-card-title>
			<mat-divider></mat-divider>
			<div class="gene-card-content crm-list-wrap">
				<form [formGroup]="regularReductionGroup">

					<div fxLayout="row wrap">
						<div fxFlex.gt-md="40" fxFlex.gt-sm="100" fxFlex="100">
							<mat-form-field class="inputPaddingR mrgn-b-md" fxFlex.gt-md="45" fxFlex.gt-sm="100" fxFlex="100">
								<input matInput formControlName="start" [matDatepicker]="reductionStartDate" placeholder="{{'date' | translate}}">
								<mat-datepicker-toggle matSuffix [for]="reductionStartDate"></mat-datepicker-toggle>
								<mat-datepicker #reductionStartDate></mat-datepicker>
							</mat-form-field>
							<button fxFlex.gt-md="5" class="selfBaseline arrowButton inputMarginR"
									title="{{(reductionStartExclusive ? 'filter_excl' : 'filter_incl') | translate}}"
									fxFlex.gt-sm="100" fxFlex="100" mat-raised-button
									(click)="reductionStartExclusive = !reductionStartExclusive">
								<span *ngIf="!reductionStartExclusive">&#8804;</span>
								<span *ngIf="reductionStartExclusive">&#60;</span>
							</button>
							<button fxFlex.gt-md="5" class="selfBaseline arrowButton"
									title="{{(reductionEndExclusive ? 'filter_excl' : 'filter_incl') | translate}}"
									fxFlex.gt-sm="100" fxFlex="100" mat-raised-button
									(click)="reductionEndExclusive = !reductionEndExclusive">
								<span *ngIf="!reductionEndExclusive">&#8804;</span>
								<span *ngIf="reductionEndExclusive">&#60;</span>
							</button>
							<mat-form-field class="inputPaddingR mrgn-b-md" fxFlex.gt-md="45" fxFlex.gt-sm="100" fxFlex="100">
								<input matInput formControlName="end" [matDatepicker]="reductionEndDate" placeholder="{{'date' | translate}}">
								<mat-datepicker-toggle matSuffix [for]="reductionEndDate"></mat-datepicker-toggle>
								<mat-datepicker #reductionEndDate></mat-datepicker>
							</mat-form-field>
						</div>

						<mat-form-field class=" inputPaddingR example-full-width" fxFlex.gt-md="20" fxFlex.gt-sm="100" fxFlex="100">
							<input matInput type="number" formControlName="amount" placeholder="{{'zahlung_betrag' | translate}}">
						</mat-form-field>

						<mat-form-field class=" inputPaddingR example-full-width" fxFlex.gt-md="20" fxFlex.gt-sm="100" fxFlex="100">
							<input matInput type="number" formControlName="intervalMonths" placeholder="{{'reg_ammo_interval' | translate}}">
						</mat-form-field>


						<div fxFlex.gt-md="20" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
							<button type="button" (click)="addRegularReduction()" class="mrgn-all-xs" mat-raised-button mat-button-sm color="primary">
								<mat-icon>add</mat-icon>
							</button>
						</div>
					</div>
				</form>

				<form [formGroup]="interestGroup">
					<div fxLayout="row wrap">
						<mat-form-field class="full-wid">
							<textarea matInput formControlName="regularAmortisationsRemarks" placeholder="Bemerkungen"></textarea>
						</mat-form-field>
					</div>
				</form>

			</div>
		</mat-card>

		<ngx-datatable *ngIf="regularReduction.length > 0"
					   style="margin-top:2px !important;"
					   class='material mrgn-all-md'
					   [rows]="regularReduction"
					   [scrollbarH]="false"
					   [headerHeight]="50"
					   [columnMode]="'force'"
					   [rowHeight]="'auto'"
					   [footerHeight]="null">
			<ngx-datatable-column [width]="500" [sortable]="false" [resizeable]="false" name="{{'reg_ammo_duration' | translate}}">
				<ng-template ngx-datatable-cell-template
							 let-value="row"
							 let-rowIndex="rowIndex">
					<span *ngIf="!isRegularReductionEditable [rowIndex]">
						{{formatDateRange(value, true)}}
					</span>
					<div *ngIf="isRegularReductionEditable[rowIndex]" fxFlex >
						<mat-form-field class="inputPaddingR mrgn-b-md" fxFlex.gt-md="45" fxFlex.gt-sm="100" fxFlex="100">
							<input matInput [(ngModel)]="value.start" [matDatepicker]="reductionStartDate1" placeholder="{{'date' | translate}}">
							<mat-datepicker-toggle matSuffix [for]="reductionStartDate1"></mat-datepicker-toggle>
							<mat-datepicker #reductionStartDate1></mat-datepicker>
						</mat-form-field>
						<button fxFlex.gt-md="5" class="selfBaseline arrowButton inputMarginR"
								title="{{(value.startExclusive ? 'filter_excl' : 'filter_incl') | translate}}"
								fxFlex.gt-sm="100" fxFlex="100" mat-raised-button
								(click)="value.startExclusive = !value.startExclusive">
							<span *ngIf="!value.startExclusive">&#8804;</span>
							<span *ngIf="value.startExclusive">&#60;</span>
						</button>
						<button fxFlex.gt-md="5" class="selfBaseline arrowButton"
								title="{{(value.endExclusive ? 'filter_excl' : 'filter_incl') | translate}}"
								fxFlex.gt-sm="100" fxFlex="100" mat-raised-button
								(click)="value.endExclusive = !value.endExclusive">
							<span *ngIf="!value.endExclusive">&#8804;</span>
							<span *ngIf="value.endExclusive">&#60;</span>
						</button>
						<mat-form-field class="inputPaddingR mrgn-b-md" fxFlex.gt-md="45" fxFlex.gt-sm="100" fxFlex="100">
							<input matInput [(ngModel)]="value.end" [matDatepicker]="reductionEndDate1" placeholder="{{'date' | translate}}">
							<mat-datepicker-toggle matSuffix [for]="reductionEndDate1"></mat-datepicker-toggle>
							<mat-datepicker #reductionEndDate1></mat-datepicker>
						</mat-form-field>
					</div>
				</ng-template>
			</ngx-datatable-column>
			<ngx-datatable-column [sortable]="false" [resizeable]="false" name="{{'reg_ammo_quantity' | translate}}">
				<ng-template let-value="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
					<span *ngIf="!isRegularReductionEditable [rowIndex]">
						<span *ngIf="value.amount">{{value.amount | currency:'':'':'0.0-0':'de-CH'}}</span>
						<span *ngIf="!value.amount">-</span>
					</span>
					<span *ngIf="isRegularReductionEditable [rowIndex]" style="border-bottom: 1px solid black">
						<input matInput type="number" [(ngModel)]="value.amount" />
					</span>
				</ng-template>
			</ngx-datatable-column>
			<ngx-datatable-column [sortable]="false" [resizeable]="false" name="{{'reg_ammo_interval' | translate}}">
				<ng-template let-value="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
					<span *ngIf="!isRegularReductionEditable [rowIndex]">
						<span *ngIf="value.intervalMonths">{{value.intervalMonths}}</span>
						<span *ngIf="!value.intervalMonths">-</span>
					</span>
					<span *ngIf="isRegularReductionEditable [rowIndex]" style="border-bottom: 1px solid black">
						<input matInput type="number" [(ngModel)]="value.intervalMonths" />
					</span>
				</ng-template>
			</ngx-datatable-column>
			<ngx-datatable-column name="" [resizeable]="false">
				<ng-template let-row="row" ngx-datatable-cell-template let-rowIndex="rowIndex">
					<!-- Trigger edit or delete column actions -->
					<button type="button" class="mrgn-all-xs" mat-raised-button mat-button-sm *ngIf="!isRegularReductionEditable[rowIndex]" (click)="isRegularReductionEditable[rowIndex]=!isRegularReductionEditable[rowIndex]; createBackupData('regularReduction', rowIndex)">
						<mat-icon>create</mat-icon>
					</button>
					<button type="button" class="mrgn-all-xs" (click)="deleteReduction(rowIndex)" mat-raised-button mat-button-sm color="warn" *ngIf="!isRegularReductionEditable[rowIndex]">
						<mat-icon>clear</mat-icon>
					</button>
					<!-- Update column or cancel edit actions -->
					<button type="button" class="mrgn-all-xs" mat-raised-button mat-button-sm color="primary" (click)="updateReductionRow(row)" *ngIf="isRegularReductionEditable[rowIndex]">
						<mat-icon>save</mat-icon>
					</button>
					<button type="button" class="mrgn-all-xs" mat-raised-button mat-button-sm color="warn" *ngIf="isRegularReductionEditable[rowIndex]" (click)="isRegularReductionEditable[rowIndex]=!isRegularReductionEditable[rowIndex]; removeBackupData('regularReduction', rowIndex)">
						<mat-icon>clear</mat-icon>
					</button>
				</ng-template>
			</ngx-datatable-column>
		</ngx-datatable>


	</div>
</div>

<!-- Retro -->

<div *ngIf="interestObject" fxLayout="row wrap" fxLayoutAlign="start stretch" class="crm-stats-cards">
	<div fxFlex.gt-md="100" fxFlex.gt-sm="100" fxFlex="100">
		<mat-card>
			<mat-card-title>
				{{'zins_swap_retro' | translate | capitalizeFirst}}
			</mat-card-title>
			<mat-divider></mat-divider>
			<div class="gene-card-content crm-list-wrap">
				<form [formGroup]="uniqueRetroGroup">

					<div fxLayout="row wrap" class="crm-stats-cards">
						<!-- Unique retro -->
						<div fxFlex.gt-md="10" fxFlex.gt-sm="100" fxFlex="100">
							<label>{{'retro_einmalig' | translate }}</label>
						</div>
						<div fxFlex.gt-md="30" fxFlex.gt-sm="100" fxFlex="100">
							<mat-radio-group class="radio-group" formControlName="paymentType">
								<mat-radio-button [checked]="uniqueRetroGroup.controls['paymentType'].value === 'KEIN'" value="KEIN" style="padding-right:15px;" class="radio-button">{{ 'zahlung_retro_kein' | translate }}</mat-radio-button>
								<mat-radio-button [checked]="uniqueRetroGroup.controls['paymentType'].value === 'BETRAG'" value="BETRAG" class="radio-button" style="padding-right:15px;">{{ 'zahlung_betrag' | translate }}</mat-radio-button>
								<mat-radio-button [checked]="uniqueRetroGroup.controls['paymentType'].value === 'PROZENT'" value="PROZENT" class="radio-button" style="padding-right:15px;">{{ 'zahlung_prozent' | translate }}</mat-radio-button>
							</mat-radio-group>
						</div>
					</div>

					<div fxLayout="row wrap" fxLayoutAlign="start space-between" class="crm-stats-cards hide" *ngIf="uniqueRetroGroup.controls['paymentType'].value !== 'KEIN' ">

						<mat-form-field fxFlex.gt-md="30" fxFlex.gt-sm="100" fxFlex="100"
										*ngIf="uniqueRetroGroup.controls['paymentType'].value === 'BETRAG' "
										class="inputMarginR">
							<input matInput type="number" min="0" formControlName="lumpAmount" placeholder="{{ 'zahlung_betrag' | translate}}">
							<span matSuffix> CHF</span>
							<mat-error *ngIf="!uniqueRetroGroup.controls['lumpAmount'].valid && uniqueRetroGroup.controls['lumpAmount'].touched">
								<span *ngIf="uniqueRetroGroup.controls['lumpAmount'].hasError('min')">{{ 'val_positive_number' | translate }}</span>
								<span *ngIf="uniqueRetroGroup.controls['lumpAmount'].hasError('required')">{{ 'required' | translate }}</span>
							</mat-error>
						</mat-form-field>

						<mat-form-field fxFlex.gt-md="30" fxFlex.gt-sm="100" fxFlex="100"
										*ngIf="uniqueRetroGroup.controls['paymentType'].value === 'PROZENT' "
										class="inputMarginR">
							<input matInput type="number" formControlName="percentAmount" min="-100" max="100" placeholder="{{ 'zahlung_prozent' | translate}}">
							<span matSuffix> %</span>
							<mat-error *ngIf="!uniqueRetroGroup.controls['percentAmount'].valid && uniqueRetroGroup.controls['percentAmount'].touched">
								{{ 'val_percentage' | translate}}
							</mat-error>
						</mat-form-field>

						<mat-form-field class="inputMarginR" fxFlex.gt-md="30" fxFlex.gt-sm="100" fxFlex="100">
							<input matInput
								   [matDatepicker]="uniqueAcountingPositionDate"
								   formControlName="accountingPosition"
								   placeholder="{{'date' | translate}}">
							<mat-datepicker-toggle matSuffix [for]="uniqueAcountingPositionDate"></mat-datepicker-toggle>
							<mat-datepicker #uniqueAcountingPositionDate></mat-datepicker>
						</mat-form-field>

						<div fxFlex.gt-md="20" fxFlex.gt-sm="100" fxFlex="100" style="margin-top: 10px;">
							<mat-checkbox class="example-margin" formControlName="bilSubmited">
								{{ 'zahlung_einmalig_rechnung_wurde_gestellt' | translate }}
							</mat-checkbox>
						</div>

					</div>
				</form>
				<form [formGroup]="reccuringRetroGroup">
					<!-- Recurring retro -->
					<div fxLayout="row wrap" class="crm-stats-cards">
						<div fxFlex.gt-md="10" fxFlex.gt-sm="100" fxFlex="100">
							<label>{{ 'retro_wiederkehrend' | translate }}</label>
						</div>
						<div fxFlex.gt-md="30" fxFlex.gt-sm="100" fxFlex="100">
							<mat-radio-group class="radio-group" formControlName="paymentType">
								<mat-radio-button [checked]="reccuringRetroGroup.controls['paymentType'].value === 'KEIN'" value="KEIN" style="padding-right:15px;" class="radio-button">{{ 'zahlung_retro_kein' | translate }}</mat-radio-button>
								<mat-radio-button [checked]="reccuringRetroGroup.controls['paymentType'].value === 'BETRAG'" value="BETRAG" class="radio-button" style="padding-right:15px;">{{ 'zahlung_betrag' | translate }}</mat-radio-button>
								<mat-radio-button [checked]="reccuringRetroGroup.controls['paymentType'].value === 'PROZENT'" value="PROZENT" class="radio-button" style="padding-right:15px;">{{ 'zahlung_prozent' | translate }}</mat-radio-button>
							</mat-radio-group>
						</div>
					</div>

					<div fxLayout="row wrap" class="crm-stats-cards hide" *ngIf="reccuringRetroGroup.controls['paymentType'].value !== 'KEIN' ">

						<mat-form-field *ngIf="reccuringRetroGroup.controls['paymentType'].value === 'BETRAG' "
										class=" inputMarginR" fxFlex.gt-md="23" fxFlex.gt-sm="100" fxFlex="100">
							<input matInput type="number" formControlName="lumpAmount" min="0" placeholder="{{ 'zahlung_betrag' | translate}}">
							<span matSuffix> CHF</span>
							<mat-error *ngIf="!reccuringRetroGroup.controls['lumpAmount'].valid && reccuringRetroGroup.controls['lumpAmount'].touched">
								<span *ngIf="reccuringRetroGroup.controls['lumpAmount'].hasError('min')">{{ 'val_positive_number' | translate }}</span>
								<span *ngIf="reccuringRetroGroup.controls['lumpAmount'].hasError('required')">{{ 'required' | translate }}</span>
							</mat-error>
						</mat-form-field>

						<mat-form-field *ngIf="reccuringRetroGroup.controls['paymentType'].value === 'PROZENT' "
										class="inputMarginR" fxFlex.gt-md="23" fxFlex.gt-sm="100" fxFlex="100">
							<input matInput type="number" min="-100" max="100" formControlName="percentAmount" placeholder="{{ 'zahlung_prozent' | translate}}">
							<span matSuffix>%</span>
							<mat-error *ngIf="!reccuringRetroGroup.controls['percentAmount'].valid && reccuringRetroGroup.controls['percentAmount'].touched">
								{{ 'val_percentage' | translate}}
							</mat-error>
						</mat-form-field>

						<mat-form-field class="inputMarginR" fxFlex.gt-md="23" fxFlex.gt-sm="100" fxFlex="100">
							<input matInput [matDatepicker]="reccuringAcountingPositionDate"
								   formControlName="accountingPosition"
								   placeholder="{{'date' | translate}}">
							<mat-datepicker-toggle matSuffix [for]="reccuringAcountingPositionDate"></mat-datepicker-toggle>
							<mat-datepicker #reccuringAcountingPositionDate></mat-datepicker>
						</mat-form-field>

						<mat-form-field class=" inputMarginR mrgn-b-md" fxFlex.gt-md="20" fxFlex.gt-sm="100" fxFlex="100">
							<input matInput type="number" min="0" max="100"
								   formControlName="billIntervalInMonths"
								   placeholder="{{'zahlung_wiederkehrend_rechnungsstellungsintervall' | translate}}">
							<span matSuffix>{{'payment_recur_months' | translate}}</span>
						</mat-form-field>

						<mat-form-field class="inputMarginR mrgn-b-md" fxFlex.gt-md="23" fxFlex.gt-sm="100" fxFlex="100">
							<input matInput [matDatepicker]="billsPostedToDate"
								   formControlName="billsPostedTo"
								   placeholder="{{'date' | translate}}">
							<mat-datepicker-toggle matSuffix [for]="billsPostedToDate"></mat-datepicker-toggle>
							<mat-datepicker #billsPostedToDate></mat-datepicker>
						</mat-form-field>
					</div>
				</form>

			</div>
		</mat-card>
	</div>
</div>
<!-- Mortgages -->

<div fxLayout="row wrap" fxLayoutAlign="start stretch" class="crm-stats-cards">
	<div fxFlex.gt-md="100" fxFlex.gt-sm="100" fxFlex="100">
		<mat-card class="matTableMargin" style="margin-bottom:0px !important;">
			<mat-card-title>
				{{'zins_swap_hypo' | translate | capitalizeFirst}}s
			</mat-card-title>
			<mat-divider></mat-divider>
			<div class="gene-card-content crm-list-wrap">
				<form [formGroup]="mortgageGroup">
					<div fxLayout="row wrap">

						<div class="inputMarginR example-full-width"
										fxFlex.gt-md="40"
										fxFlex.gt-sm="100"
										fxFlex="100">
							<ng-select class="custom-selection"
									   [items]="allKundeMortgages"
									   bindLabel="displayName"
									   bindValue="id"
									   formControlName="mortgage">
							</ng-select>
						</div>

						<mat-form-field class=" inputMarginR example-full-width paddingTopSelect" fxFlex.gt-md="20" fxFlex.gt-sm="100" fxFlex="100">
							<input matInput type="number" placeholder="Sum" formControlName="amount">
						</mat-form-field>

						<mat-form-field class="inputMarginR mrgn-b-md paddingTopSelect" fxFlex.gt-md="20" fxFlex.gt-sm="100" fxFlex="100">
							<input matInput [matDatepicker]="mortgageNewDatepicker" formControlName="swappedFrom" placeholder="{{'date' | translate}}">
							<mat-datepicker-toggle matSuffix [for]="mortgageNewDatepicker"></mat-datepicker-toggle>
							<mat-datepicker #mortgageNewDatepicker></mat-datepicker>
						</mat-form-field>

						<div class="paddingTopSelect" fxFlex.gt-md="10" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
							<button type="button" class="mrgn-all-xs" (click)="addMortgage()" mat-raised-button mat-button-sm color="primary">
								<mat-icon>add</mat-icon>
							</button>
						</div>

					</div>
				</form>

			</div>
		</mat-card>

		<ngx-datatable *ngIf="mortgages.length > 0" style="margin-top:2px !important;"
					   class='material mrgn-all-md'
					   [rows]="mortgages"
					   [scrollbarH]="true"
					   [headerHeight]="50"
					   [columnMode]="'force'"
					   [rowHeight]="'auto'"
					   [footerHeight]="null"
					   (activate)="mortgageRowClicked($event)">
			<ngx-datatable-column [width]="500" [sortable]="false" [resizeable]="false" name="{{'zin_hypo_rel_hypo' | translate}}">
				<ng-template let-value="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
					<span>{{value.displayTitle}}</span><br>
					<span>({{value.mortgageTodayCurrentInterestTerm}} mit einem Restvolumen von {{value.todayRemainingVolume | currency:'CHF':'CHF':'0.0-0':'de-CH'}} bei der {{value.mortgageLenders | contactName}})</span>
				</ng-template>
			</ngx-datatable-column>

			<ngx-datatable-column [sortable]="false" [resizeable]="false" name="{{'zin_hypo_rel_quantity' | translate}}">
				<ng-template let-value="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
					<span *ngIf="!isMortgageEditable[rowIndex]">
						{{value.amount | currency:'':'':'0.0-0':'de-CH'}}
					</span>
					<span *ngIf="isMortgageEditable[rowIndex]" style="border-bottom: 1px solid black">
						<input matInput type="number" [value]="value.amount" />
					</span>
				</ng-template>
			</ngx-datatable-column>

			<ngx-datatable-column [sortable]="false" [resizeable]="false" name="{{'zin_hypo_rel_swap' | translate}}">
				<ng-template let-value="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
					<span *ngIf="!isMortgageEditable[rowIndex]">
						{{formatDate(value.swappedFrom)}}
					</span>
					<span *ngIf="isMortgageEditable[rowIndex]" style="border-bottom: 1px solid black">
						<input matInput type="text" [value]="value.swappedFrom" />
					</span>
				</ng-template>
			</ngx-datatable-column>
			<ngx-datatable-column name="" [resizeable]="false">
				<ng-template let-row="row" ngx-datatable-cell-template let-rowIndex="rowIndex">
					<button type="button" class="mrgn-all-xs" mat-raised-button mat-button-sm *ngIf="!isMortgageEditable[rowIndex]" (click)="isMortgageEditable[rowIndex]=!isMortgageEditable[rowIndex]">
						<mat-icon>create</mat-icon>
					</button>
					<button type="button" class="mrgn-all-xs" mat-raised-button mat-button-sm color="warn" *ngIf="!isMortgageEditable[rowIndex]">
						<mat-icon>clear</mat-icon>
					</button>
					<button type="button" class="mrgn-all-xs" mat-raised-button mat-button-sm color="primary" *ngIf="isMortgageEditable[rowIndex]">
						<mat-icon>save</mat-icon>
					</button>
					<button type="button" class="mrgn-all-xs" mat-raised-button mat-button-sm color="warn" *ngIf="isMortgageEditable[rowIndex]" (click)="isMortgageEditable[rowIndex]=!isMortgageEditable[rowIndex]">
						<mat-icon>clear</mat-icon>
					</button>
				</ng-template>
			</ngx-datatable-column>
		</ngx-datatable>
	</div>
</div>

<form [formGroup]="interestGroup">

	<div *ngIf="interestObject" fxLayout="row wrap" fxLayoutAlign="start stretch" class="crm-stats-cards">

		<!-- Remarks -->

		<div fxFlex.gt-md="50" fxFlex.gt-sm="100" fxFlex="100">
			<mat-card>
				<mat-card-title>
					{{'zins_swap_remarks' | translate | capitalizeFirst}}
				</mat-card-title>
				<mat-divider></mat-divider>
				<div class="gene-card-content crm-list-wrap">
					<mat-form-field class="full-wid mrgn-b-md">
						<input matInput formControlName="remarks" placeholder="{{ 'hypothek_bemerkung' | translate }}">
					</mat-form-field>
				</div>
			</mat-card>
		</div>

		<!-- Internal comments -->

		<div fxFlex.gt-md="50" fxFlex.gt-sm="100" fxFlex="100">
			<mat-card>
				<mat-card-title>
					{{'zins_swap_internal_remarks' | translate | capitalizeFirst}}
				</mat-card-title>
				<mat-divider></mat-divider>
				<div class="gene-card-content crm-list-wrap">
					<mat-form-field class="full-wid mrgn-b-md">
						<input matInput formControlName="internalComments" placeholder="{{ 'hypothek_bemerkung' | translate }}">
					</mat-form-field>
				</div>
			</mat-card>
		</div>
	</div>


	<!-- Buttons -->

	<div fxLayout="row wrap" fxLayoutAlign="space-between stretch" class="crm-stats-cards">
		<div fxFlex.gt-md="29" fxFlex.gt-sm="29" fxFlex.gt-xs="29">
			<div class="rowButtonsLeft">
			</div>
		</div>
		<div fxFlex.gt-md="70" fxFlex.gt-sm="70" fxFlex.gt-xs="70" fxLayoutAlign="flex-end end">
			<div class="rowButtonsRight">
				<button class="mrgn-all-xs mat-raised-button" mat-raised-button (click)="goBack()">
					<mat-icon style="font-size:15px;">chevron_left</mat-icon>  {{ 'cancel' | translate | capitalizeFirst}}
				</button>
				<button class="mrgn-all-xs mat-raised-button" mat-raised-button (click)="saveData()">
					<mat-icon style="font-size:15px;">save</mat-icon> {{ 'save' | translate | capitalizeFirst}}
				</button>
			</div>
		</div>
	</div>

</form>
