td {
	padding-bottom: 0px !important;
	padding-top: 0 !important;
}

.tdFont {
	font-weight: 700;
	color: grey;
}

.rowButtonsLeft {
	margin-left: 8px;
}

.rowButtonsRight {
	margin-right: 8px;
}

.inputWidth {
	width: 100%;
}

.inputMarginR {
	margin-right: 20px;
}

.inputPaddingR {
	padding-right: 20px;
}

.material1 {
	box-shadow: none;
}

.ngx-datatable .datatable-row-wrapper:last-child {
	margin-bottom: 0px !important;
	border-bottom: none;
}

.material {
	margin-top: 2px !important;
}

.matTableMargin {
	margin-bottom: 0px !important;
}

.mat-card {
	overflow: unset !important;
}

.inputPaddingL {
	padding-left: 20px;
}

.selectPaddingBottom {
	padding-bottom: 0px !important;
}

.paddingTopSelect {
	padding-top: 9px;
}

.clickable {
	cursor: pointer;
	color: #0645AD;
	font-weight: bold;
}

.selfBaseline {
	align-self: baseline;
}

.arrowButton {
	line-height: 30px;
	min-width: 50px;
	margin-top: 5px;
}
::ng-deep .custom-selection.ng-select .ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
	white-space: initial !important;
	padding-top: 5px !important;
	padding-bottom: 5px !important;
	line-height:1.5rem;
}