<div>
    <div [style.height.px]="height">
        <canvas #myCanvas></canvas>
    </div>

    <div fxLayout="row wrap" fxLayoutAlign="start center">
        <div fxFlex.gt-md="25" fxFlex.gt-sm="40" fxFlex.gt-xs="100" fxFlex="100" fxFlexOffset="2">
            <mat-form-field>
                <input [formControl]="from" (dateChange)="dateFilterChanged($event)" matInput
                    [matDatepicker]="fromPicker" placeholder="{{ 'line_charts_from' | translate }}">
                <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
                <mat-datepicker #fromPicker></mat-datepicker>
            </mat-form-field>
        </div>
        <div fxFlex.gt-md="25" fxFlex.gt-sm="40" fxFlex.gt-xs="100" fxFlex="100" fxFlexOffset="2">
            <mat-form-field>
                <input [formControl]="to" (dateChange)="dateFilterChanged($event)" matInput [matDatepicker]="toPicker"
                    placeholder="{{ 'line_charts_to' | translate }}">
                <mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
                <mat-datepicker #toPicker></mat-datepicker>
            </mat-form-field>
        </div>
        <div fxFlex.gt-md="25" fxFlex.gt-sm="40" fxFlex.gt-xs="100" fxFlex="100" fxFlexOffset="2">
            <mat-checkbox [(ngModel)]="steppedLine" (change)="changeLineStyle($event)">
                {{ 'line_charts_step' | translate }}</mat-checkbox>
        </div>
    </div>
</div>