td{
    padding-bottom: 0px !important;
    padding-top: 0 !important;
}

td a {
    cursor: pointer;
}

.tdFont{
    font-weight: 700;
    color: grey;
}

.divMargin1{
    margin-left: 5px;
}

.rowButtonsLeft{
    margin-left: 8px;
}

.rowButtonsRight{
    margin-right: 8px;
}

.mb-15 {
    margin-bottom: 15px;
}

table.tg {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    border: 1px solid #eee;
}

.tg-0pky {
    height: auto;
    width: 10%;
}

.tg-0pky1 {
    height: auto;
    width: 30%;
}

.objectInfo {
    font-weight: 100;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.rowObjest {
    background-color: #f9f9f9;
    padding-top: 10px;
    padding-bottom: 10px;
}