<div fxLayout="row wrap" fxLayoutAlign="start stretch" class="crm-stats-cards">
  <!-- Details -->
  <div fxFlex.gt-md="50" fxFlex.gt-sm="100" fxFlex="100">
    <mat-card>
      <div class="gene-card-title">
        <mat-card-title>{{ 'details' | translate }}</mat-card-title>
      </div>
      <mat-divider></mat-divider>
      <div class="gene-card-content crm-list-wrap">
      </div>
      <table>
        <tr>
          <td class="tdFont">{{ 'auftrag_nummer' | translate }}</td>
          <td>
            <a (click)="openBexio()">
              {{ assignmentData.assignmentNumber }}
            </a>
          </td>
        </tr>
        <tr>
          <td class="tdFont">{{ 'kontakt' | translate }}</td>
          <td>
            <a [routerLink]="['/contacts', assignmentData.id]">
              {{ assignmentData.contact }}
            </a>
          </td>  
        </tr>
        <tr>
          <td class="tdFont">{{ 'auftrag_verantwortlicher' | translate }}</td>
          <td>{{ assignmentData.firstName }}</td>
        </tr>
        <tr>
          <td class="tdFont">{{ 'auftrag_typ' | translate }}</td>
          <td>{{ assignmentData.crmTypId }}</td>
        </tr>
        <tr>
          <td class="tdFont">{{ 'auftrag_bemerkung' | translate }}</td>
          <td>{{ assignmentData.comment }}</td>
        </tr>
      </table>
    </mat-card>
  </div>
  <!-- Fee basis -->
  <div fxFlex.gt-md="50" fxFlex.gt-sm="100" fxFlex="100">
    <mat-card>
      <div class="gene-card-title">
        <mat-card-title>{{ 'auftrag_kredite_titel' | translate }}</mat-card-title>
      </div>
      <mat-divider></mat-divider>
      <div class="gene-card-content crm-list-wrap">
        <table>
          <tr>
            <td class="tdFont">{{ 'auftrag_kredite' | translate }}</td>
            <td>{{ 'auftrag_kredite_none' | translate }}</td>
          </tr>
        </table>
      </div>
    </mat-card>
  </div>
  <!-- Fee type -->
  <div fxFlex.gt-md="100" fxFlex="100">
      <mat-card>
        <div class="gene-card-title">
          <mat-card-title>{{ 'auftrag_zahlung' | translate }}</mat-card-title>
        </div>
        <mat-divider></mat-divider>
        <div class="gene-card-content crm-list-wrap">
        </div>
        <table class="mb-15">
          <tr>
            <td class="tdFont">{{ 'auftrag_honorar' | translate }}</td>
            <td>
                11.000% corresponds to 0 CHF
            </td>
          </tr>
        </table>
        <ngx-datatable class='material' 
                       [columns]="columns" 
                       [columnMode]="'force'"
                       [headerHeight]="50" 
                       [rowHeight]="'auto'" 
                       [rows]=''
                       [messages]="{emptyMessage:'general_no_data_available' | translate}">
        </ngx-datatable>  
      </mat-card>
  </div>
  <!-- Retro -->
  <div fxFlex.gt-md="100" fxFlex="100">
      <mat-card>
        <div class="gene-card-title">
          <mat-card-title>{{ 'auftrag_retro' | translate }}</mat-card-title>
        </div>
        <mat-divider></mat-divider>
        <div class="gene-card-content crm-list-wrap">
        </div>
        <table class="mb-15">
          <tr>
            <td class="tdFont">{{ 'auftrag_sum_retro' | translate }}</td>
            <td>
                0 CHF
            </td>
          </tr>
        </table>
        <table class="tg" border="1">
          <thead>
            <tr>
              <th class="tg-0pky" rowspan="2">{{ 'prov_grouped_customer' | translate | titlecase }}</th>
              <th class="tg-0pky" rowspan="2">{{ 'prov_grouped_fin_obj' | translate | titlecase }}</th>
              <th class="tg-0pky" rowspan="2">{{ 'prov_grouped_consultant' | translate | titlecase }}</th>
              <th class="tg-0pky" rowspan="2">{{ 'prov_grouped_vol_chf' | translate | titlecase }}</th>
              <th class="tg-0pky1" colspan="3">{{ 'prov_grouped_retro_one' | translate | titlecase }}</th>
              <th class="tg-0pky1" colspan="3">{{ 'prov_grouped_retro_more' | translate | titlecase }}</th>
            </tr>
            <tr>
              <th>{{ 'prov_grouped_proj' | translate }}</th>
              <th>{{ 'prov_grouped_value' | translate }}</th>
              <th>{{ 'prov_grouped_term' | translate }}</th>
              <th>{{ 'prov_grouped_proj' | translate }}</th>
              <th>{{ 'prov_grouped_value' | translate }}</th>
              <th>{{ 'prov_grouped_term' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr class="rowStyle">
              <td colspan="6" class="rowObjest">
                <i class="fa fa-plus-square fa-fw" *ngIf="!show" (click)="showExpand()"></i>
                <i class="fa fa-minus-square fa-fw" *ngIf="show" (click)="showMin()"></i>
                {{ 'label' | translate }}: Grosszügigkeitsbank
              </td>
              <td colspan="6" class="rowObjest right">{{'prov_grouped_sum' | translate}} 2'449 CHF</td>
            </tr>
            <tr *ngIf="show">
              <th class="objectInfo">Casanova James</th>
              <th class="objectInfo">7000 Chur, Forsterstrasse 1</th>
              <th class="objectInfo">User mit Crm-Id: 3 noch nicht erfasst</th>
              <th class="objectInfo">350'000</th>
              <th class="objectInfo">0.7000 </th>
              <th class="objectInfo">2'449</th>
              <th class="objectInfo">30.09.2019 </th>
              <th class="objectInfo"></th>
              <th class="objectInfo"></th>
              <th class="objectInfo"></th>
            </tr>
          </tbody>
        </table>
      </mat-card>
  </div>
</div>
<!-- Buttons -->
<div class="buttons-md">
  <div class="buttons-md1">
    <button class="mat-raised-button" 
            (click)="goBack()" 
            mat-raised-button>
        <mat-icon>chevron_left</mat-icon>{{ 'back' | translate }}
    </button>
  </div>
  <div class="buttons-md2">
    <button class="mat-raised-button" 
            color="primary" 
            (click)="generateCrmPosition()"
            mat-raised-button>
      <mat-icon>file_upload</mat-icon>{{ 'auftrag_generiere_position' | translate }}
    </button>
    <button class="mat-raised-button" 
            color="primary" 
            mat-raised-button 
            [routerLink]="['/orders/orders/order-edit/', assignmentData.id]">
      <mat-icon>edit</mat-icon>{{ 'edit' | translate }}
    </button>
  </div>
</div>