<!-- <div class="pad-y-xl">
   <div fxLayout="row" fxLayoutAlign="center start">
      <div fxLayout="column" fxFlex="100" fxFlex.xs="90" fxFlex.sm="80" fxFlex.md="95" fxFlex.lg="70" fxFlex.xl="60">
         <div fxLayout="row wrap" fxLayoutAlign="center stretch"
            class="height-full pad-t-xl pad-b-xl form-wrap-row set-resp-space" fxLayoutGap.gt-md="15px">
            <div fxLayout="column" fxFlex="100" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="60" fxFlex.lg="60"
               fxFlex.xl="60">
               <mat-card class="gene-login-v2 card-full-height card-full-width">
                  <div>

                     
                     <div fxLayout="column" fxLayoutAlign="center center" class="mrgn-b-lg text-center">
                        <h2>Logo</h2>
                     </div>

                    
                     <form #form="ngForm" (ngSubmit)="login(form.value)" fxLayoutAlign="center start">
                        <div fxLayout="column" fxFlex.xs="100" fxFlex.sm="80" fxFlex.md="80" fxFlex.lg="70"
                           fxFlex.xl="70" fxLayoutAlign="start">
                           <mat-form-field class="full-wid mrgn-b-md">
                              <input class="mrgn-t-none" matInput placeholder="E-Mail" type="text" name="email" required
                                 [(ngModel)]="email">
                              <span matSuffix><i class="material-icons">verified_user</i></span>
                           </mat-form-field>
                           <mat-form-field class="full-wid mrgn-b-md">
                              <input class="mrgn-t-none" matInput placeholder="Password" type="password" name="password"
                                 required [(ngModel)]="password">
                              <span matSuffix><i class="material-icons">vpn_key</i></span>
                           </mat-form-field>
                           
                           <div fxLayoutAlign="center start" class=" mrgn-b-lg">
                              <button mat-flat-button class="success-bg gene-btn-lg"
                                 [disabled]="!form.valid">LOGIN</button>
                           </div>
                          
                           <div class="social-list" fxLayoutAlign="center start" fxLayoutGap="15px">
                              <button mat-fab color="primary" matTooltip="Facebook"
                                 aria-label="Button that displays a tooltip for social media link">f</button>
                              <button mat-fab color="warn" matTooltip="Google"
                                 aria-label="Button that displays a tooltip for social media link">G</button>
                              <button mat-fab color="accent" matTooltip="Twitter"
                                 aria-label="Button that displays a tooltip for social media link">t</button>
                           </div>
                        </div>
                     </form>
                  </div>
               </mat-card>
            </div>
         </div>
      </div>
   </div>
</div> -->

<div class="pad-y-xl">
   <div fxLayout="row" fxLayoutAlign="center center">
      <div fxLayoutAlign="center center" class="mrgn-b-lg text-center">
         <h2>Logo</h2>
      </div>
   </div>

   <div fxLayout="row wrap" fxLayoutAlign="center stretch">
      <mat-card class="gene-login-v2 card-full-height card-full-width top-padding" fxFlex="90" fxFlex.xs="80" fxFlex.sm="70"
         fxFlex.md="60" fxFlex.lg="40" fxFlex.xl="40">

         <!--Login header-->
         <div fxLayout="row wrap"  class="login-header">
            <div fxLayout="row" fxLayoutAlign="start start" fxFlex="50" fxFlex.xs="50" fxFlex.sm="50"
            fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50" >
                  <mat-icon>lock</mat-icon><span class="login">{{'LOGIN' | translate}}</span>
            </div>

            <div fxLayout="row" fxLayoutAlign="end start" fxFlex="50" fxFlex.xs="50" fxFlex.sm="50"
            fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
                  <ms-language-drop-down></ms-language-drop-down>
            </div>
   
         </div>

         <div fxLayout="row wrap">
               <mat-divider></mat-divider>
         </div>

         <!--Empty div-->
         <div fxLayout="row wrap" class="empty-div">
         </div>


         <!--Login form -->
         <div>
            <form #form="ngForm" (ngSubmit)="login(form.value)" fxLayoutAlign="center start">
               <div fxLayout="column" fxFlex.xs="100" fxFlex.sm="90" fxFlex.md="70" fxFlex.lg="70" fxFlex.xl="70"
                  fxLayoutAlign="start">
                  <mat-form-field class="full-wid mrgn-b-md">
                     <input class="mrgn-t-none" matInput placeholder="{{'placeholder_email' | translate}}" type="text" name="email" required
                        [(ngModel)]="email">
                     <span matSuffix><i class="material-icons">verified_user</i></span>
                  </mat-form-field>
                  <mat-form-field class="full-wid mrgn-b-md">
                     <input class="mrgn-t-none" matInput placeholder="{{'placeholder_password' | translate}}" type="password" name="password" required
                        [(ngModel)]="password">
                     <span matSuffix><i class="material-icons">vpn_key</i></span>
                  </mat-form-field>

                  <div fxLayoutAlign="center start" class=" mrgn-b-lg">
                     <button mat-flat-button class="success-bg gene-btn-lg" [disabled]="!form.valid">{{'LOGIN' | translate}}</button>
                  </div>
               </div>
            </form>
         </div>
      </mat-card>
   </div>





</div>