@media(max-width:599px){
   .set-resp-space{
      padding-top: 0.8rem !important;
      padding-bottom: 0.8rem !important;
   }
}


.lock-icon {
   width:10px!important;
}

.login-text {
   width:30px!important;
   display:inline-block;
   margin-left:5px;
}

.row-direction {
   flex-direction:row!important;
}

.top-padding {
   padding-top:20px!important;
}

.login-header {
   margin-bottom: 10px;
}

.empty-div {
   height:30px!important;
}

.login {
   display:block;
   margin-left:5px;
}