<div fxLayout="row wrap" fxLayoutAlign="start">
    <div fxFlex="100">
      <div class="gene-header-toolbar" *ngIf="assignmentArray.length == 0">
        {{ noAssignmentMessage }}
      </div>
      <ngx-datatable #ordersTable
                     class='material mrgn-all-md' 
                     [columns]="columns" 
                     [columnMode]="'force'" 
                     [headerHeight]="50" 
                     [footerHeight]="50" 
                     [rowHeight]="'auto'" 
                     [limit]="10" 
                     [rows]='assignmentArray' 
                     *ngIf="assignmentArray.length > 0"
                     (activate)="onActivate($event)">
        <ngx-datatable-footer>
          <ng-template ngx-datatable-footer-template 
                        let-rowCount="rowCount" 
                        let-pageSize="pageSize" 
                        let-selectedCount="selectedCount"
                        let-curPage="curPage" 
                        let-offset="offset">
            <div style="padding: 5px 10px">
              <div>
                {{ 'auftraege_total_number' | translate }}: {{rowCount}}
              </div>
            </div>
            <datatable-pager [pagerLeftArrowIcon]="'datatable-icon-left'" 
                              [pagerRightArrowIcon]="'datatable-icon-right'" 
                              [pagerPreviousIcon]="'datatable-icon-prev'"
                              [pagerNextIcon]="'datatable-icon-skip'" 
                              [page]="curPage" 
                              [size]="pageSize" 
                              [count]="rowCount" 
                              [hidden]="!((rowCount / pageSize) > 1)"
                              (change)="ordersTable.onFooterPage($event)">
            </datatable-pager>
          </ng-template>
        </ngx-datatable-footer>
      </ngx-datatable>
    </div>
  </div>