<!--First part - Customer -->
<div fxLayout="row wrap" fxLayoutAlign="space-between start">
    <div fxFlex.gt-xs="100" fxFlex.gt-sm="30" fxFlex="100">
        <mat-card fxFlex="100%">
            <div class="gene-card-title">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <div fxLayout="column">
                        <mat-card-title>{{'hypo_details_customer' | translate}}</mat-card-title>
                    </div> <span fxFlex></span>
                </div>
                <mat-divider></mat-divider>
            </div>
            <div class="gene-card-content">
                <span *ngIf="customer" class="clickable" (click)="goToCustomer()">{{customer.name}}
                    {{customer.surname}}</span>
            </div>
        </mat-card>
    </div>
    <!-- Lender -->
    <div fxFlex.gt-xs="100" fxFlex.gt-sm="30" fxFlex="100">
        <mat-card fxFlex="100%">
            <div class="gene-card-title">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <div fxLayout="column">
                        <mat-card-title>{{'hypo_details_lender' | translate}}</mat-card-title>
                    </div> <span fxFlex></span>
                </div>
                <mat-divider></mat-divider>
            </div>
            <div class="gene-card-content">
                <span *ngIf="creditor" class="clickable" (click)="goToLender()">{{creditor.name}}
                    {{creditor.surname}}</span>
            </div>
        </mat-card>
    </div>
    <!-- Property eligible for financing -->
    <div fxFlex.gt-xs="100" fxFlex.gt-sm="40" fxFlex="100">
        <mat-card fxFlex="100%">
            <div class="gene-card-title">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <div fxLayout="column">
                        <mat-card-title>{{'hypo_details_fin_obj' | translate}}</mat-card-title>
                    </div> <span fxFlex></span>
                </div>
                <mat-divider></mat-divider>
            </div>
            <div class="gene-card-content">
                <form [formGroup]="mortgageForm">
                    <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                        <!--Property eligible for financing-->
                        <div fxFlex.gt-md="100" fxFlex.gt-sm="45" fxFlex.gt-xs="100" fxFlex="100">
                            <ng-select [items]="allFinancingObjects" [multiple]="false" [virtualScroll]="true"
                                bindLabel="name" bindValue="id" placeholder="{{'hypo_details_fin_obj' | translate}}"
                                formControlName="financingObjectId">
                            </ng-select>
                        </div>
                    </div>
                </form>
            </div>
        </mat-card>
    </div>
</div>

<!--Credit details mortgages-->
<div fxLayout="row wrap" fxLayoutAlign="space-between center">
    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card fxFlex="100%">
            <div class="gene-card-title">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <div fxLayout="column">
                        <mat-card-title>{{'hypo_details_credit' |translate | capitalizeFirst}}</mat-card-title>
                    </div> <span fxFlex></span>
                </div>
                <mat-divider></mat-divider>
            </div>
            <div class="gene-card-content">
                <form [formGroup]="mortgageForm">
                    <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                        <!--Total loan-->
                        <div fxFlex.gt-xs="100" fxFlex.gt-sm="45" fxFlex="100" *ngIf="allTotalLoans.length">
                            <ng-select [items]="allTotalLoans" [multiple]="false" [virtualScroll]="true"
                                bindLabel="totalLoanDisplayName" bindValue="id"
                                placeholder="{{'hypothek_gesamtkredit' | translate | capitalizeFirst}}"
                                formControlName="totalLoanId">
                            </ng-select>
                        </div>
                        <!--Product type-->
                        <div fxFlex.gt-xs="100" fxFlex.gt-sm="45" fxFlex="100">
                            <ng-select [items]="productType" [multiple]="false" [virtualScroll]="true" bindLabel="name"
                                bindValue="value" placeholder="{{'hypothek_produkttyp' | translate | capitalizeFirst}}"
                                formControlName="productType">
                            </ng-select>
                        </div>
                    </div>
                    <div fxLayout="row wrap" fxLayoutAlign="space-between start">
                        <!--Termination-->
                        <div fxFlex.gt-xs="100" fxFlex.gt-sm="45" fxFlex="100">
                            <ng-select [items]="termination" [multiple]="false" [virtualScroll]="true" bindLabel="name"
                                bindValue="value"
                                placeholder="{{'hypo_details_closure_type' | translate | capitalizeFirst}}"
                                formControlName="termination">
                            </ng-select>
                        </div>
                        <!--Account number-->
                        <div fxFlex.gt-xs="100" fxFlex.gt-sm="45" fxFlex="100">
                            <mat-form-field class="full-wid mrgn-b-md">
                                <input matInput placeholder="{{'hypothek_kontonummer' | translate | capitalizeFirst}}"
                                    formControlName="accountNumber">
                            </mat-form-field>
                        </div>
                    </div>
                </form>

                <!--Volume inner card-->
                <form [formGroup]="volumeForm">
                    <div fxLayout="row wrap" fxLayoutAlign="start stretch" class="crm-stats-cards">
                        <div fxFlex.gt-xs="100" fxFlex="100">
                            <mat-card>
                                <div class="gene-card-title">
                                    <mat-card-title>{{'hypothek_volumen' | translate | capitalizeFirst}}
                                    </mat-card-title>
                                </div>
                                <mat-divider></mat-divider>
                                <div class="gene-card-content crm-list-wrap">
                                </div>
                                <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                                    <div fxFlex.gt-xs="100" fxFlex.gt-sm="45" fxFlex.gt-lg="20" fxFlex="100">
                                        <!--Date-->
                                        <mat-form-field class="full-wid mrgn-b-md">
                                            <input matInput [matDatepicker]="myDatepicker"
                                                placeholder="{{'date' | translate}}" formControlName="date">
                                            <mat-datepicker-toggle matSuffix [for]="myDatepicker">
                                            </mat-datepicker-toggle>
                                            <mat-datepicker #myDatepicker></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <!--Volume (CHF)-->
                                    <div fxFlex.gt-xs="100" fxFlex.gt-sm="45" fxFlex.gt-lg="20" fxFlex="100">
                                        <mat-form-field class="full-wid mrgn-b-md">
                                            <input matInput type="number"
                                                placeholder="{{'vol_header_volume' | translate}}"
                                                formControlName="volume">
                                        </mat-form-field>
                                    </div>
                                    <!--Paid out (CHF)-->
                                    <div fxFlex.gt-xs="100" fxFlex.gt-sm="45" fxFlex.gt-lg="20" fxFlex="100">
                                        <mat-form-field class="full-wid mrgn-b-md">
                                            <input matInput type="number"
                                                placeholder="{{'vol_header_paid' | translate}}"
                                                formControlName="loanAmountPaid">
                                        </mat-form-field>
                                    </div>
                                    <!--Interest (CHF)	-->
                                    <div fxFlex.gt-xs="100" fxFlex.gt-sm="45" fxFlex.gt-lg="20" fxFlex="100">
                                        <mat-form-field class="full-wid mrgn-b-md">
                                            <input matInput type="number"
                                                placeholder="{{'vol_header_perc' | translate}}"
                                                formControlName="interestOnTheLoan">
                                        </mat-form-field>
                                    </div>
                                </div>
                            </mat-card>
                        </div>
                    </div>
                </form>

                <!--Interest rate and term inner card-->
                <form [formGroup]="interestRateForm">
                    <div fxLayout="row wrap" fxLayoutAlign="start stretch" class="crm-stats-cards">
                        <div fxFlex.gt-xs="100" fxFlex="100">
                            <mat-card>
                                <div class="gene-card-title">
                                    <mat-card-title>{{'hypothek_zinslaufzeit' | translate | capitalizeFirst}}
                                    </mat-card-title>
                                </div>
                                <mat-divider></mat-divider>
                                <div class="gene-card-content crm-list-wrap">
                                </div>
                                <div fxLayout="row wrap" fxLayoutAlign="space-between none">
                                    <!-- Zinslaufzeit -->
                                    <div fxFlex.gt-xs="100" fxFlex.gt-sm="50" fxFlex.gt-md="20" fxFlex="100">
                                        <mat-form-field class="full-wid mrgn-b-md">
                                            <input matInput [matDatepicker]="myDatepicker1"
                                                placeholder="{{'date' | translate}}" formControlName="start">
                                            <mat-datepicker-toggle matSuffix [for]="myDatepicker1">
                                            </mat-datepicker-toggle>
                                            <mat-datepicker #myDatepicker1></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <!-- Interest rate and term EXCLUSIVE buttons -->
                                    <div fxFlex.gt-xs="100" fxFlex.gt-sm="50" fxFlex.gt-md="15" fxFlex="100"
                                        style="text-align: center">
                                        <button class="mrgn-all-xs mat-raised-button" color="default" mat-raised-button
                                            title="{{(interestRateStartExclusive ? 'filter_excl' : 'filter_incl') | translate}}"
                                            (click)="interestRateStartExclusive = !interestRateStartExclusive">
                                            <span *ngIf="!interestRateStartExclusive">&#8804;</span>
                                            <span *ngIf="interestRateStartExclusive">&#60;</span>
                                        </button>
                                        <button class="mrgn-all-xs mat-raised-button" color="default" mat-raised-button
                                            title="{{(interestRateEndExclusive ? 'filter_excl' : 'filter_incl') | translate}}"
                                            (click)="interestRateEndExclusive = !interestRateEndExclusive">
                                            <span *ngIf="!interestRateEndExclusive">&#8804;</span>
                                            <span *ngIf="interestRateEndExclusive">&#60;</span>
                                        </button>
                                    </div>
                                    <!-- Zinslaufzeit -->
                                    <div fxFlex.gt-xs="100" fxFlex.gt-sm="50" fxFlex.gt-md="20" fxFlex="100">
                                        <mat-form-field class="full-wid mrgn-b-md">
                                            <input matInput [matDatepicker]="myDatepicker2"
                                                placeholder="{{'date' | translate}}" formControlName="ende">
                                            <mat-datepicker-toggle matSuffix [for]="myDatepicker2">
                                            </mat-datepicker-toggle>
                                            <mat-datepicker #myDatepicker2></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <div fxFlex.gt-xs="100" fxFlex.gt-sm="50" fxFlex.gt-md="15" fxFlex="100">
                                        <!--Zinssatz (%)	-->
                                        <mat-form-field class="full-wid mrgn-b-md">
                                            <input type="number" matInput placeholder="Zinssatz (%)"
                                                formControlName="interest">
                                        </mat-form-field>
                                    </div>
                                    <!--Bemerkungen	-->
                                    <div fxFlex.gt-xs="100" fxFlex.gt-sm="50" fxFlex.gt-md="20" fxFlex="100">
                                        <mat-form-field class="full-wid mrgn-b-md">
                                            <input matInput placeholder="Bemerkungen" formControlName="remark">
                                        </mat-form-field>
                                    </div>
                                </div>
                            </mat-card>
                        </div>
                    </div>
                </form>


                <!-- Framework term visible if product type is "LIBOR_HYPOTHEK" -->
                <form [formGroup]="frameTermForm">
                    <div fxLayout="row wrap" fxLayoutAlign="start none">
                        <div fxFlex.gt-xs="100" fxFlex.gt-sm="50" fxFlex.gt-md="20" fxFlex="100">
                            <label>{{'hypothek_rahmenlaufzeit' | translate | capitalizeFirst}}</label>
                        </div>
                        <div fxFlex.gt-xs="100" fxFlex.gt-sm="50" fxFlex.gt-md="20" fxFlex="100">
                            <mat-form-field class="full-wid mrgn-b-md">
                                <input matInput [matDatepicker]="frameworkDate1" placeholder="{{'date' | translate}}"
                                    formControlName="start">
                                <mat-datepicker-toggle matSuffix [for]="frameworkDate1">
                                </mat-datepicker-toggle>
                                <mat-datepicker #frameworkDate1></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <!-- Frame term EXCLUSIVE buttons -->
                        <div fxFlex.gt-xs="100" fxFlex.gt-sm="50" fxFlex.gt-md="15" fxFlex="100"
                            style="text-align: center">
                            <button class="mrgn-all-xs mat-raised-button" color="default" mat-raised-button
                                title="{{(frameTermStartExclusive ? 'filter_excl' : 'filter_incl') | translate}}"
                                (click)="frameTermStartExclusive = !frameTermStartExclusive">
                                <span *ngIf="!frameTermStartExclusive">&#8804;</span>
                                <span *ngIf="frameTermStartExclusive">&#60;</span>
                            </button>
                            <button class="mrgn-all-xs mat-raised-button" color="default" mat-raised-button
                                title="{{(frameTermEndExclusive ? 'filter_excl' : 'filter_incl') | translate}}"
                                (click)="frameTermEndExclusive = !frameTermEndExclusive">
                                <span *ngIf="!frameTermEndExclusive">&#8804;</span>
                                <span *ngIf="frameTermEndExclusive">&#60;</span>
                            </button>
                        </div>
                        <div fxFlex.gt-xs="100" fxFlex.gt-sm="50" fxFlex.gt-md="20" fxFlex="100">
                            <mat-form-field class="full-wid mrgn-b-md">
                                <input matInput [matDatepicker]="frameworkDate2" placeholder="{{'date' | translate}}"
                                    formControlName="ende">
                                <mat-datepicker-toggle matSuffix [for]="frameworkDate2">
                                </mat-datepicker-toggle>
                                <mat-datepicker #frameworkDate2></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                </form>

                <!-- Notice period visible if Interest Runtime Input Config is "Variable Hypothek" -->
                <form [formGroup]="mortgageForm">
                    <div fxLayout="row wrap" fxLayoutAlign="start none">
                        <div fxFlex.gt-xs="100" fxFlex.gt-sm="50" fxFlex.gt-md="20" fxFlex="100">
                            <label>{{'hypo_details_notice_term' | translate | capitalizeFirst}}</label>
                        </div>
                        <div fxFlex.gt-xs="100" fxFlex.gt-sm="50" fxFlex.gt-md="20" fxFlex="100">
                            <mat-form-field class="full-wid mrgn-b-md">
                                <input type="number" matInput placeholder="Kündigungsfrist ({{'months' | translate}})"
                                    formControlName="noticePeriod">
                            </mat-form-field>
                        </div>
                    </div>
                    <!--Interest rate calculation method-->
                    <div fxLayout="row wrap" fxLayoutAlign="start center" style="padding: 10px 0 10px 0">
                        <div fxFlex.gt-xs="100" fxFlex.gt-sm="50" fxFlex.gt-md="20" fxFlex="100">
                            <label id="example-radio-group-label">{{'zins_usanz' | translate | capitalizeFirst}}</label>
                        </div>
                        <div fxFlex.gt-xs="100" fxFlex.gt-sm="50" fxFlex.gt-md="20" fxFlex="100">
                            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                                fxLayoutAlign="space-between center" formControlName="interestRateType">
                                <mat-radio-button class="example-radio-button"
                                    *ngFor="let rate of interestCalculationRadioLabels" [value]="rate">
                                    {{rate | translate}}
                                </mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                    <!--Type of interest charge-->
                    <div fxLayout="row wrap" fxLayoutAlign="start center" style="padding: 10px 0 10px 0">
                        <div fxFlex.gt-xs="100" fxFlex.gt-sm="50" fxFlex.gt-md="20" fxFlex="100">
                            <label
                                id="example-radio-group-label">{{'hypo_details_pay_type' | translate | capitalizeFirst}}</label>
                        </div>
                        <div fxFlex.gt-xs="100" fxFlex.gt-sm="50" fxFlex.gt-md="20" fxFlex="100">
                            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                                fxLayoutAlign="space-between center" formControlName="interestChargeType">
                                <mat-radio-button class="example-radio-button"
                                    *ngFor="let interest  of interestTypeRadioLabels " [value]="interest">
                                    {{interest | translate}}
                                </mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                </form>

                <form [formGroup]="interestDueForm">
                    <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                        <!--Interest due-->
                        <div fxFlex.gt-md="45" fxFlex.gt-sm="45" fxFlex.gt-xs="100" fxFlex="100">
                            <mat-form-field class="full-wid mrgn-b-md">
                                <input matInput [matDatepicker]="myDatepicker3"
                                    placeholder="{{'hypothek_zinsfaelligkeit' | translate | capitalizeFirst}}"
                                    formControlName="start">
                                <mat-datepicker-toggle matSuffix [for]="myDatepicker3"></mat-datepicker-toggle>
                                <mat-datepicker #myDatepicker3></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <!--Interest maturity interval-->
                        <div fxFlex.gt-md="45" fxFlex.gt-sm="45" fxFlex.gt-xs="100" fxFlex="100">
                            <mat-form-field class="full-wid mrgn-b-md">
                                <input matInput type="number"
                                    placeholder="{{'zinsswap_zinsfaelligkeit_interval' | translate}} ({{'months' | translate}})"
                                    formControlName="intervalInMonths">
                            </mat-form-field>
                        </div>
                    </div>
                </form>

                <form [formGroup]="mortgageForm">
                    <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                        <!--Margin-->
                        <div fxFlex.gt-md="45" fxFlex.gt-sm="45" fxFlex.gt-xs="100" fxFlex="100">
                            <mat-form-field class="full-wid mrgn-b-md">
                                <input matInput type="number"
                                    placeholder="{{'hypothek_marge' | translate | capitalizeFirst}}"
                                    formControlName="marge">
                            </mat-form-field>
                        </div>
                        <!--Status-->
                        <div fxFlex.gt-md="45" fxFlex.gt-sm="45" fxFlex.gt-xs="100" fxFlex="100">
                            <mat-form-field class="full-wid mrgn-b-md">
                                <input matInput [matDatepicker]="myDatepicker4"
                                    placeholder="{{'Status' | translate | capitalizeFirst}}"
                                    formControlName="deactivatedSince">
                                <mat-datepicker-toggle matSuffix [for]="myDatepicker4"></mat-datepicker-toggle>
                                <mat-datepicker #myDatepicker4></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                </form>
            </div>
        </mat-card>
    </div>
</div>

<!--Regular amortization-->
<div fxLayout="row wrap" fxLayoutAlign="space-between center">
    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card fxFlex="100%">
            <div class="gene-card-title">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <div fxLayout="column">
                        <mat-card-title>{{'hypo_details_reg_ammo' | translate | capitalizeFirst}}</mat-card-title>
                    </div> <span fxFlex></span>
                </div>
                <mat-divider></mat-divider>
            </div>
            <div class="gene-card-content">

                <form [formGroup]="regularAmortizationForm">
                    <div fxLayout="row wrap" fxLayoutAlign="space-between none">
                        <!-- Regular amortization duration -->
                        <div fxFlex.gt-xs="100" fxFlex.gt-sm="50" fxFlex.gt-md="15" fxFlex="100">
                            <mat-form-field class="full-wid mrgn-b-md">
                                <input matInput [matDatepicker]="regAmortDuration1"
                                    placeholder="{{'reg_ammo_duration' | translate}} {{'date' | translate}}"
                                    formControlName="start">
                                <mat-datepicker-toggle matSuffix [for]="regAmortDuration1">
                                </mat-datepicker-toggle>
                                <mat-datepicker #regAmortDuration1></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div fxFlex.gt-xs="100" fxFlex.gt-sm="50" fxFlex.gt-md="15" fxFlex="100"
                            style="text-align: center">
                            <button class="mrgn-all-xs mat-raised-button" color="default" mat-raised-button
                                title="{{(regularAmortizationStartExclusive ? 'filter_excl' : 'filter_incl') | translate}}"
                                (click)="regularAmortizationStartExclusive = !regularAmortizationStartExclusive">
                                <span *ngIf="!regularAmortizationStartExclusive">&#8804;</span>
                                <span *ngIf="regularAmortizationStartExclusive">&#60;</span>
                            </button>
                            <button class="mrgn-all-xs mat-raised-button" color="default" mat-raised-button
                                title="{{(regularAmortizationEndExclusive ? 'filter_excl' : 'filter_incl') | translate}}"
                                (click)="regularAmortizationEndExclusive = !regularAmortizationEndExclusive">
                                <span *ngIf="!regularAmortizationEndExclusive">&#8804;</span>
                                <span *ngIf="regularAmortizationEndExclusive">&#60;</span>
                            </button>
                        </div>
                        <!-- Regular amortization duration -->
                        <div fxFlex.gt-xs="100" fxFlex.gt-sm="50" fxFlex.gt-md="15" fxFlex="100">
                            <mat-form-field class="full-wid mrgn-b-md">
                                <input matInput [matDatepicker]="regAmortDuration2"
                                    placeholder="{{'reg_ammo_duration' | translate}} {{'date' | translate}}"
                                    formControlName="ende">
                                <mat-datepicker-toggle matSuffix [for]="regAmortDuration2">
                                </mat-datepicker-toggle>
                                <mat-datepicker #regAmortDuration2></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div fxFlex.gt-xs="100" fxFlex.gt-sm="50" fxFlex.gt-md="15" fxFlex="100">
                            <!-- Regular amortization Amount (CHF)	-->
                            <mat-form-field class="full-wid mrgn-b-md">
                                <input type="number" matInput placeholder="{{'reg_ammo_quantity' | translate}}"
                                    formControlName="amount">
                            </mat-form-field>
                        </div>
                        <!-- Regular amortization Internal comments	-->
                        <div fxFlex.gt-xs="100" fxFlex.gt-sm="50" fxFlex.gt-md="30" fxFlex="100">
                            <mat-form-field class="full-wid mrgn-b-md">
                                <input matInput placeholder="{{'reg_ammo_interval' | translate}}"
                                    formControlName="intervalInMonths">
                            </mat-form-field>
                        </div>
                    </div>
                </form>

                <!--Remarks on regular amortization	-->
                <form [formGroup]="mortgageForm">
                    <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                        <div fxFlex.gt-xs="100" fxFlex="100">
                            <mat-form-field class="full-wid mrgn-b-md">
                                <textarea matInput
                                    placeholder="{{'hypothek_regulaereamortisation_bemerkungen' | translate}}"
                                    formControlName="regularAmortisationsRemarks">
                           </textarea>
                            </mat-form-field>
                        </div>
                    </div>
                </form>
            </div>
        </mat-card>
    </div>
</div>

<!--Retro-->
<div fxLayout="row wrap" fxLayoutAlign="space-evenly center">
    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card fxFlex="100%">
            <div class="gene-card-title">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <div fxLayout="column">
                        <mat-card-title>{{'hypo_details_retro' | translate | capitalizeFirst}}</mat-card-title>
                    </div> <span fxFlex></span>
                </div>
                <mat-divider></mat-divider>
            </div>
            <div class="gene-card-content">

                <!--Unique retro-->
                <div fxLayout="row wrap">
                    <div fxFlex.gt-xs="100" fxFlex="100">
                        <div fxFlex.gt-xs="100" fxFlex.gt-sm="50" fxFlex.gt-md="30" fxFlex="100">
                            <label id="example-radio-group-label">{{'retro_einmalig' | translate}}</label>
                        </div>
                        <div fxFlex.gt-xs="100" fxFlex.gt-sm="50" fxFlex.gt-md="70" fxFlex="100">
                            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                                fxLayoutAlign="space-between center">
                                <mat-radio-button class="example-radio-button" *ngFor="let retro of retroRadioLabels"
                                    [value]="retro" (change)="changeRadioButtonUnique($event)">
                                    {{retro | translate}}
                                </mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                </div>

                <!--Show or hide unique retro section when clicking on radio buttons-->
                <div *ngIf='showRadioSectionUnique'>
                    <form [formGroup]="uniqueRetroForm">
                        <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                            <div fxFlex.gt-xs="0" fxFlex.gt-md="30" fxFlex="100"></div>
                            <!--Sum CHF-->
                            <div fxFlex.gt-xs="100" fxFlex.gt-sm="50" fxFlex.gt-md="20" fxFlex="100">
                                <mat-form-field class="full-wid mrgn-b-md" *ngIf="uniqueSumShow">
                                    <input matInput placeholder="{{'zahlung_betrag' | translate}} CHF" type="number"
                                        formControlName="lumpAmount">
                                </mat-form-field>
                                <!--Percent-->
                                <mat-form-field class="full-wid mrgn-b-md" *ngIf="uniquePercentShow">
                                    <input matInput placeholder="{{'zahlung_prozent' | translate}} %" type="number"
                                        formControlName="percentAmount">
                                </mat-form-field>
                            </div>
                            <!--Date from unique retro-->
                            <div fxFlex.gt-xs="100" fxFlex.gt-sm="50" fxFlex.gt-md="20" fxFlex="100">
                                <mat-form-field class="full-wid mrgn-b-md">
                                    <input matInput [matDatepicker]="uniqueRetroDate"
                                        placeholder="{{'date' | translate}}" formControlName="accountingPosition">
                                    <mat-datepicker-toggle matSuffix [for]="uniqueRetroDate"></mat-datepicker-toggle>
                                    <mat-datepicker #uniqueRetroDate></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <!--Invoice has been made-->
                            <div fxFlex.gt-xs="100" fxFlex.gt-sm="50" fxFlex.gt-md="25" fxFlex.gt-xs="100"
                                fxLayoutAlign="end">
                                <div fxLayout="row wrap">
                                    <div fxFlex.gt-md="45" fxFlex.gt-sm="45" fxFlex.gt-xs="100" fxFlex="100">
                                        <mat-checkbox class="example-margin" formControlName="bilSubmited">
                                            {{'zahlung_einmalig_rechnung_wurde_gestellt' | translate}}</mat-checkbox>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <!--Recurring retro-->
                <div fxLayout="row wrap">
                    <div fxFlex.gt-xs="100" fxFlex="100">
                        <div fxFlex.gt-xs="100" fxFlex.gt-sm="50" fxFlex.gt-md="30" fxFlex="100">
                            <label id="example-radio-group-label">Recurring retro</label>
                        </div>
                        <div fxFlex.gt-xs="100" fxFlex.gt-sm="50" fxFlex.gt-md="70" fxFlex="100">
                            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                                fxLayoutAlign="space-between center">
                                <mat-radio-button class="example-radio-button" *ngFor="let retro of retroRadioLabels"
                                    [value]="retro" (change)="changeRadioButtonRecurring($event)">
                                    {{retro | translate}}
                                </mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                </div>

                <!--Show or recurring retro section when clicking on radio buttons-->
                <div *ngIf='showRadioSectionRecurring'>
                    <form [formGroup]="reccuringRetro">
                        <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                            <div fxFlex.gt-xs="0" fxFlex.gt-md="30" fxFlex="100"></div>

                            <div fxFlex.gt-xs="100" fxFlex.gt-sm="50" fxFlex.gt-md="15" fxFlex="100">
                                <!--Sum CHF-->
                                <mat-form-field class="full-wid mrgn-b-md" *ngIf="recurringSumShow">
                                    <input matInput placeholder="{{'zahlung_betrag' | translate}} CHF" type="number"
                                        formControlName="lumpAmount">
                                </mat-form-field>
                                <!--Percent-->
                                <mat-form-field class="full-wid mrgn-b-md" *ngIf="recurringPercentShow">
                                    <input matInput placeholder="{{'zahlung_prozent' | translate}} %" type="number"
                                        formControlName="percentAmount">
                                </mat-form-field>
                            </div>
                            <!--Date from reccuring retro-->
                            <div fxFlex.gt-xs="100" fxFlex.gt-sm="50" fxFlex.gt-md="15" fxFlex="100">
                                <mat-form-field class="full-wid mrgn-b-md">
                                    <input matInput [matDatepicker]="reccuringRetroDateFrom"
                                        placeholder="{{'date' | translate}}" formControlName="accountingPosition">
                                    <mat-datepicker-toggle matSuffix [for]="reccuringRetroDateFrom">
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #reccuringRetroDateFrom></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <!--Interval in months-->
                            <div fxFlex.gt-xs="100" fxFlex.gt-sm="50" fxFlex.gt-md="15" fxFlex="100">
                                <mat-form-field class="full-wid mrgn-b-md">
                                    <input matInput
                                        placeholder="{{'zahlung_wiederkehrend_rechnungsstellungsintervall' | translate}} ({{'months' | translate}})"
                                        type="number" formControlName="billIntervalInMonths">
                                </mat-form-field>
                            </div>
                            <!--Date to reccurint retro retro-->
                            <div fxFlex.gt-xs="100" fxFlex.gt-sm="50" fxFlex.gt-md="15" fxFlex="100">
                                <mat-form-field class="full-wid mrgn-b-md">
                                    <input matInput [matDatepicker]="reccuringRetroDateTo"
                                        placeholder="{{'date' | translate}}" formControlName="billsPostedTo">
                                    <mat-datepicker-toggle matSuffix [for]="reccuringRetroDateTo">
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #reccuringRetroDateTo></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </mat-card>
    </div>
</div>

<!--Remarks and Internal comments card -->
<form [formGroup]="mortgageForm">
    <div fxLayout="row wrap" fxLayoutAlign="space-between center">
        <!--Remarks -->
        <div fxFlex.gt-xs="100" fxFlex.gt-sm="50" fxFlex="100">
            <mat-card fxFlex="100%">
                <div class="gene-card-title">
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <div fxLayout="column">
                            <mat-card-title>{{'hypo_details_remarks' | translate | capitalizeFirst}}</mat-card-title>
                        </div> <span fxFlex></span>
                    </div>
                    <mat-divider></mat-divider>
                </div>
                <!--Internal comments -->
                <div class="gene-card-content">
                    <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                        <div fxFlex.gt-xs="100" fxFlex="100">
                            <mat-form-field class="full-wid mrgn-b-md">
                                <input matInput placeholder="{{'hypothek_bemerkung' | translate | capitalizeFirst}}"
                                    formControlName="remarks">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>

        <div fxFlex.gt-xs="100" fxFlex.gt-sm="50" fxFlex="100">
            <mat-card fxFlex="100%">
                <div class="gene-card-title">
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <div fxLayout="column">
                            <mat-card-title>{{'hypo_details_internal_remarks' | translate | capitalizeFirst}}
                            </mat-card-title>
                        </div> <span fxFlex></span>
                    </div>
                    <mat-divider></mat-divider>
                </div>
                <div class="gene-card-content">
                    <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                        <!--Internal comments-->
                        <div fxFlex.gt-xs="100" fxFlex="100">
                            <mat-form-field class="full-wid mrgn-b-md">
                                <input matInput placeholder="{{'hypothek_bemerkung' | translate | capitalizeFirst}}"
                                    formControlName="internalComments">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
</form>

<!-- Buttons -->
<div fxLayout="row wrap" fxLayoutAlign="space-between stretch" class="crm-stats-cards mat-card-margin">
    <div fxFlex.gt-md="100" fxFlex.gt-sm="70" class="buttons-div" fxFlex.gt-xs="70" fxLayoutAlign="flex-end end">
        <button class="mrgn-all-xs mat-raised-button" color="default" mat-raised-button (click)="goBack()">
            Cancel
        </button>
        <button class="mrgn-all-xs mat-raised-button" color="primary" mat-raised-button (click)="onSubmit()">
            <mat-icon style="font-size:15px;">save</mat-icon>Save
        </button>
    </div>
</div>