<mat-card>
    <mat-card-title>{{ 'zins_reihe' | translate }}</mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content>
        <form class="new-rate" [formGroup]="form">
            <div fxLayout="row wrap" fxLayoutAlign="start center">
                <div fxFlex.gt-md="83" fxFlex.gt-sm="70" fxFlex.gt-xs="100" fxFlex="100">

                    <mat-form-field class="example-full-width">
                        <input matInput type="text" placeholder="{{ 'zins_reihe_name' | translate }}"
                            formControlName="name">
                    </mat-form-field>

                </div>
                <div fxFlex.gt-md="15" fxFlex.gt-sm="15" fxFlex.gt-xs="100" fxFlex="100">
                    <button type="button" class="mrgn-all-xs primary-color-bg" mat-raised-button mat-button-sm
                        secure-show [resource]="'ZinsReihe'" [privilege]="'CREATE'" (click)="addNewRate()">
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
            </div>
        </form>

        <mat-divider></mat-divider>

        <mat-list>
            <mat-list-item *ngFor="let rate of interestRates">
                <!-- DISPLAY MODE -->
                <h4 *ngIf="!rate.edit" mat-line>{{ rate.name }}</h4>
                <!-- EDIT MODE -->
                <input *ngIf="rate.edit" placeholder="{{ 'amortisation_bemerkung' | translate }}"
                    [(ngModel)]="rate.name" matInput type="text">
                <!-- EDIT BUTTON -->
                <button [disabled]="disableOtherButtons" *ngIf="!rate.edit" type="button" class="mrgn-all-xs"
                    mat-raised-button mat-button-sm secure-show [resource]="'ZinsReihe'" [privilege]="'UPDATE'"
                    (click)="edit(rate)">
                    <mat-icon>create</mat-icon>
                </button>
                <!-- SAVE BUTTON -->
                <button *ngIf="rate.edit" type="button" class="mrgn-all-xs" mat-raised-button mat-button-sm secure-show
                    [resource]="'ZinsReihe'" [privilege]="'UPDATE'" (click)="save(rate)">
                    <mat-icon>save</mat-icon>
                </button>
                <!-- CANCEL BUTTON -->
                <button *ngIf="rate.edit" type="button" class="mrgn-all-xs" mat-raised-button mat-button-sm secure-show
                    [resource]="'ZinsReihe'" [privilege]="'UPDATE'" (click)="close(rate)">
                    <mat-icon>close</mat-icon>
                </button>
                <!-- DELETE BUTTON -->
                <button *ngIf="!rate.edit" type="button" class="mrgn-all-xs" mat-raised-button mat-button-sm secure-show
                    [resource]="'ZinsReihe'" [privilege]="'UPDATE'" color="warn" (click)="delete(rate)">
                    <mat-icon>delete_forever</mat-icon>
                </button>
                <mat-divider></mat-divider>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>