<div fxLayout="row wrap" fxLayoutAlign="space-between center">
  <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
    <mat-card fxFlex="100%">
      <mat-card-title>{{'financ_obj_customer' | translate | capitalizeFirst}}</mat-card-title>
      <mat-divider></mat-divider>
      <div class="gene-card-content">
        <span class="clickable" (click)="goToCustomer()">{{ financingObject.Customer }}</span>
      </div>
    </mat-card>
  </div>

  <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
    <mat-card fxFlex="100%">
      <mat-card-title>{{'financ_obj_owner' | translate | capitalizeFirst}}</mat-card-title>
      <mat-divider></mat-divider>
      <div class="gene-card-content">
        <span>{{ financingObject.Owner }}</span>
      </div>
    </mat-card>
  </div>

</div>
<!-- Tabs -->
<div class="gene-card-content">
  <mat-tab-group mat-stretch-tabs>
    <mat-tab>
      <ng-template mat-tab-label class="position-relative">
        <span class="position-absolute tab-label-icon-padding-bot">
          <mat-icon>dashboard</mat-icon>
        </span>
        <span class="position-absolute tab-label-text-padding-top">
          <p>{{'financ_obj_overview' | translate | capitalizeFirst}}</p>
        </span>
      </ng-template>
      <div class="pad-t-md pad-b-md">
        <ms-properties-overview [rentalIncome]="rentalIncome" [objectWorth]="objectWorth" [colleteralValue]="colleteralValue"
          [investmentWorth]="investmentWorth" [financingObjectId]="id" #propertiesoverview></ms-properties-overview>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label class="position-relative">
        <span class="position-absolute tab-label-icon-padding-bot">
          <mat-icon>search</mat-icon>
        </span>
        <span class="position-absolute tab-label-text-padding-top">
          <p>{{'financ_obj_details' | translate | capitalizeFirst}}</p>
        </span>
      </ng-template>
      <div class="pad-t-md pad-b-md">
        <ms-properties-details [financingObject]="property" #propertiesdetails></ms-properties-details>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>


<!-- Buttons -->
<div class="buttons-md">
  <div class="buttons-md1">
    <button class="mat-raised-button" (click)="goBack()" mat-raised-button>
      <mat-icon>chevron_left</mat-icon>{{ 'back' | translate | capitalizeFirst}}
    </button>
  </div>
  <div class="buttons-md2">
    <button class="mat-raised-button" color="primary" mat-raised-button (click)="processProperty()">
      <mat-icon>create</mat-icon>{{ 'edit' | translate | capitalizeFirst}}
    </button>
  </div>
</div>