.gene-breadcrumbs {
    display:none;
}

.position-absolute {
    position: absolute !important;
}

.position-relative {
    position: relative !important;
}

.tab-label-icon-padding-bot {
    padding-bottom: 20px !important;
}

.tab-label-text-padding-top {
    padding-top: 35px !important;
}

.divMargin1{
    margin-left: 9px;
}

.margin-right-distance {
    margin-right:8px;
}


.tdFont{
    font-weight: 700;
    color: grey;
}


.column-alignment {
    vertical-align: top;
}

.green-color {
    background-color:#9ad268
}


.value-style {
    display:block;
    text-align:right;
    font-size:26px;
}


.value-description {
    display:block;
    text-align:right;
}

.clickable {
    cursor: pointer;
    color: #0645AD;
    font-weight: bold;
}





