<div>

  <ngx-datatable #overDueMortgagesTable class='material mrgn-all-md' [columnMode]="'fixed'" [headerHeight]="'auto'"
    [footerHeight]="0" [rowHeight]="'auto'" [rows]='data' [scrollbarH]="true"
    style="margin-top: 2px !important" [groupExpansionDefault]="true" [groupRowsBy]="'groupedBy'"
    [summaryRow]="enableSummary" [summaryPosition]="summaryPosition" [summaryHeight]="'auto'"
    (activate)="goToMortgage($event)">

    <ngx-datatable-group-header [rowHeight]="'auto'" #myGroupHeader>
      <ng-template let-group="group" let-expanded="expanded" ngx-datatable-group-header-template>
        <div class="mortgages-group-header title-pad">
          <span>{{ 'date_jahr' | translate | capitalizeFirst}} : {{ group.value[0].groupedBy }}</span>
        </div>
      </ng-template>
    </ngx-datatable-group-header>

    <ngx-datatable-column name="{{'fin_obj' | translate | capitalizeFirst}}" [resizeable]="false"
      [canAutoResize]="false" [width]="330" prop="mortgageName">
      <ng-template let-value="row.mortgageName" ngx-datatable-cell-template>
        {{value}}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column [resizeable]="false" [width]="158" [draggable]="false" name="" prop="swapped">
      <ng-template let-value="value" ngx-datatable-cell-template>
        <mat-chip selected class="swapped" *ngIf="value.isSwapped">
          <span>{{ value.swapPercent }}% </span>
          <span>{{ 'credits_grouped_ke_swapped' | translate }}</span>
        </mat-chip>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="{{'hypo_list_credit_vol' | translate | capitalizeFirst}}" [resizeable]="false"
      [canAutoResize]="false" [width]="210" prop="restVolume" [summaryFunc]="summaryRestVolume"
      headerClass="header-text-right" cellClass="cell-text-right">
      <ng-template let-value="row.restVolume" ngx-datatable-cell-template>
        {{value | currency:'CHF':'':'0.0-0':'de-CH'}}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="{{'credits_grouped_ke_product' | translate | capitalizeFirst}}" [resizeable]="false"
      [canAutoResize]="false" [width]="250" prop="productType">
      <ng-template let-value="row.productType" ngx-datatable-cell-template>
        {{value | translate | capitalizeFirst}}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="{{'credits_grouped_ke_rate_term' | translate | capitalizeFirst}}" [resizeable]="false"
      [canAutoResize]="false" [width]="200" prop="todayValidTermDuration">
      <ng-template let-value="row.todayValidTermDuration" ngx-datatable-cell-template>
        {{value}}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="{{'credits_grouped_ke_obl' | translate | capitalizeFirst}}" [resizeable]="false"
      [canAutoResize]="false" [width]="200" prop="frameTermDuration">
      <ng-template let-value="row.frameTermDuration" ngx-datatable-cell-template>
        {{value}}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="{{'credits_grouped_ke_lender' | translate | capitalizeFirst}}" [resizeable]="false"
      [canAutoResize]="false" [width]="250" prop="lender">
      <ng-template let-value="row.lender" ngx-datatable-cell-template>
        {{value}}
      </ng-template>
    </ngx-datatable-column>

  </ngx-datatable>

</div>