<div fxLayout="row wrap">
    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
          <p>{{ 'general_no_data_available' | translate }}</p>
        </mat-card>
    </div>
</div>
    
      