<div fxLayout="row wrap" fxLayoutAlign="start">
  <div fxFlex="100">

    <ngx-datatable #peripheralSystemServices class='material mrgn-all-md' [columns]="columns" [columnMode]="'force'"
      [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="10" [rows]='rows' [scrollbarH]="true">

      <ngx-datatable-column name="{{'Service'}}" prop="serviceTypeName" [resizeable]="false" [draggable]="false" 
      [width]="400">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.serviceTypeName}}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="{{'Status'}}" prop="useDummy" [resizeable]="false" [draggable]="false" 
      [width]="150">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <button mat-raised-button (click)="updateService(row)" class="primary-color-bg" color="{{row.useDummy ? 'yellow' : 'default'}}">{{row.useDummy ? 'FAKE' : 'REAL'}}</button>       
        </ng-template>
      </ngx-datatable-column>
      
      <!--
      <ngx-datatable-footer>
          <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize"
            let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset">
            <div class="page-count">
              <span>
                {{'number_of_services:' | translate}} {{rowCount}}
              </span>
            </div>
            <datatable-pager [pagerLeftArrowIcon]="'datatable-icon-left'" [pagerRightArrowIcon]="'datatable-icon-right'"
              [pagerPreviousIcon]="'datatable-icon-prev'" [pagerNextIcon]="'datatable-icon-skip'" [page]="curPage"
              [size]="pageSize" [count]="rowCount" [hidden]="!((rowCount / pageSize) > 1)"
              (change)="peripheralSystemServices.onFooterPage($event)">
            </datatable-pager>
          </ng-template>
        </ngx-datatable-footer> -->

    </ngx-datatable>
  </div>
</div>