<!--First part - Due in the next 12 months table -->
<div fxLayout="row wrap" fxLayoutAlign="space-between start">
  <div fxFlex.gt-xs="100" fxFlex.gt-sm="100" fxFlex.gt-md="50" fxFlex.gt-lg="35" fxFlex="100">
    <mat-card style="margin-bottom: 0px">
      <mat-card-title>Due in the next 12 months</mat-card-title>
    </mat-card>

    <div>
      <ngx-datatable #dueInTable class='material mrgn-all-md grid-bold-header' [columnMode]="'force'"
        [headerHeight]="'auto'" [footerHeight]="0" [rowHeight]="'auto'" [rows]='totalLoansData' [scrollbarH]="true"
        [summaryRow]="enableSummary" [summaryPosition]="summaryPosition" [summaryHeight]="'auto'"
        style="margin-top: 2px !important">

        <ngx-datatable-column name="Month" [resizeable]="false" [canAutoResize]="false" [width]="140">
          <ng-template let-value="row.month" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Credit volume (CHF)" [resizeable]="false" [minWidth]="170" prop="credit"
          [summaryFunc]="summaryForLoansCredit" headerClass="header-text-right" cellClass="cell-text-right">
          <ng-template let-value="row.credit" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>

  </div>

  <!--Due in the next 12 months table bar chart -->
  <div fxFlex.gt-xs="100" fxFlex.gt-sm="100" fxFlex.gt-md="50" fxFlex.gt-lg="65" fxFlex="100">
    <mat-card fxFlex="100%">
      <div class="gene-card-title">
        <div fxLayout="row" fxLayoutAlign="start center">
          <div fxLayout="column">
            <mat-card-title>Due in the next 12 months</mat-card-title>
          </div> <span fxFlex></span>
        </div>
        <mat-divider></mat-divider>
      </div>
      <div class="gene-card-content">
        <div class="gene-card-content" *ngIf="showChart">
          <canvas height="100" baseChart [datasets]="barChartDataDueCredits" [labels]="barChartLabelsDueCredits"
            [options]="barChartOptionsDueCredits" [legend]="barChartLegendDueCredits"
            [chartType]="barChartTypeDueCredits" [colors]="barChartColorsDueCredits">
          </canvas>
        </div>
      </div>
    </mat-card>
  </div>

</div>

<!--Mortgages due in the next 9 months-->
<div fxLayout="row wrap" fxLayoutAlign="space-between center">
  <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card style="margin-bottom: 0px">
      <mat-card-title>Mortgages due in the next 9 months</mat-card-title>
      <!-- <mat-divider></mat-divider> -->
      <!-- <div fxLayout="row wrap" fxLayoutAlign="center center" style="padding-top: 15px">
          <span><strong>No entries available</strong></span>
        </div> -->
    </mat-card>

    <div>
      <ngx-datatable #mortgagesTable class='material mrgn-all-md grid-bold-header' [columnMode]="'force'"
        [headerHeight]="'auto'" [footerHeight]="0" [rowHeight]="'auto'" [groupRowsBy]="'year'"
        [rows]='morgagesSampleData' [scrollbarH]="true" style="margin-top: 2px !important"
        [groupExpansionDefault]="true" [groupRowsBy]="'year'" [summaryRow]="enableSummary"
        [summaryPosition]="summaryPosition" [summaryHeight]="'auto'">

        <ngx-datatable-group-header [rowHeight]="'auto'" #myGroupHeader>
          <ng-template let-group="group" let-expanded="expanded" ngx-datatable-group-header-template>
            <div class="mortgages-group-header">
              <span>Year: {{ group.value[0].year }}</span>
            </div>
          </ng-template>
        </ngx-datatable-group-header>

        <ngx-datatable-column name="Property eligible for financing" [resizeable]="false" [width]="318">
          <ng-template let-value="row.financingProperty" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Credit volume (CHF)" [resizeable]="false" [width]="130" prop="credit"
          [summaryFunc]="summaryForMortgagesCredit" headerClass="header-text-right" cellClass="cell-text-right">
          <ng-template let-value="row.credit" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Product" [resizeable]="false" [width]="190">
          <ng-template let-value="row.product" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Interest term" [resizeable]="false" [width]="120">
          <ng-template let-value="row.interestTerm" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Remaining time" [resizeable]="false" [width]="140">
          <ng-template let-value="row.remaningTime" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Nominal interest rate (%)" [resizeable]="false" [width]="140"
          headerClass="header-text-right" cellClass="cell-text-right">
          <ng-template let-value="row.nominalInterest" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Interest rate (%)" [resizeable]="false" [width]="100" prop="interestRate"
          [summaryFunc]="summaryForInterestRate" headerClass="header-text-right" cellClass="cell-text-right">
          <ng-template let-value="row.interestRate" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Binding" [resizeable]="false" [width]="120">
          <ng-template let-value="row.binding" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Interest per year (CHF)" [resizeable]="false" [width]="120" prop="interestPerYear"
          [summaryFunc]="summaryForInterestPerYear" headerClass="header-text-right" cellClass="cell-text-right">
          <ng-template let-value="row.interestPerYear" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Lender" [resizeable]="false" [width]="220">
          <ng-template let-value="row.lender" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>

  </div>
</div>

<!--Overdue mortgages-->
<div fxLayout="row wrap" fxLayoutAlign="start top">
  <div fxFlex.gt-xs="100" fxFlex.gt-sm="100" fxFlex.gt-md="100" fxFlex="100">
    <mat-card style="margin-bottom: 0px">
      <mat-card-title>Overdue mortgages</mat-card-title>
      <!-- <mat-divider></mat-divider> -->
      <!-- <div fxLayout="row wrap" fxLayoutAlign="center center" style="padding-top: 15px">
        <span><strong>No entries available</strong></span>
      </div> -->
    </mat-card>

    <div>
      <ngx-datatable #mortgagesTable class='material mrgn-all-md grid-bold-header' [columnMode]="'fixed'"
        [headerHeight]="'auto'" [footerHeight]="0" [rowHeight]="'auto'" [groupRowsBy]="'year'"
        [rows]='morgagesSampleData' [scrollbarH]="true" style="margin-top: 2px !important"
        [groupExpansionDefault]="true" [groupRowsBy]="'year'" [summaryRow]="enableSummary"
        [summaryPosition]="summaryPosition" [summaryHeight]="'auto'">

        <ngx-datatable-group-header [rowHeight]="'auto'" #myGroupHeader>
          <ng-template let-group="group" let-expanded="expanded" ngx-datatable-group-header-template>
            <div class="mortgages-group-header">
              <span>Year: {{ group.value[0].year }}</span>
            </div>
          </ng-template>
        </ngx-datatable-group-header>

        <ngx-datatable-column name="Property eligible for financing" [resizeable]="false" [width]="518">
          <ng-template let-value="row.financingProperty" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Credit volume (CHF)" [resizeable]="false" [width]="180" prop="credit"
          [summaryFunc]="summaryForOverdueCredit" headerClass="header-text-right" cellClass="cell-text-right">
          <ng-template let-value="row.credit" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Product" [resizeable]="false" [width]="250">
          <ng-template let-value="row.product" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Interest term" [resizeable]="false" [width]="200">
          <ng-template let-value="row.interestTerm" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Binding" [resizeable]="false" [width]="200">
          <ng-template let-value="row.binding" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Lender" [resizeable]="false" [width]="250">
          <ng-template let-value="row.lender" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>

  </div>
</div>

<!--Reserved mortgages and Open limits-->
<div fxLayout="row wrap" fxLayoutAlign="start top">

  <!--Reserved mortgages-->
  <div fxFlex.gt-xs="100" fxFlex.gt-sm="100" fxFlex.gt-lg="50" fxFlex="100">
    <mat-card style="margin-bottom: 0px">
      <mat-card-title>Reserved mortgages</mat-card-title>
      <!-- <mat-divider></mat-divider>
    <div fxLayout="row wrap" fxLayoutAlign="center center" style="padding-top: 15px">
      <span><strong>No entries available</strong></span>
    </div> -->
    </mat-card>

    <div>
      <ngx-datatable #mortgagesTable class='material mrgn-all-md grid-bold-header' [columnMode]="'force'"
        [headerHeight]="'auto'" [footerHeight]="0" [rowHeight]="'auto'" [groupRowsBy]="'year'"
        [rows]='morgagesSampleData' [scrollbarH]="true" style="margin-top: 2px !important"
        [groupExpansionDefault]="true" [groupRowsBy]="'year'">

        <ngx-datatable-group-header [rowHeight]="'auto'" #myGroupHeader>
          <ng-template let-group="group" let-expanded="expanded" ngx-datatable-group-header-template>
            <div class="mortgages-group-header">
              <span>Year: {{ group.value[0].year }}</span>
            </div>
          </ng-template>
        </ngx-datatable-group-header>

        <ngx-datatable-column name="Property eligible for financing" [resizeable]="false" [width]="200">
          <ng-template let-value="row.financingProperty" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Product" [resizeable]="false" [canAutoResize]="false" [width]="175">
          <ng-template let-value="row.product" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Binding" [resizeable]="false" [canAutoResize]="false" [width]="110">
          <ng-template let-value="row.binding" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Interest per year (CHF)" [resizeable]="false" [canAutoResize]="false" [width]="110"
          headerClass="header-text-right" cellClass="cell-text-right">
          <ng-template let-value="row.interestPerYear" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Lender" [resizeable]="false" [canAutoResize]="false" [width]="175">
          <ng-template let-value="row.lender" ngx-datatable-cell-template>
            {{ value }}
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>

  </div>


  <!--Open limits-->
  <div fxFlex.gt-xs="100" fxFlex.gt-sm="100" fxFlex.gt-lg="50" fxFlex="100">
    <mat-card style="margin-bottom: 0px">
      <mat-card-title>Open limits</mat-card-title>
      <!-- <mat-divider></mat-divider>
              <div fxLayout="row wrap" fxLayoutAlign="center center" style="padding-top: 15px">
                <span><strong>No entries available</strong></span>
              </div> -->
    </mat-card>

    <div>
      <ngx-datatable #openLimitsTable class='material mrgn-all-md grid-bold-header' [columnMode]="'force'"
        [headerHeight]="'auto'" [footerHeight]="0" [rowHeight]="'auto'" [rows]='morgagesSampleData' [scrollbarH]="false"
        style="margin-top: 2px !important" [summaryRow]="enableSummary" [summaryPosition]="summaryPosition"
        [summaryHeight]="'auto'">

        <!-- Row Details Template -->
        <ngx-datatable-row-detail [rowHeight]="'auto'" #myDetailRow (toggle)="onDetailToggle($event)">
          <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
            <div style="padding-left:15px; font-size:14px">
              <div style="padding-bottom: 5px">
                <span class="grid-header-font-style mobile-limits-header-display">Remarks</span>
                <span>{{ row.remarks }}</span>
              </div>
              <div>
                <span class="grid-header-font-style mobile-limits-header-display">Lender</span>
                <span>{{ row.lender }}</span>
              </div>
            </div>
          </ng-template>
        </ngx-datatable-row-detail>

        <!-- Column Templates -->
        <ngx-datatable-column [width]="50" [resizeable]="false" [sortable]="false" [draggable]="false"
          [canAutoResize]="false">
          <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
            <a [class.datatable-icon-right]="!expanded" [class.datatable-icon-down]="expanded"
              title="Expand/Collapse Row" (click)="toggleExpandRowOpenLimitsTable(row)" class="desktop-hidden">
            </a>
          </ng-template>
        </ngx-datatable-column>

        <!--Desktop grid columns-->
        <ngx-datatable-column name="Credit volume (CHF)" [resizeable]="false" [canAutoResize]="false" [minWidth]="170"
          [width]="170" prop="credit" [summaryFunc]="summaryForOverdueCredit" headerClass="header-text-right"
          cellClass="cell-text-right">
          <ng-template let-value="row.credit" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Lender" [resizeable]="false" [canAutoResize]="false" [minWidth]="200" prop="lender">
          <!-- <ng-template let-value="row.lender" ngx-datatable-cell-template>
                    {{value}}
                  </ng-template> -->
          <ng-template let-column="column" ngx-datatable-header-template>
            <span class="mobile-hidden grid-header-font-style">Lender</span>
          </ng-template>
          <ng-template let-value="value" ngx-datatable-cell-template>
            <span class="mobile-hidden">{{ value }}</span>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Remarks" [resizeable]="false" [minWidth]="350" prop="remarks">
          <!-- <ng-template let-value="row.remarks" ngx-datatable-cell-template>
                    {{value}}
                  </ng-template> -->
          <ng-template let-column="column" ngx-datatable-header-template>
            <span class="mobile-hidden grid-header-font-style">Remarks</span>
          </ng-template>
          <ng-template let-value="value" ngx-datatable-cell-template>
            <span class="mobile-hidden">{{ value }}</span>
          </ng-template>
        </ngx-datatable-column>

      </ngx-datatable>
    </div>

  </div>

</div>