.position-absolute {
    position: absolute !important;
}

.position-relative {
    position: relative !important;
}

.tab-label-icon-padding-bot {
    padding-bottom: 20px !important;
}

.tab-label-text-padding-top {
    padding-top: 35px !important;
}

/deep/.mat-tab-label, /deep/.mat-tab-label-active{
    min-width: 150 !important;
    padding: 3px !important;
    margin: 3px !important;
}

mat-card {
    overflow:unset !important;
}

.tdFont{
    font-weight: 700;
    color: grey;
}
  
.pdng-btm-5 {
    padding-bottom: 10px !important;
}

.info-label {
    padding-top: 10px !important;
    font-size: 14px !important;
}

.allign-text-r {
    text-align: right !important;
}

.mrgn-r-0 {
    margin-right: 0px !important;
}

.mrgn-l-0 {
    margin-left: 0px !important;
}

.info-b-pdng {
    padding-bottom: 10px !important;
}