<!--TABS-->
<div class="gene-card-content">
  <mat-tab-group mat-stretch-tabs>

    <!--Overview tab-->
    <mat-tab>
      <ng-template mat-tab-label class="position-relative">
        <span class="position-absolute tab-label-icon-padding-bot">
          <mat-icon>home</mat-icon>
        </span>
        <span class="position-absolute tab-label-text-padding-top">
          <p>{{'profile_overview' | translate | capitalizeFirst}}</p>
        </span>
      </ng-template>
      <div class="pad-t-md pad-b-md">

        <!--Overview tab body-->
        <div fxLayout="row wrap" fxLayoutAlign="start start">

          <!--User data-->
          <div fxFlex.gt-xs="100" fxFlex.gt-sm="50" fxFlex.gt-md="50" fxFlex="100">
            <mat-card>
              <mat-card-title>{{'user_data' | translate}}</mat-card-title>
              <mat-divider></mat-divider>
              <div class="gene-card-content">

                <div fxLayout="row wrap" fxLayoutAlign="start center" class="pdng-btm-5">
                  <div fxFlex.gt-xs="25" fxFlex="100">
                    <label class="tdFont">{{'username' | translate}} :</label>
                  </div>
                  <div fxFlex.gt-xs="75" fxFlex="100">
                    <label>{{ userData.username }}</label>
                  </div>
                </div>
                <div fxLayout="row wrap" fxLayoutAlign="start center" class="pdng-btm-5">
                  <div fxFlex.gt-xs="25" fxFlex="100">
                    <label class="tdFont">{{'first_name' | translate}} :</label>
                  </div>
                  <div fxFlex.gt-xs="75" fxFlex="100">
                    <label>{{ userData.firstName }}</label>
                  </div>
                </div>
                <div fxLayout="row wrap" fxLayoutAlign="start center" class="pdng-btm-5">
                  <div fxFlex.gt-xs="25" fxFlex="100">
                    <label class="tdFont">{{'last_name' | translate}} :</label>
                  </div>
                  <div fxFlex.gt-xs="75" fxFlex="100">
                    <label>{{ userData.lastName }}</label>
                  </div>
                </div>
                <div fxLayout="row wrap" fxLayoutAlign="start center" class="pdng-btm-5">
                  <div fxFlex.gt-xs="25" fxFlex="100">
                    <label class="tdFont">{{'email' | translate}} :</label>
                  </div>
                  <div fxFlex.gt-xs="75" fxFlex="100">
                    <a href="mailto: {{ userData.email }}">{{ userData.email }}</a>
                  </div>
                </div>
                <div fxLayout="row wrap" fxLayoutAlign="start center" class="pdng-btm-5">
                  <div fxFlex.gt-xs="25" fxFlex="100">
                    <label class="tdFont">{{'mobileNumber' | translate}} :</label>
                  </div>
                  <div fxFlex.gt-xs="75" fxFlex="100">
                    <label>{{ userData.mobileNumber }}</label>
                  </div>
                </div>
                <div fxLayout="row wrap" fxLayoutAlign="start center" class="pdng-btm-5 info-label">
                  <div fxFlex.gt-xs="100" fxFlex="100">
                    <label>{{'profile_msg' | translate}}</label>
                  </div>
                </div>

              </div>
            </mat-card>
          </div>

          <!--Settings-->
          <div fxFlex.gt-xs="100" fxFlex.gt-sm="50" fxFlex.gt-md="50" fxFlex="100">
            <mat-card>
              <mat-card-title>{{'user_configuration' | translate}}</mat-card-title>
              <mat-divider></mat-divider>
              <div class="gene-card-content">
                <form [formGroup]="form">
                  <div fxLayout="row wrap" fxLayoutAlign="start center" class="pdng-btm-5">
                    <div fxFlex.gt-xs="100" fxFlex="100">
                      <ng-select [items]="period" [multiple]="false" [virtualScroll]="true" bindLabel="name"
                        bindValue="value" placeholder="{{'pref_description_hypo.zinsAnzeigeZeitraum' | translate}}"
                        formControlName="interestRate">
                        <ng-template ng-label-tmp let-item="item">
                          {{item.name | translate}}
                        </ng-template>
                        <ng-template ng-option-tmp let-item="item" let-index="index">
                          {{item.name | translate}}
                        </ng-template>
                      </ng-select>
                      <small class="gene-block" *ngIf="form.controls['interestRate'].hasError('required')"
                        class="warn-text">
                        You have to select display period for interest rates!
                      </small>
                    </div>
                  </div>
                  <div fxLayout="row wrap" fxLayoutAlign="start center" class="pdng-btm-5">
                    <div fxFlex.gt-xs="100" fxFlex="100">
                      <ng-select [items]="period" [multiple]="false" [virtualScroll]="true" bindLabel="name"
                        bindValue="value"
                        placeholder="{{'pref_description_hypo.amortisationAnzeigeZeitraum' | translate}}"
                        formControlName="amortization">
                        <ng-template ng-label-tmp let-item="item">
                          {{item.name | translate}}
                        </ng-template>
                        <ng-template ng-option-tmp let-item="item" let-index="index">
                          {{item.name | translate}}
                        </ng-template>
                      </ng-select>
                      <small class="gene-block" *ngIf="form.controls['amortization'].hasError('required')"
                        class="warn-text">
                        You have to select display period for amortization!
                      </small>
                    </div>
                  </div>
                  <div fxLayout="row wrap" fxLayoutAlign="end center" class="allign-text-r">
                    <div fxFlex.gt-xs="100" fxFlex="100">
                      <button class="mrgn-all-xs mrgn-r-0" color="default" mat-raised-button [disabled]="!form.valid"
                        (click)="updateUserSettings()">{{'save' | translate}}</button>
                    </div>
                  </div>
                </form>
              </div>
            </mat-card>
          </div>
        </div>

      </div>
    </mat-tab>

    <!--Authentication tab-->
    <mat-tab>
      <ng-template mat-tab-label class="position-relative">
        <span class="position-absolute tab-label-icon-padding-bot">
          <mat-icon>vpn_key</mat-icon>
        </span>
        <span class="position-absolute tab-label-text-padding-top">
          <p>{{'profile_auth' | translate | capitalizeFirst}}</p>
        </span>
      </ng-template>

      <div fxLayout="row wrap" fxLayoutAlign="start start">
        <div fxFlex.gt-xs="100" fxFlex="100">
          <mat-card>
            <mat-card-title>SMS-Authentifizierung</mat-card-title>
            <mat-divider></mat-divider>
            <div class="gene-card-content">

              <div fxLayout="row wrap" fxLayoutAlign="start center">
                <div fxFlex.gt-xs="100" fxFlex="100" class="info-b-pdng">
                  <label>My app erlaubt es Ihnen eine Zwei-Faktor-Authentifizierung per SMS zu aktivieren. Diese erhöht die Sicherheit Ihres Zugangs.</label>
                </div>
                <div fxFlex.gt-xs="100" fxFlex="100">
                  <button class="mrgn-all-xs mrgn-l-0" color="default" mat-raised-button
                    (click)="goToSMS()">Aktivieren</button>
                </div>
              </div>

            </div>
          </mat-card>
        </div>
      </div>
    </mat-tab>

  </mat-tab-group>
</div>