.fontitem{
  font-family: 'Quicksand', sans-serif;
  font-weight: 900;
  
}



.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.cart-item{
   .content-wrap{
      font-size: 0.85rem;
   }
}


.sidebar-logo{
  background-color: white !important;
}

.toogleSideBar{
  background-color : orange !important;
}
