<div class="pad-all-md mat-white box-inset mrgn-all-md">
	<div fxLayout="row wrap" fxLayoutAlign="center">
		<div fxFlex.gt-xs="100" fxFlex.gt-sm="20" fxFlex="20">
			<input matInput type="text" placeholder='{{"search_by_name" | translate}}' [(ngModel)]="searchQuery"
				   (keyup.enter)="filterBy()" />
			<mat-divider></mat-divider>
		</div>
		<div fxFlex.gt-xs="100" fxFlex.gt-sm="80" fxFlex="80" style="text-align: right">
			<button class="mat-raised-button" color="primary" mat-raised-button type="button"
					(click)="filterBy()">
				{{"search" | translate}}
			</button>
		</div>

	</div>
	<div fxLayout="row wrap" style="text-align: center; padding-top: 15px"
		 *ngIf="rows.length == 0">
		<div fxFlex.gt-xs="100" fxFlex.gt-sm="100" fxFlex="100">
			<span><strong>{{'general_no_data_available' | translate | capitalizeFirst}}</strong></span>
		</div>
	</div>
</div>


<div fxLayout="row wrap" fxLayoutAlign="center" *ngIf="rows.length > 0">
	<div fxFlex="100">
		<ngx-datatable #userAdministrationTable
					   class='material mrgn-all-md'
					   [columnMode]="'force'"
					   [headerHeight]="50"
					   [footerHeight]="50"
					   [rowHeight]="'auto'"
					   [limit]="10"
					   [rows]="rows"
					   [scrollbarH]="true"
					   (activate)="onActivate($event)"
					   (sort)="sorted($event)">
			<!---->
			<ngx-datatable-column [sortable]="true" [resizeable]="false" name="{{'kunde' | translate}}">
				<ng-template let-value="row" ngx-datatable-cell-template>
					{{value.Customer | contactName}}
				</ng-template>
			</ngx-datatable-column>

			<ngx-datatable-column [sortable]="true" [resizeable]="false" name="{{'kreditgeber' | translate}}">
				<ng-template let-value="row" ngx-datatable-cell-template>
					{{value.Lender | contactName}}
				</ng-template>

			</ngx-datatable-column>

			<ngx-datatable-column [sortable]="false" [resizeable]="false" name="{{'kunden_kredite_db_tabelle_laufzeit' | translate}}" prop="Duration">

			</ngx-datatable-column>

			<ngx-datatable-column [sortable]="true" [resizeable]="false" name="{{'zinswap_volumen_chf' | translate}}" prop="Volume">
				<ng-template let-value="row.Volume" ngx-datatable-cell-template>
					{{value | currency:'':'':'0.0-0':'de-CH'}}
				</ng-template>
			</ngx-datatable-column>

			<ngx-datatable-footer>
				<ng-template ngx-datatable-footer-template
							 let-rowCount="totalCount"
							 let-pageSize="pageSize"
							 let-selectedCount="selectedCount"
							 let-curPage="curPage"
							 let-offset="offset">
					<div class="page-count">
						<span>
							{{'zinswap_number' | translate}}: {{totalCount}}
						</span>
					</div>
					<datatable-pager [pagerLeftArrowIcon]="'datatable-icon-left'" [pagerRightArrowIcon]="'datatable-icon-right'"
									 [pagerPreviousIcon]="'datatable-icon-prev'" [pagerNextIcon]="'datatable-icon-skip'" [page]="curPage"
									 [size]="pageSize" [count]="totalCount" [hidden]="!((totalCount / pageSize) > 1)"
									 (change)="changePage($event)">
					</datatable-pager>

				</ng-template>
			</ngx-datatable-footer>
		</ngx-datatable>


	</div>
</div>
