<div fxLayout="row wrap" fxLayoutAlign="start stretch" class="crm-stats-cards">

	<!-- Details -->

	<div fxFlex.gt-md="100" fxFlex.gt-sm="100" fxFlex="100">
		<mat-card>
			<mat-card-title>
				{{'zins_swap_details' | translate | capitalizeFirst}}
			</mat-card-title>
			<mat-divider></mat-divider>
			<div class="gene-card-content crm-list-wrap">
				<table>
					<tr>
						<td class="tdFont">{{'zins_swap_int_row' | translate | capitalizeFirst}}</td>
						<td>{{interestObject.interestSeries.name}}</td>
					</tr>
					<tr>
						<td class="tdFont">{{'zins_swap_volume' | translate | capitalizeFirst}}</td>
						<td>{{interestObject.volumina[0].volume | currency:'CHF':'CHF':'0.0-0':'de-CH'}}</td>
					</tr>
					<tr>
						<td class="tdFont">{{'zins_swap_interest' | translate | capitalizeFirst}}</td>
						<td>{{interestObject.zinsLaufzeiten[0].interest.toFixed(3)}} %</td>
					</tr>
					<tr>
						<td class="tdFont">{{'zins_swap_duration' | translate | capitalizeFirst}}</td>
						<td>{{formatDateRange(interestObject.zinsLaufzeiten[0].start,interestObject.zinsLaufzeiten[0].ende)}}</td>
					</tr>
					<tr>
						<td class="tdFont">
							{{'zins_swap_due_date' | translate | capitalizeFirst}}
						</td>
						<td>
							<span *ngIf="interestObject.zinsFaelligkeit || (interestObject.zinsFaelligkeit.start || interestObject.zinsFaelligkeit.intervalInMonths)">
								<span *ngIf="interestObject.zinsFaelligkeit.intervalInMonths === 1">
									{{'reg_payments_every_month' | translate}}
									<span *ngIf="interestObject.zinsFaelligkeit.start">{{'filter_starting_from' | translate}} {{formatDate(interestObject.zinsFaelligkeit.start)}}</span>
								</span>
								<span *ngIf="interestObject.zinsFaelligkeit.intervalInMonths > 1">
									{{'reg_payments_all' | translate}}
									{{interestObject.zinsFaelligkeit.intervalInMonths ? interestObject.zinsFaelligkeit.intervalInMonths : '-' }} {{'months' | translate}}
									<span *ngIf="interestObject.zinsFaelligkeit.start">{{'filter_starting_from' | translate}} {{formatDate(interestObject.zinsFaelligkeit.start)}}</span>
								</span>
							</span>

							<span *ngIf="!interestObject.zinsFaelligkeit || (!interestObject.zinsFaelligkeit.start && !interestObject.zinsFaelligkeit.intervalInMonths)">-</span>
						</td>
					</tr>
					<tr>
						<td class="tdFont">{{'zins_swap_deactive' | translate | capitalizeFirst}}</td>
						<td *ngIf="!interestObject.deactivatedSince">{{'zins_swap_activ' | translate}}</td>
						<td *ngIf="interestObject.deactivatedSince">{{formatDate(interestObject.deactivatedSince)}}</td>
					</tr>
				</table>
			</div>
		</mat-card>
	</div>
</div>

<!-- Regular reduction -->
<div fxLayout="row wrap" fxLayoutAlign="start stretch" class="crm-stats-cards">
	<div fxFlex.gt-md="100" fxFlex.gt-sm="100" fxFlex="100">
		<mat-card style="margin-bottom:0px;">
			<mat-card-title>{{'zins_swap_det_reg_reduction' | translate | capitalizeFirst}}</mat-card-title>
			<div fxLayout="row wrap" fxLayoutAlign="center center" style="padding-top: 15px"
				 *ngIf="interestObject.regulaereAmortisationLaufzeiten.length == 0">
				<span><strong>{{'general_no_data_available' | translate | capitalizeFirst}}</strong></span>
			</div>
		</mat-card>

		<ngx-datatable *ngIf="regularReduction.length > 0" style="margin-top:2px !important;"
					   class='material mrgn-all-md'
					   [rows]="regularReduction"
					   [scrollbarH]="true"
					   [headerHeight]="50"
					   [columnMode]="'force'"
					   [rowHeight]="'auto'"
					   [footerHeight]="50">
			<ngx-datatable-column [sortable]="false" [resizeable]="false" name="{{'reg_ammo_duration' | translate}}">
				<ng-template let-value="row" ngx-datatable-cell-template>
					{{formatDateRange(value.start,value.end)}}
				</ng-template>
			</ngx-datatable-column>
			<ngx-datatable-column [sortable]="false" [resizeable]="false" name="{{'reg_ammo_quantity' | translate}}">
				<ng-template let-value="row" ngx-datatable-cell-template>
					<span *ngIf="value.amount">{{value.amount | currency:'':'':'0.0-0':'de-CH'}}</span>
					<span *ngIf="!value.amount">-</span>
				</ng-template>
			</ngx-datatable-column>
			<ngx-datatable-column [sortable]="false" [resizeable]="false" name="{{'reg_ammo_interval' | translate}}">
				<ng-template let-value="row" ngx-datatable-cell-template>
					<span *ngIf="value.intervalInMonths">{{value.intervalInMonths}}</span>
					<span *ngIf="!value.intervalInMonths">-</span>
				</ng-template>
			</ngx-datatable-column>
		</ngx-datatable>
	</div>
</div>

<!-- Retro -->

<div fxLayout="row wrap" fxLayoutAlign="start stretch" class="crm-stats-cards">
	<div fxFlex.gt-md="100" fxFlex.gt-sm="100" fxFlex="100">
		<mat-card>
			<mat-card-title>{{'zins_swap_retro' | translate | capitalizeFirst}}</mat-card-title>
			<mat-divider></mat-divider>
			<div class="gene-card-content crm-list-wrap">
				<table>
					<tr>
						<td class="tdFont">{{'retro_einmalig' | translate }}</td>
						<td *ngIf="interestObject.uniqueRetro.paymentType!=='KEIN'">
							<span *ngIf="interestObject.uniqueRetro.paymentType=='BETRAG'">{{interestObject.uniqueRetro.lumpAmount | currency:'CHF':'CHF':'0.0-0':'de-CH'}}</span>
							<span *ngIf="interestObject.uniqueRetro.paymentType=='PROZENT'">{{interestObject.uniqueRetro.percentAmount.toFixed(3)}}% {{'payment_onetime_correspond' | translate }} {{interestObject.uniqueRetro.feeAmount.amount| currency:'CHF':'CHF':'0.0-0':'de-CH'}}</span>

							<!--removed from if showRechnungssstellung -->
							<span *ngIf="interestObject.uniqueRetro.accountingPosition !== null">
								<span>
									({{'payment_onetime_bill' | translate }} {{formatDate(interestObject.uniqueRetro.accountingPosition)}}<span *ngIf="interestObject.uniqueRetro.bilSubmited">{{'payment_onetime_bill_just_prepared' | translate}}</span>)
								</span>
							</span>
						</td>
						<td *ngIf="interestObject.uniqueRetro.paymentType == 'KEIN'">-</td>
					</tr>
					<tr>
						<td class="tdFont">{{ 'retro_wiederkehrend' | translate }}</td>
						<td *ngIf="interestObject.reccuringRetro.paymentType !== 'KEIN'">
							<span *ngIf="interestObject.reccuringRetro.paymentType=='BETRAG'">{{interestObject.reccuringRetro.lumpAmount | currency:'CHF':'CHF':'0.0-0':'de-CH'}}</span>
							<span *ngIf="interestObject.reccuringRetro.paymentType=='PROZENT'">{{interestObject.reccuringRetro.percentAmount.toFixed(3)}}% {{'payment_onetime_correspond' | translate }} {{interestObject.reccuringRetro.feeAmount.amount | currency:'CHF':'CHF':'0.0-0':'de-CH'}}</span>

							<!--removed from if showRechnungssstellung -->
							<span *ngIf="interestObject.reccuringRetro.accountingPosition !== null">
								<span>
									({{'payment_onetime_bill' | translate }} {{formatDate(interestObject.reccuringRetro.accountingPosition)}}<span *ngIf="interestObject.reccuringRetro.bilSubmited">{{'payment_onetime_bill_just_prepared' | translate}}</span>)
								</span>
							</span>
						</td>
						<td *ngIf="interestObject.reccuringRetro.paymentType == 'KEIN'">-</td>
					</tr>
				</table>
			</div>
		</mat-card>
	</div>
</div>

<!-- Mortgages -->

<div fxLayout="row wrap" fxLayoutAlign="start stretch" class="crm-stats-cards">
	<div fxFlex.gt-md="100" fxFlex.gt-sm="100" fxFlex="100">
		<mat-card style="margin-bottom:0px;">
			<mat-card-title>
				{{'zins_swap_hypo' | translate | capitalizeFirst}}
			</mat-card-title>
			<div fxLayout="row wrap" fxLayoutAlign="center center" style="padding-top: 15px"
				 *ngIf="mortgages.length == 0">
				<span><strong>{{'general_no_data_available' | translate | capitalizeFirst}}</strong></span>
			</div>
		</mat-card>
		<ngx-datatable *ngIf="mortgages.length > 0" style="margin-top:2px !important;"
					   class='material mrgn-all-md'
					   [rows]="mortgages"
					   [scrollbarH]="true"
					   [headerHeight]="50"
					   [columnMode]="'force'"
					   [rowHeight]="'auto'"
					   [footerHeight]="50"
					   (activate)="mortgageRowClicked($event)">
			<ngx-datatable-column [sortable]="false" [resizeable]="false" name="{{'zin_hypo_rel_hypo' | translate}}" prop="mortgage">
				<ng-template let-value="row.mortgage" ngx-datatable-cell-template>
					<span>{{value.displayTitle}}</span><br>
					<span>({{value.mortgageTodayCurrentInterestTerm}} mit einem Restvolumen von {{value.todayRemainingVolume | currency:'CHF':'CHF':'0.0-0':'de-CH'}} bei der {{value.mortgageLenders | contactName}})</span>
				</ng-template>
			</ngx-datatable-column>


			<ngx-datatable-column [sortable]="false" [resizeable]="false" name="{{'zin_hypo_rel_quantity' | translate}}" prop="amount">
				<ng-template let-value="row.amount" ngx-datatable-cell-template>
					{{value | currency:'':'':'0.0-0':'de-CH'}}
				</ng-template>
			</ngx-datatable-column>

			<ngx-datatable-column [sortable]="false" [resizeable]="false" name="{{'zin_hypo_rel_swap' | translate}}" prop="swappedFrom">

			</ngx-datatable-column>
		</ngx-datatable>
	</div>
</div>

<div fxLayout="row wrap" fxLayoutAlign="start center">
	<div fxFlex.gt-md="99" fxFlex.gt-sm="99" fxFlex.gt-xs="100" fxFlex="100">

	</div>
</div>


<div fxLayout="row wrap" fxLayoutAlign="start stretch" class="crm-stats-cards">

	<!--Remarks-->

	<div fxFlex.gt-md="{{isClient ? 100: 50}}" fxFlex.gt-sm="100" fxFlex="100">
		<mat-card>
			<mat-card-title>
				{{'zins_swap_remarks' | translate | capitalizeFirst}}
			</mat-card-title>
			<mat-divider></mat-divider>
			<div class="gene-card-content crm-list-wrap">
				<p *ngIf="interestObject.remarks">{{interestObject.remarks}}</p>
				<p *ngIf="!interestObject.remarks">-</p>
			</div>
		</mat-card>
	</div>

	<!--Internal comments-->

	<div *ngIf="!isClient" fxFlex.gt-md="50" fxFlex.gt-sm="100" fxFlex="100">
		<mat-card>
			<mat-card-title>
				{{'zins_swap_internal_remarks' | translate | capitalizeFirst}}
			</mat-card-title>
			<mat-divider></mat-divider>
			<div class="gene-card-content crm-list-wrap">
				<p *ngIf="interestObject.internalComments">{{interestObject.internalComments}}</p>
				<p *ngIf="!interestObject.internalComments">-</p>

			</div>
		</mat-card>
	</div>

</div>



<!--Buttons-->
<div class="buttons-md">
	<div class="buttons-md1">
		<button class="mat-raised-button" (click)="goBack()" mat-raised-button>
			<mat-icon>chevron_left</mat-icon>{{'zins_swap_back' | translate | capitalizeFirst}}
		</button>
	</div>
	<div class="buttons-md2">
		<button class="mat-raised-button" color="primary" mat-raised-button (click)="goInterestRateSwapsEdit()">
			<mat-icon>edit</mat-icon>{{'zins_swap_edit' | translate | capitalizeFirst}}
		</button>
	</div>
</div>