<div fxLayout="row wrap" fxLayoutAlign="start start">
  <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" fxFlex.gt-md="100">
    <mat-card>
      <mat-card-title>Filter</mat-card-title>
      <mat-divider></mat-divider>
      <mat-card-content>

        <!--Customers-->
        <div fxLayout="row wrap" fxLayoutAlign="start center">
          <div fxFlex.gt-sm="49" fxFlex.gt-xs="99" fxFlex="99" fxFlexOffset="0.5">
            <ng-select [items]="customers" [multiple]="true" [virtualScroll]="true" bindLabel="name" bindValue="id"
              placeholder="Customer(s)">
            </ng-select>
          </div>
        </div>

        <div fxLayout="row wrap" fxLayoutAlign="start center">
          <div fxFlex.gt-sm="49" fxFlex.gt-xs="99" fxFlex="99" fxFlexOffset="0.5">
            <ng-select [items]="customers" [multiple]="true" [virtualScroll]="true" bindLabel="name" bindValue="id"
              placeholder="Financial object">
            </ng-select>
          </div>
        </div>

        <div fxLayout="row" fxLayoutAlign="start center">
          <div fxFlex.gt-sm="20" fxFlex.gt-xs="100" fxFlex="100">
            <button type="button" class="mrgn-all-xs" mat-raised-button mat-button-sm>
              <mat-icon>search</mat-icon>
              <span>Search</span>
            </button>
            <button type="button" class="mrgn-all-xs" mat-raised-button mat-button-sm>
              <mat-icon>clear</mat-icon>
            </button>
          </div>
        </div>

        <div fxLayout="row wrap" fxLayoutAlign="start center">
          <div fxFlex.gt-md="19" fxFlex.gt-sm="49" fxFlex.gt-xs="100" fxFlex="100" fxFlexOffset="0.5">
            <mat-form-field>
              <input matInput [matDatepicker]="startDate" placeholder="Dashboard time">
              <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
              <mat-datepicker #startDate></mat-datepicker>
            </mat-form-field>
          </div>
          <div fxFlex.gt-md="9" fxFlex.gt-sm="9" fxFlex.gt-xs="100" fxFlex="100" fxFlexOffset="0.5">
            <button type="button" class="mrgn-all-xs" mat-raised-button mat-button-sm>
              <mat-icon>refresh</mat-icon>
              <span>Load Dashboard</span>
            </button>
          </div>
        </div>

      </mat-card-content>
    </mat-card>
  </div>
</div>

<!--TABS-->
<div class="gene-card-content">
  <mat-tab-group mat-stretch-tabs (selectedTabChange)="tabChanged($event)">
    <mat-tab>
      <ng-template mat-tab-label class="position-relative">
        <span class="position-absolute tab-label-icon-padding-bot">
          <mat-icon class="primary-color">dashboard</mat-icon>
        </span>
        <span class="position-absolute tab-label-text-padding-top">
          <p>Dashboard</p>
        </span>
      </ng-template>
      <div class="pad-t-md pad-b-md">
        <tab-dashboard></tab-dashboard>
      </div>
    </mat-tab>
    <mat-tab >
      <ng-template mat-tab-label class="position-relative">
        <span class="position-absolute tab-label-icon-padding-bot">
          <mat-icon class="primary-color">access_time</mat-icon>
        </span>
        <span class="position-absolute tab-label-text-padding-top">
          <p>Interest term</p>
        </span>
      </ng-template>
      <div class="pad-t-md pad-b-md">
        <tab-interest-term #analysesInterestTerm></tab-interest-term>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label class="position-relative">
        <span class="position-absolute tab-label-icon-padding-bot">
          <mat-icon class="primary-color">trending_up</mat-icon>
        </span>
        <span class="position-absolute tab-label-text-padding-top">
          <p>Credit growth</p>
        </span>
      </ng-template>
      <div class="pad-t-md pad-b-md">
        <tab-credit-growth #analysesCreditGrowth></tab-credit-growth>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label class="position-relative">
        <span class="position-absolute tab-label-icon-padding-bot">
          <mat-icon class="primary-color">insert_chart</mat-icon>
        </span>
        <span class="position-absolute tab-label-text-padding-top">
          <p>Interests</p>
        </span>
      </ng-template>
      <div class="pad-t-md pad-b-md">
        <tab-interests #analysesInterests></tab-interests>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label class="position-relative">
        <span class="position-absolute tab-label-icon-padding-bot">
          <mat-icon class="primary-color">group_work</mat-icon>
        </span>
        <span class="position-absolute tab-label-text-padding-top">
          <p>Lender structure</p>
        </span>
      </ng-template>
      <div class="pad-t-md pad-b-md">
        <tab-lender-structure #analysesLenderStructure></tab-lender-structure>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label class="position-relative">
        <span class="position-absolute tab-label-icon-padding-bot">
          <mat-icon class="primary-color">group</mat-icon>
        </span>
        <span class="position-absolute tab-label-text-padding-top">
          <p>Ownership structure</p>
        </span>
      </ng-template>
      <div class="pad-t-md pad-b-md">
        <tab-ownership-structure #analysesOwnershipStructure></tab-ownership-structure>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label class="position-relative">
        <span class="position-absolute tab-label-icon-padding-bot">
          <mat-icon class="primary-color">flag</mat-icon>
        </span>
        <span class="position-absolute tab-label-text-padding-top">
          <p>Due credits</p>
        </span>
      </ng-template>
      <div class="pad-t-md pad-b-md">
        <tab-due-credits #analysesDueCredits></tab-due-credits>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>