<div fxLayout="row wrap" fxLayoutAlign="start">
  <div fxFlex="100">
    <div class="pad-all-md mat-white box-inset mrgn-all-md">
      <div fxFlex.gt-xs="100" fxFlex.gt-sm="20" fxFlex="100">
        <input matInput type="text" placeholder='{{ "search_by_name" | translate }}' [(ngModel)]="searchQuery"
          (keyup.enter)="filterBy()" />
        <mat-divider></mat-divider>
      </div>
      <div fxFlex.gt-xs="100" fxFlex.gt-sm="80" fxFlex="100" style="text-align: right">
        <button class="mat-raised-button" color="primary" mat-raised-button type="button"
          (click)="filterBy()">{{ "search" | translate}}</button>
      </div>
    </div>
    <ngx-datatable #properties class='material mrgn-all-md' [columnMode]="'force'" [headerHeight]="50"
      [footerHeight]="50" [rowHeight]="'auto'" [limit]="10" [rows]="adaptedEP" [scrollbarH]="true"
      (activate)="onActivate($event)">

      <ngx-datatable-column [resizeable]="false" [width]="500" [draggable]="false"
        name="{{ 'finanzierungsobjekt_name' | translate | capitalizeFirst}}" prop="Name">

      </ngx-datatable-column>

      <ngx-datatable-column [resizeable]="false" [width]="500" [draggable]="false"
        name="{{ 'kunde' | translate | capitalizeFirst}}" prop="Customer">

      </ngx-datatable-column>

      <ngx-datatable-footer>
        <ng-template ngx-datatable-footer-template let-rowCount="totalNumberOfElemetns" let-pageSize="pageSize"
          let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset">
          <div class="page-count">
            <span>
              {{'finanzierungsobjekt_total_number' | translate}} : {{totalNumberOfElemetns}}
            </span>
          </div>
          <datatable-pager [pagerLeftArrowIcon]="'datatable-icon-left'" [pagerRightArrowIcon]="'datatable-icon-right'"
            [pagerPreviousIcon]="'datatable-icon-prev'" [pagerNextIcon]="'datatable-icon-skip'" [page]="curPage"
            [size]="pageSize" [count]="totalNumberOfElemetns" [hidden]="!((totalNumberOfElemetns / pageSize) > 1)"
            (change)="financingObjectSearch($event)">
          </datatable-pager>
        </ng-template>
      </ngx-datatable-footer>
    </ngx-datatable>
  </div>
</div>