<div fxLayout="row wrap" fxLayoutAlign="start">
  <div fxFlex="100">
    <div class="pad-all-md mat-white box-inset mrgn-all-md">
      <form class="example-form" fxFlex="220px">
        <mat-form-field class="full-wid">
          <input matInput type="text" placeholder='Type to search...' (keyup)='updateFilter($event)' />
        </mat-form-field>
      </form>
    </div>
    
    <ngx-datatable #properties class='material mrgn-all-md grid-bold-header' [columns]="columns" [columnMode]="'force'"
      [headerHeight]="'auto'" [footerHeight]="'auto'" [rowHeight]="'auto'" [limit]="10" [rows]="rows" [scrollbarH]="true"
      (activate)="onActivate($event)">

      <ngx-datatable-column [resizeable]="false" [width]="'auto'" [draggable]="false" name="Name" prop="name">

      </ngx-datatable-column>

      <ngx-datatable-column [resizeable]="false" [width]="'auto'" [draggable]="false" name="Customer" prop="customer">

      </ngx-datatable-column>

      <ngx-datatable-footer>
        <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize"
          let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset">
          <div class="page-count">
            <span>
              Number of properties eligible for financing: {{rowCount}}
            </span>
          </div>
          <datatable-pager [pagerLeftArrowIcon]="'datatable-icon-left'" [pagerRightArrowIcon]="'datatable-icon-right'"
            [pagerPreviousIcon]="'datatable-icon-prev'" [pagerNextIcon]="'datatable-icon-skip'" [page]="curPage"
            [size]="pageSize" [count]="rowCount" [hidden]="!((rowCount / pageSize) > 1)"
            (change)="properties.onFooterPage($event)">
          </datatable-pager>
        </ng-template>
      </ngx-datatable-footer>
    </ngx-datatable>
  </div>
</div>