.info-card-labels-position {
    padding: 5px 0px 5px 0px !important;
    text-align: right !important;
}

/deep/.ngx-datatable .datatable-row-wrapper:last-child{
    margin-bottom: 0px !important;
}

/deep/ .grid-bold-header .datatable-header-cell-label {
    font-size: 13px !important;
    white-space: initial !important;
    font-weight: bold;
    color: #37474F;
}

/deep/ .ngx-datatable.fixed-row .datatable-scroll .datatable-body-row .datatable-body-cell {
    white-space: initial !important;
}

.mortgages-group-header{
    margin-left: 20px;
    padding: 5px;
    font-weight: bold;
    font-size: 13px;
}

/deep/ .ngx-datatable .datatable-body .datatable-group-header {
    background-color: #dadada !important;
    width: unset !important;
}

/deep/ body .ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell {
    padding: 10px 19px; 
}

/deep/ .cell-text-right .datatable-body-cell-label {
    text-align: right !important;
}

.icon-header-position {
    position: absolute;
    cursor: pointer; 
    margin-top: -3px;
}

.padding-left-30 {
    padding-left: 30px
}

// Escape infinite scroll on firefox grid because of group header
:host ::ng-deep .ngx-datatable .datatable-body .datatable-scroll {
    display: inherit;
  }

/deep/ .header-text-right .datatable-header-cell-template-wrap {
    text-align: right !important;
}

.grid-header-font-style {
    font-size: 13px !important;
    font-weight: bold !important;
    color: #37474F !important; 
}

.mobile-limits-header-display {
    width: 70px !important;
    display: inline-block;
}
 
//Grid responsive breakpoints
@media screen and (max-width: 800px) {
    .desktop-hidden {
        display: initial;
    }
    .mobile-hidden {
        display: none;
    }
}
@media screen and (min-width: 800px) {
    .desktop-hidden {
        display: none;
    }
    .mobile-hidden {
        display: initial;
    }
}