<!--Total section-->
<div fxLayout="row wrap" fxLayoutAlign="start center">
  <div fxFlex.gt-xs="100" fxFlex.gt-sm="33" fxFlex.gt-md="33" fxFlex="100">
    <mat-card>
      <div class="gene-card-content info-card-labels-position">
        <h3>1'100'000</h3>
        <div>Credit volume (CHF)</div>
      </div>
    </mat-card>
  </div>
  <div fxFlex.gt-xs="100" fxFlex.gt-sm="33" fxFlex.gt-md="33" fxFlex="100">
    <mat-card>
      <div class="gene-card-content info-card-labels-position">
        <h3>1.018</h3>
        <div>Average interest rate (%)</div>
      </div>
    </mat-card>
  </div>
  <div fxFlex.gt-xs="100" fxFlex.gt-sm="34" fxFlex.gt-md="34" fxFlex="100">
    <mat-card>
      <div class="gene-card-content info-card-labels-position">
        <h3>1 Year and 8 Months</h3>
        <div>Middle term</div>
      </div>
    </mat-card>
  </div>
</div>

<!--Maturity structure-->
<div fxLayout="row wrap" fxLayoutAlign="start top">
  <!--Loans due-->
  <div fxFlex.gt-xs="100" fxFlex.gt-sm="100" fxFlex.gt-md="50" fxFlex.gt-lg="35" fxFlex="100" style="max-width: none">
    <mat-card style="margin-bottom: 0px">
      <mat-card-title>Loans due</mat-card-title>
      <mat-divider></mat-divider>
      <div fxLayout="row wrap" fxLayoutAlign="start center">
        <div fxFlex.gt-md="25" fxFlex.gt-sm="40" fxFlex.gt-xs="100" fxFlex="100" style="margin: 10px 0px">
          <mat-checkbox>Show all years</mat-checkbox>
        </div>
      </div>
    </mat-card>

    <div fxLayout="row wrap" fxLayoutAlign="start center">
      <div fxFlex.gt-md="100" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">

        <ngx-datatable #loansDueTable class='material mrgn-all-md grid-bold-header' [columnMode]="'force'"
          style="margin-top: 2px !important" [headerHeight]="'auto'" [footerHeight]="0" [rowHeight]="'auto'"
          [rows]='totalLoansData' [scrollbarH]="false" [summaryRow]="enableSummary" [summaryPosition]="summaryPosition"
          [summaryHeight]="'auto'">

          <!-- Row Details Template -->
          <ngx-datatable-row-detail [rowHeight]="'auto'" #myDetailRow (toggle)="onDetailToggle($event)">
            <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
              <div style="padding-left:15px; font-size:14px">
                <div style="padding-bottom: 5px">
                  <span class="grid-header-font-style mobile-loans-list-header">Proportion of (%)</span>
                  <span>{{ row.proportion }}</span>
                </div>
                <div>
                  <span class="grid-header-font-style mobile-loans-list-header">Credit volume (CHF)</span>
                  <span>{{ row.credit }}</span></div>
              </div>
            </ng-template>
          </ngx-datatable-row-detail>

          <!-- Column Templates -->
          <ngx-datatable-column [width]="50" [resizeable]="false" [sortable]="false" [draggable]="false"
            [canAutoResize]="false">
            <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
              <a [class.datatable-icon-right]="!expanded" [class.datatable-icon-down]="expanded"
                title="Expand/Collapse Row" (click)="toggleExpandLoansDueTable(row)" class="desktop-hidden">
              </a>
            </ng-template>
          </ngx-datatable-column>

          <!--Desktop grid columns-->
          <ngx-datatable-column name="Year" [resizeable]="false" [canAutoResize]="false" [width]="70">
            <ng-template let-value="row.year" ngx-datatable-cell-template>
              {{value}}
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="Credit volume (CHF)" [resizeable]="false" [minWidth]="70" prop="credit"
            [summaryFunc]="summaryForLoansCredit" headerClass="header-text-right" cellClass="cell-text-right"
            prop="credit">
            <!-- <ng-template let-value="row.credit" ngx-datatable-cell-template>
              {{value}}
            </ng-template> -->
            <ng-template let-column="column" ngx-datatable-header-template>
              <span class="mobile-hidden grid-header-font-style">Credit volume (CHF)</span>
            </ng-template>
            <ng-template let-value="value" ngx-datatable-cell-template>
              <span class="mobile-hidden">{{ value }}</span>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="Proportion of (%)" [resizeable]="false" [canAutoResize]="false" [width]="150"
            prop="proportion" [summaryFunc]="summaryForLoansProportion" headerClass="header-text-right"
            cellClass="cell-text-right" prop="proportion">
            <!-- <ng-template let-value="row.proportion" ngx-datatable-cell-template>
              {{value}}
            </ng-template> -->
            <ng-template let-column="column" ngx-datatable-header-template>
              <span class="mobile-hidden grid-header-font-style">Proportion of (%)</span>
            </ng-template>
            <ng-template let-value="value" ngx-datatable-cell-template>
              <span class="mobile-hidden">{{ value }}</span>
            </ng-template>
          </ngx-datatable-column>

        </ngx-datatable>

      </div>
    </div>
  </div>
  <!--Bar chart-->
  <div fxFlex.gt-xs="100" fxFlex.gt-sm="100" fxFlex.gt-md="50" fxFlex.gt-lg="65" fxFlex="100">
    <mat-card>
      <mat-card-title>Maturity structure</mat-card-title>
      <mat-divider></mat-divider>
      <mat-card-content>
        <div class="gene-card-content" *ngIf="showChart" style="display: block">
          <canvas height="70" baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
            [legend]="barChartLegend" [chartType]="barChartType" [colors]="barChartColors">
          </canvas>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<!--Mortgages-->
<div fxLayout="row wrap" fxLayoutAlign="start top">
  <div fxFlex.gt-xs="100" fxFlex.gt-sm="100" fxFlex.gt-md="100" fxFlex="100">
    <mat-card style="margin-bottom: 0px">
      <mat-card-title>Mortgages</mat-card-title>
      <!-- <mat-divider></mat-divider> -->
      <!-- <div fxLayout="row wrap" fxLayoutAlign="center center" style="padding-top: 15px">
        <span><strong>No entries available</strong></span>
      </div> -->
    </mat-card>

    <div>
      <ngx-datatable #mortgagesTable class='material mrgn-all-md grid-bold-header' [columnMode]="'force'"
        [headerHeight]="'auto'" [footerHeight]="0" [rowHeight]="'auto'" [groupRowsBy]="'year'"
        [rows]='morgagesSampleData' [scrollbarH]="true" style="margin-top: 2px !important"
        [groupExpansionDefault]="true" [groupRowsBy]="'year'" [summaryRow]="enableSummary"
        [summaryPosition]="summaryPosition" [summaryHeight]="'auto'">

        <ngx-datatable-group-header [rowHeight]="'auto'" #myGroupHeader>
          <ng-template let-group="group" let-expanded="expanded" ngx-datatable-group-header-template>
            <div class="mortgages-group-header">
              <span>Year: {{ group.value[0].year }}</span>
            </div>
          </ng-template>
        </ngx-datatable-group-header>

        <ngx-datatable-column name="Property eligible for financing" [resizeable]="false" [width]="318">
          <ng-template let-value="row.financingProperty" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Credit volume (CHF)" [resizeable]="false" [width]="130" prop="credit"
          [summaryFunc]="summaryForMortgagesCredit" headerClass="header-text-right" cellClass="cell-text-right">
          <ng-template let-value="row.credit" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Product" [resizeable]="false" [width]="190">
          <ng-template let-value="row.product" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Interest term" [resizeable]="false" [width]="120">
          <ng-template let-value="row.interestTerm" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Remaining time" [resizeable]="false" [width]="140">
          <ng-template let-value="row.remaningTime" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Nominal interest rate (%)" [resizeable]="false" [width]="140"
          headerClass="header-text-right" cellClass="cell-text-right">
          <ng-template let-value="row.nominalInterest" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Interest rate (%)" [resizeable]="false" [width]="100" prop="interestRate"
          [summaryFunc]="summaryForInterestRate" headerClass="header-text-right" cellClass="cell-text-right">
          <ng-template let-value="row.interestRate" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Binding" [resizeable]="false" [width]="120">
          <ng-template let-value="row.binding" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Interest per year (CHF)" [resizeable]="false" [width]="120" prop="interestPerYear"
          [summaryFunc]="summaryForInterestPerYear" headerClass="header-text-right" cellClass="cell-text-right">
          <ng-template let-value="row.interestPerYear" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Lender" [resizeable]="false" [width]="220">
          <ng-template let-value="row.lender" ngx-datatable-cell-template>
            {{ value }}
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>

  </div>
</div>

<!--Overdue mortgages-->
<div fxLayout="row wrap" fxLayoutAlign="start top">
  <div fxFlex.gt-xs="100" fxFlex.gt-sm="100" fxFlex.gt-md="100" fxFlex="100">
    <mat-card style="margin-bottom: 0px">
      <mat-card-title>Overdue mortgages</mat-card-title>
      <!-- <mat-divider></mat-divider> -->
      <!-- <div fxLayout="row wrap" fxLayoutAlign="center center" style="padding-top: 15px">
        <span><strong>No entries available</strong></span>
      </div> -->
    </mat-card>

    <div>
      <ngx-datatable #overdueMortgagesTable class='material mrgn-all-md grid-bold-header' [columnMode]="'fixed'"
        [headerHeight]="'auto'" [footerHeight]="0" [rowHeight]="'auto'" [groupRowsBy]="'year'"
        [rows]='morgagesSampleData' [scrollbarH]="true" style="margin-top: 2px !important"
        [groupExpansionDefault]="true" [groupRowsBy]="'year'" [summaryRow]="enableSummary"
        [summaryPosition]="summaryPosition" [summaryHeight]="'auto'">

        <!--Group Header Template-->
        <ngx-datatable-group-header [rowHeight]="'auto'" #myGroupHeader>
          <ng-template let-group="group" let-expanded="expanded" ngx-datatable-group-header-template>
            <div class="mortgages-group-header">
              <span>Year: {{ group.value[0].year }}</span>
            </div>
          </ng-template>
        </ngx-datatable-group-header>

        <ngx-datatable-column name="Property eligible for financing" [resizeable]="false" [width]="518">
          <ng-template let-value="row.financingProperty" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Credit volume (CHF)" [resizeable]="false" [width]="180" prop="credit"
          [summaryFunc]="summaryForOverdueCredit" headerClass="header-text-right" cellClass="cell-text-right">
          <ng-template let-value="row.credit" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Product" [resizeable]="false" [width]="250">
          <ng-template let-value="row.product" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Interest term" [resizeable]="false" [width]="200">
          <ng-template let-value="row.interestTerm" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Binding" [resizeable]="false" [width]="200">
          <ng-template let-value="row.binding" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Lender" [resizeable]="false" [width]="250">
          <ng-template let-value="row.lender" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>

  </div>
</div>

<!--Reserved mortgages and Open limits-->
<div fxLayout="row wrap" fxLayoutAlign="start top">

  <!--Reserved mortgages-->
  <div fxFlex.gt-xs="100" fxFlex.gt-sm="100" fxFlex.gt-lg="50" fxFlex="100">
    <mat-card style="margin-bottom: 0px">
      <mat-card-title>Reserved mortgages</mat-card-title>
      <!-- <mat-divider></mat-divider>
      <div fxLayout="row wrap" fxLayoutAlign="center center" style="padding-top: 15px">
        <span><strong>No entries available</strong></span>
      </div> -->
    </mat-card>

    <div>
      <ngx-datatable #mortgagesTable class='material mrgn-all-md grid-bold-header' [columnMode]="'force'"
        [headerHeight]="'auto'" [footerHeight]="0" [rowHeight]="'auto'" [groupRowsBy]="'year'"
        [rows]='morgagesSampleData' [scrollbarH]="true" style="margin-top: 2px !important"
        [groupExpansionDefault]="true" [groupRowsBy]="'year'">

        <ngx-datatable-group-header [rowHeight]="'auto'" #myGroupHeader>
          <ng-template let-group="group" let-expanded="expanded" ngx-datatable-group-header-template>
            <div class="mortgages-group-header">
              <span>Year: {{ group.value[0].year }}</span>
            </div>
          </ng-template>
        </ngx-datatable-group-header>

        <ngx-datatable-column name="Property eligible for financing" [resizeable]="false" [width]="200">
          <ng-template let-value="row.financingProperty" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Product" [resizeable]="false" [canAutoResize]="false" [width]="175">
          <ng-template let-value="row.product" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Binding" [resizeable]="false" [canAutoResize]="false" [width]="110">
          <ng-template let-value="row.binding" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Interest per year (CHF)" [resizeable]="false" [canAutoResize]="false" [width]="110"
          headerClass="header-text-right" cellClass="cell-text-right">
          <ng-template let-value="row.interestPerYear" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Lender" [resizeable]="false" [canAutoResize]="false" [width]="175">
          <ng-template let-value="row.lender" ngx-datatable-cell-template>
            {{ value }}
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>

  </div>

  <!--Open limits-->
  <div fxFlex.gt-xs="100" fxFlex.gt-sm="100" fxFlex.gt-lg="50" fxFlex="100">
    <mat-card style="margin-bottom: 0px">
      <mat-card-title>Open limits</mat-card-title>
      <!-- <mat-divider></mat-divider>
      <div fxLayout="row wrap" fxLayoutAlign="center center" style="padding-top: 15px">
        <span><strong>No entries available</strong></span>
      </div> -->
    </mat-card>

    <div>
      <ngx-datatable #openLimitsTable class='material mrgn-all-md grid-bold-header' [columnMode]="'force'"
        [headerHeight]="'auto'" [footerHeight]="0" [rowHeight]="'auto'" [rows]='morgagesSampleData' [scrollbarH]="false"
        style="margin-top: 2px !important" [summaryRow]="enableSummary" [summaryPosition]="summaryPosition"
        [summaryHeight]="'auto'">

        <!-- Row Details Template -->
        <ngx-datatable-row-detail [rowHeight]="'auto'" #myDetailRow (toggle)="onDetailToggle($event)">
          <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
            <div style="padding-left:15px; font-size:14px">
              <div style="padding-bottom: 5px">
                <span class="grid-header-font-style mobile-list-header">Remarks</span>
                <span>{{ row.remarks }}</span>
              </div>
              <div>
                <span class="grid-header-font-style mobile-list-header">Lender</span>
                <span>{{ row.lender }}</span>
              </div>
            </div>
          </ng-template>
        </ngx-datatable-row-detail>

        <!-- Column Templates -->
        <ngx-datatable-column [width]="50" [resizeable]="false" [sortable]="false" [draggable]="false"
          [canAutoResize]="false">
          <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
            <a [class.datatable-icon-right]="!expanded" [class.datatable-icon-down]="expanded"
              title="Expand/Collapse Row" (click)="toggleExpandRowOpenLimitsTable(row)" class="desktop-hidden">
            </a>
          </ng-template>
        </ngx-datatable-column>

        <!--Desktop grid columns-->
        <ngx-datatable-column name="Credit volume (CHF)" [resizeable]="false" [canAutoResize]="false" [minWidth]="170"
          [width]="170" prop="credit" [summaryFunc]="summaryForOverdueCredit" headerClass="header-text-right"
          cellClass="cell-text-right">
          <ng-template let-value="row.credit" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Lender" [resizeable]="false" [canAutoResize]="false" [minWidth]="200" prop="lender">
          <!-- <ng-template let-value="row.lender" ngx-datatable-cell-template>
            {{value}}
          </ng-template> -->
          <ng-template let-column="column" ngx-datatable-header-template>
            <span class="mobile-hidden grid-header-font-style">Lender</span>
          </ng-template>
          <ng-template let-value="value" ngx-datatable-cell-template>
            <span class="mobile-hidden">{{ value }}</span>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Remarks" [resizeable]="false" [minWidth]="350" prop="remarks">
          <!-- <ng-template let-value="row.remarks" ngx-datatable-cell-template>
            {{value}}
          </ng-template> -->
          <ng-template let-column="column" ngx-datatable-header-template>
            <span class="mobile-hidden grid-header-font-style">Remarks</span>
          </ng-template>
          <ng-template let-value="value" ngx-datatable-cell-template>
            <span class="mobile-hidden">{{ value }}</span>
          </ng-template>
        </ngx-datatable-column>

      </ngx-datatable>
    </div>

  </div>

</div>