/deep/ .cell-text-right .datatable-body-cell-label {
    text-align: right !important;
}

.info-card-labels-position {
    padding: 5px 0px 5px 0px !important;
    text-align: right !important;
}

/deep/.ngx-datatable .datatable-row-wrapper:last-child{
    margin-bottom: 0px !important;
}

/deep/ .grid-bold-header .datatable-header-cell-label {
    font-size: 13px !important;
    white-space: initial !important;
    font-weight: bold !important;
    color: #37474F !important;
}

.grid-header-font-style {
    font-size: 13px !important;
    font-weight: bold !important;
    color: #37474F !important; 
}

/deep/ .ngx-datatable.fixed-row .datatable-scroll .datatable-body-row .datatable-body-cell {
    white-space: initial !important;
}

.mortgages-group-header{
    margin-left: 20px;
    padding: 5px;
    font-weight: bold;
    font-size: 13px;
}

/deep/ .ngx-datatable .datatable-body .datatable-group-header {
    background-color: #dadada !important;
    width: unset !important;
}

/deep/ body .ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell {
    padding: 10px 19px; 
}

// Escape infinite scroll on firefox grid because of group header
:host ::ng-deep .ngx-datatable .datatable-body .datatable-scroll {
    display: inherit;
  }

/deep/ .header-text-right .datatable-header-cell-template-wrap {
    text-align: right !important;
}

.mobile-list-header {
  width: 70px !important;
  display: inline-block;
}

.mobile-loans-list-header {
  width: 140px !important;
  display: inline-block;
}

//Grid responsive breakpoints
@media screen and (max-width: 800px) {
    .desktop-hidden {
      display: initial;
    }
    .mobile-hidden {
      display: none;
    }
  }
  @media screen and (min-width: 800px) {
    .desktop-hidden {
      display: none;
    }
    .mobile-hidden {
      display: initial;
    }
  }