<div class="pad-wrap">
	<h1>Welcome {{ userData.firstName + ' ' + userData.lastName }}!</h1>
</div>

<div>
	<button type="button" class="mrgn-all-xs" mat-raised-button mat-button-sm (click)="goToProfile()">Profile</button>
	<button type="button" class="mrgn-all-xs" mat-raised-button mat-button-sm (click)="openRegisterDialog()">Register</button>
	<button type="button" class="mrgn-all-xs" mat-raised-button mat-button-sm (click)="openConsultantDialog()">Consultant</button>
	<button type="button" class="mrgn-all-xs" mat-raised-button mat-button-sm (click)="openSupportDialog()">Support</button>
</div>
