<div fxLayout="row wrap" fxLayoutAlign=" start" class="gene-form-wizard">
    <mat-card fxFlex="100%">
        <div class="gene-card-title">
            <div fxLayout="row" fxLayoutAlign="start center">
                <div class="gene-card-title" fxFlex.gt-md="80" fxFlex.gt-sm="60" fxFlex.gt-xs="50" fxFlex="100">
                    <mat-card-title>{{ user?.username }}</mat-card-title>
                </div>
                <div *ngIf="isEditMode" class="gene-card-title" fxFlex.gt-md="20" fxFlex.gt-sm="40" fxFlex.gt-xs="50"
                    fxFlex="100">
                    <!-- ACTIONS BEGINS -->

                    <ng-select [formControl]="actionControl" [items]="actions" (change)="executeAction($event)"
                        [multiple]="false" [virtualScroll]="true" [clearable]="false" bindLabel="name" bindValue="id"
                        placeholder="{{ 'actions' | translate }}">
                    </ng-select>

                    <!-- ACTIONS ENDS -->
                </div>
            </div>
            <mat-divider></mat-divider>
        </div>
        <div class="gene-card-content" [style.visibility]="formReady ? 'visible': 'hidden'">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                    <div fxFlex.gt-md="45" fxFlex.gt-sm="45" fxFlex.gt-xs="45">

                        <!-- USERNAME FIELD BEGINS -->
                        <mat-form-field class="full-wid mrgn-b-md">
                            <mat-label>{{ 'username' | translate }}*</mat-label>
                            <input matInput placeholder="{{ 'placeholder_username' | translate }}"
                                formControlName="username">
                            <mat-error *ngIf="form.controls['username'].touched && !form.controls['username'].valid">
                                <mat-error class="required alert-error"
                                    *ngIf="form.controls['username'].hasError('required')">
                                    {{ 'val_required_username' | translate }}
                                </mat-error>
                            </mat-error>
                        </mat-form-field>
                        <!-- USERNAME FIELD ENDS -->

                    </div>
                    <div fxFlex.gt-md="45" fxFlex.gt-sm="45" fxFlex.gt-xs="45" fxLayoutAlign="start start">

                        <!-- ACTIVE FIELD BEGINS -->
                        <mat-checkbox class="example-margin" formControlName="active">{{ 'active' | translate }}
                        </mat-checkbox>
                        <!-- ACTIVE FIELD ENDS -->

                    </div>
                </div>
                <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                    <div fxFlex.gt-md="45" fxFlex.gt-sm="45" fxFlex.gt-xs="100" fxFlex="100">

                        <!-- FIRST NAME FIELD BEGINS -->
                        <mat-form-field class="full-wid mrgn-b-md">
                            <mat-label>{{ 'first_name' | translate }}*</mat-label>
                            <input matInput placeholder="{{ 'placeholder_firstname' | translate }}"
                                formControlName="firstName">
                            <mat-error *ngIf="form.controls['firstName'].touched && !form.controls['firstName'].valid">
                                <mat-error class="required alert-error"
                                    *ngIf="form.controls['firstName'].hasError('required')">
                                    {{ 'val_required_firstname' | translate}}
                                </mat-error>
                            </mat-error>
                        </mat-form-field>
                        <!-- FIRST NAME FIELD ENDS -->

                    </div>
                    <div fxFlex.gt-md="45" fxFlex.gt-sm="45" fxFlex.gt-xs="100" fxFlex="100">

                        <!-- LAST NAME FIELD BEGINS -->
                        <mat-form-field class="full-wid mrgn-b-md">
                            <mat-label>{{ 'last_name' | translate }}*</mat-label>
                            <input matInput placeholder="{{ 'placeholder_lastname' | translate }}"
                                formControlName="lastName">
                            <mat-error *ngIf="form.controls['lastName'].touched && !form.controls['lastName'].valid">
                                <mat-error class="required alert-error"
                                    *ngIf="form.controls['lastName'].hasError('required')">
                                    {{ 'val_required_lastname' | translate }}
                                </mat-error>
                            </mat-error>
                        </mat-form-field>
                        <!-- LAST NAME FIELD BEGINS -->

                    </div>
                </div>
                <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                    <div fxFlex.gt-md="45" fxFlex.gt-sm="45" fxFlex.gt-xs="100" fxFlex="100">

                        <!-- EMAIL ADDRESS FIELD BEGINS -->
                        <mat-form-field class="full-wid mrgn-b-md">
                            <mat-label>{{ 'email' | translate }}*</mat-label>
                            <input matInput placeholder="{{ 'placeholder_email' | translate }}" formControlName="email"
                                type="email">
                            <mat-error *ngIf="form.controls['email'].touched && !form.controls['email'].valid">
                                <mat-error class="required alert-error"
                                    *ngIf="form.controls['email'].hasError('required')">
                                    {{ 'val_required_email' | translate }}
                                </mat-error>
                                <mat-error class="required alert-error"
                                    *ngIf="form.controls['email'].hasError('email')">
                                    {{ 'val_invalid_email' | translate }}
                                </mat-error>
                            </mat-error>
                        </mat-form-field>
                        <!-- EMAIL ADDRESS FIELD ENDS -->

                    </div>

                    <div fxFlex.gt-md="45" fxFlex.gt-sm="45" fxFlex.gt-xs="100" fxFlex="100">

                        <!-- MOBILE NUMBER BEGINS -->
                        <mat-form-field class="full-wid mrgn-b-md">
                            <mat-label>{{ 'mobile_number' | translate }}*</mat-label>
                            <input matInput placeholder="{{ 'placeholder_mobilenumber' | translate }}"
                                formControlName="mobileNumber" type="text">
                            <mat-error
                                *ngIf="form.controls['mobileNumber'].touched && !form.controls['mobileNumber'].valid">
                                <mat-error class="required alert-error"
                                    *ngIf="form.controls['mobileNumber'].hasError('required')">
                                    {{ 'val_required_mobilenumber' | translate }}
                                </mat-error>
                                <mat-error class="required alert-error"
                                    *ngIf="form.controls['mobileNumber'].hasError('pattern')">
                                    {{ 'val_invalid_mobilenumber' | translate }}
                                </mat-error>
                            </mat-error>
                        </mat-form-field>
                        <!-- MOBILE NUMBER ENDS -->

                    </div>
                </div>

                <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                    <div fxFlex.gt-md="45" fxFlex.gt-sm="45" fxFlex.gt-xs="100" fxFlex="100">

                        <!-- PASSWORD FIELD BEGINS -->
                        <mat-form-field class="full-wid mrgn-b-md">
                            <mat-label>{{ 'password' | translate }}*</mat-label>
                            <input matInput placeholder="{{ 'placeholder_password' | translate }}"
                                formControlName="password" type="password">
                            <mat-error *ngIf="form.controls['password'].touched && !form.controls['password'].valid">
                                <mat-error class="required alert-error"
                                    *ngIf="form.controls['password'].hasError('pattern')">
                                    {{ 'val_misses_password_pattern' | translate }}
                                </mat-error>
                                <mat-error class="required alert-error"
                                    *ngIf="form.controls['password'].hasError('required')">
                                    {{ 'val_required_password' | translate }}
                                </mat-error>
                                <mat-error class="required alert-error"
                                    *ngIf="form.controls['password'].hasError('minlength') || form.controls['password'].hasError('maxlength')">
                                    {{ 'val_length_8_999' | translate }}
                                </mat-error>
                            </mat-error>
                        </mat-form-field>
                        <!-- PASSWORD FIELD ENDS -->

                    </div>
                    <div fxFlex.gt-md="45" fxFlex.gt-sm="45" fxFlex.gt-xs="100" fxFlex="100">

                        <!-- CONFIRM PASSWORD FIELD BEGINS -->
                        <mat-form-field class="full-wid mrgn-b-md">
                            <mat-label>{{ 'placeholder_password_repeat' | translate }}</mat-label>
                            <input matInput placeholder="{{ 'placeholder_password_repeat' | translate }}"
                                formControlName="confirmPassword" type="password">
                            <mat-error
                                *ngIf="form.controls['confirmPassword'].touched && !form.controls['confirmPassword'].valid">
                                <mat-error class="required alert-error"
                                    *ngIf="form.controls['confirmPassword'].hasError('equalTo')">
                                    {{ 'val_match_previous_one' | translate }}
                                </mat-error>
                            </mat-error>
                        </mat-form-field>
                        <!-- CONFIRM PASSWORD FIELD ENDS -->

                    </div>
                </div>

                <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                    <div fxFlex.gt-md="45" fxFlex.gt-sm="45" fxFlex.gt-xs="100" fxFlex="100">

                        <!-- ROLES FIELD BEGINS -->
                        <ng-select [items]="roles" [multiple]="true" [virtualScroll]="true" bindLabel="name"
                          (change)="onRoleChange($event)"  placeholder="{{ 'roles' | translate }}" formControlName="roles">
                        </ng-select>
                        <!-- ROLES FIELD ENDS -->

                    </div>

                    <div fxFlex.gt-sm="99" fxFlex.gt-xs="99" fxFlex="100">

                        <!-- CONTACT FIELD SECTION BEGINS -->
                        <span *ngIf="isClient">
                            <mat-form-field class="half-wid mrgn-b-md">
                                <mat-label>{{ 'Customers' | translate }}</mat-label>
                                <mat-chip-list #customerList aria-label="Contact selection">
                                    <mat-chip *ngFor="let customer of customers" [removable]="true"
                                        (removed)="removeCustomer(customer)">
                                        {{ customer | contactName }}
                                        <mat-icon matChipRemove>cancel</mat-icon>
                                    </mat-chip>
                                    <input [disabled]="true" placeholder="" [matChipInputFor]="customerList"
                                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes">
                                </mat-chip-list>
                            </mat-form-field>
                            <div>
                                <button (click)="openCustomerDialog()" type="button" mat-button>
                                    <mat-icon>add</mat-icon>
                                    {{ 'user_add_kunde' | translate }}
                                </button>
                            </div>
                        </span>
                        <!-- CONTACT FIELD SECTION ENDS -->

                        <!-- BREXI FIELD BEGINS -->
                        <mat-form-field class="full-wid mrgn-b-md" *ngIf="!isClient">
                            <mat-label>{{ 'user_edit_crm' | translate | capitalizeFirst }}</mat-label>
                            <mat-hint>
                                {{ 'user_edit_crm_info' | translate | capitalizeFirst }}
                                <a [routerLink]="['/contacts/contacts']">{{ 'kontakte' | translate }}</a> &nbsp;
                                {{ 'user_edit_crm_info2' | translate }}
                            </mat-hint>
                            <input matInput placeholder="{{ 'placeholder_crm_user_id' | translate }}"
                                formControlName="crmUserId">
                        </mat-form-field>
                        <!-- BREXI FIELD ENDS -->

                    </div>
                </div>

                <!--Form buttons save and cancel -->
                <div class="pad-wrap">
                    <mat-card-actions>
                        <button mat-raised-button color="primary" type="submit"
                            [disabled]="!form.valid">{{ 'save' | translate }}</button>
                        <button type="button" (click)="goBack();" class="mrgn-all-xs" color="default"
                            mat-raised-button>{{ 'cancel' | translate }}</button>
                    </mat-card-actions>
                </div>
            </form>
        </div>
    </mat-card>
</div>