<!--First part - Total loan -->
<div fxLayout="row wrap">
    <div fxFlex.gt-xs="100" fxFlex.gt-sm="50" fxFlex="100">
        <mat-card fxFlex="100%">
            <div class="gene-card-title">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <div fxLayout="column">
                        <mat-card-title>{{'kunde' | translate}}</mat-card-title>
                    </div> <span fxFlex></span>
                </div>
                <mat-divider></mat-divider>
            </div>
            <div class="gene-card-content">
                <div *ngIf="!isClient">
                    <span class="clickable" (click)="goToCustomer()">{{totalLoanData.customer.name}}</span>
                    <span *ngIf="totalLoanData.customer.surname" class="clickable" (click)="goToCustomer()">
                        {{totalLoanData.customer.surname}}</span>
                </div>
                <div *ngIf="isClient">
                    <span>{{totalLoanData.customer.name}}</span>
                    <span *ngIf="totalLoanData.customer.surname">
                        {{totalLoanData.customer.surname}}</span>
                </div>
            </div>
        </mat-card>
    </div>

    <div fxFlex.gt-xs="100" fxFlex.gt-sm="50" fxFlex="100">
        <mat-card fxFlex="100%">
            <div class="gene-card-title">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <div fxLayout="column">
                        <mat-card-title>{{'gesamtkredit_kreditgeber' | translate}}</mat-card-title>
                    </div> <span fxFlex></span>
                </div>
                <mat-divider></mat-divider>
            </div>
            <div class="gene-card-content">
                <div *ngIf="!isClient">
                    <span class="clickable" (click)="goToLender()">{{totalLoanData.creditor.name}}</span>
                </div>
                <div *ngIf="isClient">
                    <span>{{totalLoanData.creditor.name}}</span>
                </div>
            </div>
        </mat-card>
    </div>

</div>

<!--Details-->
<div fxLayout="row wrap" fxLayoutAlign="start stretch" class="crm-stats-cards">
    <div fxFlex.gt-md="100" fxFlex.gt-sm="100" fxFlex="100">
        <mat-card>
            <div class="gene-card-title">
                <mat-card-title>{{'details' | translate}}</mat-card-title>
            </div>
            <mat-divider></mat-divider>

            <div class="gene-card-content">

                <!-- Details card display start-->
                <div fxLayout="row wrap" fxLayoutAlign="start center" class="pdng-btm-5">
                    <div fxFlex.gt-xs="20" fxFlex="100">
                        <mat-icon *ngIf="showNotDeactivatedWarning && !isClient"
                            matTooltip="Aktive, überfällige Hypothek(en)" style="color: red">info</mat-icon>
                        <label class="tdFont">{{'gesamtkredit_ursprung' | translate | capitalizeFirst}}</label>
                    </div>
                    <div fxFlex.gt-xs="75" fxFlex="100">
                        <label>{{totalLoanData.creditLimit | currency:'CHF':'CHF':'0.0-0':'de-CH'}}</label>
                    </div>
                </div>

                <div fxLayout="row wrap" fxLayoutAlign="start center" class="pdng-btm-5">
                    <div fxFlex.gt-xs="20" fxFlex="100">
                        <label class="tdFont">{{'gesamtkredit_limit' | translate | capitalizeFirst}}</label>
                    </div>
                    <div fxFlex.gt-xs="75" fxFlex="100">
                        <label>{{totalLoanData.limitReduction | currency:'CHF':'CHF':'0.0-0':'de-CH'}}</label>
                    </div>
                </div>

                <div fxLayout="row wrap" fxLayoutAlign="start center" class="pdng-btm-5">
                    <div fxFlex.gt-xs="20" fxFlex="100">
                        <label class="tdFont">{{'gesamtkredit_actual_limit' | translate}}</label>
                    </div>
                    <div fxFlex.gt-xs="75" fxFlex="100">
                        <label>{{totalLoanData.actualLimits | currency:'CHF':'CHF':'0.0-0':'de-CH'}}</label>
                    </div>
                </div>

                <div fxLayout="row wrap" fxLayoutAlign="start center" class="pdng-btm-5">
                    <div fxFlex.gt-xs="20" fxFlex="100">
                        <label class="tdFont">{{'gesamtkredit_call_limit' | translate}}</label>
                    </div>
                    <div fxFlex.gt-xs="75" fxFlex="100">
                        <label>{{totalLoanData.mortgageVolumeSum | currency:'CHF':'CHF':'0.0-0':'de-CH'}}</label>
                    </div>
                </div>

                <div fxLayout="row wrap" fxLayoutAlign="start center" class="pdng-btm-5">
                    <div fxFlex.gt-xs="20" fxFlex="100">
                        <label class="tdFont">{{'gesamtkredit_open_limit' | translate}}</label>
                    </div>
                    <div fxFlex.gt-xs="75" fxFlex="100">
                        <label>{{totalLoanData.openLimits | currency:'CHF':'CHF':'0.0-0':'de-CH'}}</label>
                    </div>
                </div>

                <div fxLayout="row wrap" fxLayoutAlign="start center" class="pdng-btm-5">
                    <div fxFlex.gt-xs="20" fxFlex="100">
                        <label class="tdFont">{{'gesamtkredit_remarks_to_open_limit' | translate}}</label>
                    </div>
                    <div fxFlex.gt-xs="75" fxFlex="100">
                        <label>{{totalLoanData.remarksOnOpenLimits}}</label>
                    </div>
                </div>

                <div fxLayout="row wrap" fxLayoutAlign="start center" class="pdng-btm-5">
                    <div fxFlex.gt-xs="20" fxFlex="100">
                        <label class="tdFont">{{'gesamtkredit_reg_reduction' | translate}}</label>
                    </div>
                    <div fxFlex.gt-xs="75" fxFlex="100">
                        <span
                            *ngIf="!totalLoanData.regularLimitReduction.amount && !totalLoanData.regularLimitReduction.intervalInMonths">-</span>
                        <span
                            *ngIf="totalLoanData.regularLimitReduction.amount">{{totalLoanData.regularLimitReduction.amount | currency:'CHF':'CHF':'0.0-0':'de-CH'}}
                            / </span>
                        <span
                            *ngIf="totalLoanData.regularLimitReduction.intervalInMonths == 1">{{'reg_payments_every_month' | translate}}
                            {{'filter_starting_from' | translate}} </span>
                        <span
                            *ngIf="totalLoanData.regularLimitReduction.intervalInMonths > 1">{{'reg_payments_all' | translate}}
                            {{totalLoanData.regularLimitReduction.intervalInMonths}} {{'months' | translate}}
                            {{'filter_starting_from' | translate}} </span>
                        <span>{{totalLoanData.regularLimitReduction.start}}</span>
                    </div>
                </div>

                <div fxLayout="row wrap" fxLayoutAlign="start center" class="pdng-btm-5">
                    <div fxFlex.gt-xs="20" fxFlex="100">
                        <label class="tdFont">{{'hypothek_deaktiviert' | translate}}</label>
                    </div>
                    <div fxFlex.gt-xs="75" fxFlex="100">
                        <span
                            *ngIf="!totalLoanData.deactivatedSince">{{'gesamtkredit_total_credit_activ' | translate | capitalizeFirst}}</span>
                        <span *ngIf="totalLoanData.deactivatedSince">{{totalLoanData.deactivatedSince}}
                            {{'gesamtkredit_total_credit_deac' | translate | capitalizeFirst}}</span>
                    </div>
                </div>

                <div fxLayout="row wrap" fxLayoutAlign="start center" class="pdng-btm-5">
                    <div fxFlex.gt-xs="20" fxFlex="100">
                        <label class="tdFont">{{'retro' | translate}}</label>
                    </div>
                    <div fxFlex.gt-xs="75" fxFlex="100">

                        <span *ngIf="!totalLoanData.retro || totalLoanData.retro.paymentType == 'KEIN'">-</span>

                        <span *ngIf="totalLoanData.retro.paymentType != 'KEIN'">
                            <span
                                *ngIf="totalLoanData.retro.paymentType == 'BETRAG'">{{totalLoanData.retro.lumpAmount | currency:'CHF':'CHF':'0.0-0':'de-CH'}}</span>
                            <span
                                *ngIf="totalLoanData.retro.paymentType == 'PROZENT'">{{totalLoanData.retro.percentAmount}}%
                                {{'payment_onetime_correspond' | translate }}
                                {{totalLoanData.retroAmount.amount | currency:'CHF':'CHF':'0.0-0':'de-CH'}}</span>
                            <span *ngIf="totalLoanData.retro.accountingPosition">
                                <span> ({{'payment_onetime_bill' | translate }}
                                    {{totalLoanData.retro.accountingPosition}}
                                    <span
                                        *ngIf="totalLoanData.retro.bilSubmited == true">{{'payment_onetime_bill_just_prepared' | translate}}</span>)
                                </span>
                            </span>
                        </span>

                    </div>
                </div>

                <div fxLayout="row wrap" fxLayoutAlign="start center" class="pdng-btm-5">
                    <div fxFlex.gt-xs="20" fxFlex="100">
                        <label class="tdFont">{{'gesamtkredit_kuendigungsfrist' | translate}}</label>
                    </div>
                    <div fxFlex.gt-xs="75" fxFlex="100">
                        <span
                            *ngIf="!totalLoanData.noticePeriod">{{'gesamtkredit_kuendigungsfrist_ohne' | translate | capitalizeFirst}}</span>
                        <span *ngIf="totalLoanData.noticePeriod">{{totalLoanData.noticePeriod}}
                            {{'months' | translate}}</span>
                    </div>
                </div>

                <!-- Details card display end-->
            </div>
        </mat-card>
    </div>
</div>

<!-- Mortgages -->
<!-- No mortgage data -->
<div fxLayout="row wrap" fxLayoutAlign="start top">
    <div fxFlex.gt-xs="100" fxFlex.gt-sm="100" fxFlex.gt-md="100" fxFlex="100">
        <mat-card style="margin-bottom: 0px">
            <mat-card-title>{{ 'finanzierungsobjekt_hypotheken' | translate | capitalizeFirst }}</mat-card-title>
            <mat-divider *ngIf="rowsForMortgages.length == 0"></mat-divider>
            <div fxLayout="row wrap" fxLayoutAlign="center center" style="padding-top: 15px"
                *ngIf="rowsForMortgages.length == 0">
                <span><strong>{{'general_no_data_available' | translate | capitalizeFirst}}</strong></span>
            </div>
        </mat-card>
    </div>
</div>
<!-- Mortgage data exits -->
<div fxLayout="row wrap" fxLayoutAlign="space-between start" *ngIf="rowsForMortgages.length > 0">
    <div fxFlex.gt-xs="100" fxFlex.gt-sm="30" fxFlex="100">
        <mat-card fxFlex="100%">
            <div class="gene-card-title">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <div fxLayout="column">
                        <mat-card-title>{{ 'finanzierungsobjekt_hypotheken' | translate | capitalizeFirst }}
                        </mat-card-title>
                    </div> <span fxFlex></span>
                </div>
                <mat-divider></mat-divider>
            </div>

            <!--Piechart mortgages-->
            <!-- ---------------------------- -->
            <div class="gene-card-content">
                <div *ngIf="showChart">
                    <canvas baseChart [data]="doughnutChartData" [options]="PieChartOptions" [colors]="pieChartColors"
                        [chartType]="doughnutChartType" height="150" [labels]="doughnatChartLabels"
                        [legend]="doughnutLegend"></canvas>
                </div>
            </div>
        </mat-card>
    </div>


    <!-- Mortgage grid -->
    <!-- ---------------------------- -->
    <div fxFlex.gt-xs="100" fxFlex.gt-sm="70" fxFlex="100">
        <ngx-datatable #mortgagesTable class='material mrgn-all-md' [columnMode]="'force'" [headerHeight]="50"
            [footerHeight]="0" [rowHeight]="'auto'" [rowHeight]="'auto'" [rows]="rowsForMortgages" [scrollbarH]="true"
            [summaryRow]="enableSummary" [summaryPosition]="summaryPosition" [summaryHeight]="'auto'"
            (activate)="goToMortgage($event)">

            <ngx-datatable-column name="{{'hypo_list_type' | translate | capitalizeFirst}}" [resizeable]="false"
                [canAutoResize]="false" [width]="250" prop="productType">
                <ng-template let-value="row.productType" ngx-datatable-cell-template>
                    {{value | translate}}
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column [resizeable]="false" [width]="165" [draggable]="false" name="" prop="swapped">
                <ng-template let-value="value" ngx-datatable-cell-template>
                    <mat-chip selected class="swapped" *ngIf="value.isSwapped">
                        <span>{{ value.swapPercent }}% </span>
                        <span>{{ 'credits_grouped_ke_swapped' | translate }}</span>
                    </mat-chip>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column [resizeable]="false" [width]="120" [draggable]="false" name="" prop="isOverdue">
                <ng-template let-value="value" ngx-datatable-cell-template>
                    <mat-chip selected class="overdue" *ngIf="value">
                        {{ 'credits_grouped_ke_overdue' | translate }}
                    </mat-chip>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="{{'hypo_list_term' | translate | capitalizeFirst}}" [resizeable]="false"
                [canAutoResize]="false" [width]="190" prop="todayValidTermDuration">
                <ng-template let-value="row.todayValidTermDuration" ngx-datatable-cell-template>
                    {{value}}
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="{{'hypo_list_rate_perc' | translate | capitalizeFirst}}" [resizeable]="false"
                [canAutoResize]="false" [width]="180" prop="interestRate" headerClass="header-text-right"
                cellClass="cell-text-right" [summaryFunc]="hideSummary">
                <ng-template let-value="row.interestRate" ngx-datatable-cell-template>
                    <span *ngIf="value > 0">{{value | number:'1.3-3'}}</span>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="{{'hypo_list_credit_vol' | translate | capitalizeFirst}}" [resizeable]="false"
                [canAutoResize]="false" [width]="200" prop="restVolume" headerClass="header-text-right"
                cellClass="cell-text-right" [summaryFunc]="summaryRestVolume">
                <ng-template let-value="row.restVolume" ngx-datatable-cell-template>
                    {{value | currency:'CHF':'CHF':'0.0-0':'de-CH'}}
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>

    </div>
</div>


<!--Overdue mortgages-->
<!-- ---------------------------- -->
<div fxLayout="row wrap" fxLayoutAlign="start top">
    <div fxFlex.gt-xs="100" fxFlex.gt-sm="100" fxFlex.gt-md="100" fxFlex="100">
        <mat-card style="margin-bottom: 0px">
            <mat-card-title>{{ 'credits_grouped_due' | translate }}</mat-card-title>
            <mat-divider *ngIf="groupedOverdueMortgages.length == 0"></mat-divider>
            <div fxLayout="row wrap" fxLayoutAlign="center center" style="padding-top: 15px"
                *ngIf="groupedOverdueMortgages.length == 0">
                <span><strong>{{'general_no_data_available' | translate | capitalizeFirst}}</strong></span>
            </div>
        </mat-card>

        <div *ngIf="groupedOverdueMortgages.length > 0">
            <!--Overdue mortgages-->
            <grouped-mortgage-table [data]="groupedOverdueMortgages" [gridType]="overdue"></grouped-mortgage-table>
        </div>

    </div>
</div>



<!--Reserved mortgages-->
<!-- ---------------------------- -->
<div fxLayout="row wrap" fxLayoutAlign="space-between center">
    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card style="margin-bottom: 0px">
            <mat-card-title>{{ 'credits_grouped_reserved' | translate }}</mat-card-title>
            <mat-divider *ngIf="groupedReservedMortgages.length == 0"></mat-divider>

            <div fxLayout="row wrap" fxLayoutAlign="center center" style="padding-top: 15px"
                *ngIf="groupedReservedMortgages.length == 0">
                <span><strong>{{'general_no_data_available' | translate | capitalizeFirst}}</strong></span>
            </div>

            <div *ngIf="groupedReservedMortgages.length > 0">
                <grouped-mortgage-table [data]="groupedReservedMortgages" [gridType]="overdue"></grouped-mortgage-table>
            </div>

        </mat-card>
    </div>
</div>



<!--Internal comments-->
<!-- ---------------------------- -->
<div fxLayout="row wrap" fxLayoutAlign="space-between center">
    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card fxFlex="100%">
            <div class="gene-card-title">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <div fxLayout="column">
                        <mat-card-title>{{'gesamtkredit_internal_remarks' | translate}}</mat-card-title>
                    </div> <span fxFlex></span>
                </div>
                <mat-divider></mat-divider>
            </div>
            <div class="gene-card-content">
                <span *ngIf="totalLoanData.internalComments">{{ totalLoanData.internalComments }}</span>
                <span *ngIf="!totalLoanData.internalComments"> - </span>
            </div>
        </mat-card>
    </div>
</div>




<!-- Buttons -->
<!-- ---------------------------- -->
<div class="buttons-md">
    <div class="buttons-md1">
        <button class="mat-raised-button" (click)="goBack()" mat-raised-button>
            <mat-icon>chevron_left</mat-icon>{{'back' | translate}}
        </button>
    </div>
    <div class="buttons-md2">
        <button class="mat-raised-button primary-color-bg" mat-raised-button (click)="navigateToNewMortgage()">
            <mat-icon>add</mat-icon>{{'hypothek_new' | translate}}
        </button>
        <button class="mat-raised-button primary-color-bg" mat-raised-button (click)="editTotalLoan()">
            <mat-icon>create</mat-icon>{{'edit' | translate}}
        </button>
    </div>
</div>