.pdng-btm-5 {
    padding-bottom: 10px !important;
}

/deep/ .cell-text-right .datatable-body-cell-label {
    text-align: right !important;
}

/deep/ .header-text-right .datatable-header-cell-template-wrap {
    text-align: right !important;
}

.overdue {
    background-color: #ffc545 !important;
    color: #fff !important;
    padding: 5px;
    border-radius: 10px;
}

.swapped {
    background-color: #9ad268 !important;
    color: #fff !important;
    padding: 5px;
    border-radius: 10px;
    margin-left: 10px;
}

.clickable {
    cursor: pointer;
    color: #0645AD;
    font-weight: bold;
}