<h3 mat-dialog-title>{{ 'customer_list_dialog_select_user' | translate }}</h3>
<div mat-dialog-content>
    <div fxLayout="row wrap" fxLayoutAlign="start">
        <div fxFlex="100">
            <div class="pad-all-md mat-white box-inset mrgn-all-md">
                <div fxFlex.gt-xs="100" fxFlex.gt-sm="20" fxFlex="100">
                    <input matInput type="text" placeholder='{{"search_by_name" | translate}}' [(ngModel)]="searchQuery"
                        (keyup.enter)="filterBy()" />
                    <mat-divider></mat-divider>
                </div>
                <div fxFlex.gt-xs="100" fxFlex.gt-sm="80" fxFlex="100" style="text-align: right">
                    <button class="mat-raised-button" color="primary" mat-raised-button type="button"
                        (click)="filterBy()">{{"search" | translate}}</button>
                </div>
            </div>


            <ngx-datatable #userAdministrationTable class='material mrgn-all-md' [columns]="columns"
                [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="10"
                [rows]='contactsArray' (activate)="onActivate($event)"
                [messages]="{emptyMessage:'general_no_data_available' | translate}">

                <ngx-datatable-footer>
                    <ng-template ngx-datatable-footer-template let-rowCount="totalNumberOfElemetns"
                        let-pageSize="pageSize" let-selectedCount="selectedCount" let-curPage="curPage"
                        let-offset="offset">
                        <div style="padding: 5px 10px">
                            <div>
                                {{"total_number_of_users" | translate}} {{totalNumberOfElemetns}}
                            </div>
                        </div>
                        <datatable-pager [pagerLeftArrowIcon]="'datatable-icon-left'"
                            [pagerRightArrowIcon]="'datatable-icon-right'" [pagerPreviousIcon]="'datatable-icon-prev'"
                            [pagerNextIcon]="'datatable-icon-skip'" [page]="curPage" [size]="pageSize"
                            [count]="totalNumberOfElemetns" [hidden]="!((totalNumberOfElemetns / pageSize) > 1)"
                            (change)="prepareEntitySearch($event)">
                        </datatable-pager>
                    </ng-template>
                </ngx-datatable-footer>
            </ngx-datatable>
        </div>
    </div>
</div>

<div mat-dialog-actions align="right">
    <button mat-button (click)="dialogRef.close()"
        cdkFocusInitial>{{ 'customer_list_dialog_stop' | translate }}</button>
</div>