<!--TABS-->
<div class="gene-card-content">
  <mat-tab-group mat-stretch-tabs>

    <mat-tab>
      <ng-template mat-tab-label class="position-relative">
        <span class="position-absolute tab-label-icon-padding-bot">
          <mat-icon>search</mat-icon>
        </span>
        <span class="position-absolute tab-label-text-padding-top">
          <p>Customer details</p>
        </span>
      </ng-template>
      <div class="pad-t-md pad-b-md">
        <tab-interest-term></tab-interest-term>
      </div>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label class="position-relative">
        <span class="position-absolute tab-label-icon-padding-bot">
          <mat-icon>dashboard</mat-icon>
        </span>
        <span class="position-absolute tab-label-text-padding-top">
          <p>Cockpit</p>
        </span>
      </ng-template>
      <div class="pad-t-md pad-b-md">
        <tab-dashboard></tab-dashboard>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label class="position-relative">
        <span class="position-absolute tab-label-icon-padding-bot">
          <mat-icon>insert_chart</mat-icon>
        </span>
        <span class="position-absolute tab-label-text-padding-top">
          <p>Interests</p>
        </span>
      </ng-template>
      <div class="pad-t-md pad-b-md">
        <tab-interests></tab-interests>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label class="position-relative">
        <span class="position-absolute tab-label-icon-padding-bot">
          <mat-icon>access_time</mat-icon>
        </span>
        <span class="position-absolute tab-label-text-padding-top">
          <p>Duration</p>
        </span>
      </ng-template>
      <div class="pad-t-md pad-b-md">

      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label class="position-relative">
        <span class="position-absolute tab-label-icon-padding-bot">
          <mat-icon>flag</mat-icon>
        </span>
        <span class="position-absolute tab-label-text-padding-top">
          <p>Due credits</p>
        </span>
      </ng-template>
      <div class="pad-t-md pad-b-md">
        <tab-due-credits></tab-due-credits>
      </div>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label class="position-relative">
          <span class="position-absolute tab-label-icon-padding-bot">
            <mat-icon>group_work</mat-icon>
          </span>
          <span class="position-absolute tab-label-text-padding-top">
            <p>Lender</p>
          </span>
        </ng-template>
        <div class="pad-t-md pad-b-md">
          <tab-lender-structure></tab-lender-structure>
        </div>
      </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label class="position-relative">
        <span class="position-absolute tab-label-icon-padding-bot">
          <mat-icon>trending_up</mat-icon>
        </span>
        <span class="position-absolute tab-label-text-padding-top">
          <p>Credit growth</p>
        </span>
      </ng-template>
      <div class="pad-t-md pad-b-md">
        <tab-credit-growth></tab-credit-growth>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>