.divMargin1{
    margin-left: 9px;
}

.right-margin {
    margin-right:1rem;
}


 .mat-card { 
    overflow:unset!important;
}

.top-distance {
    margin-top:10px!important;
}

.left-margin {
    margin-left:9px!important;
}

.mat-radio-button:last-child {
    margin-left:15px;
}

.right-margin button:first-child {
    margin-left:3px;
}

.right-margin button:last-child {
    margin: 0!important;
    margin-right: 10px!important;
}


.mat-card-margin {
    margin:1rem;
}

.estate-style {
    margin-left:0px!important;
}

.buttons-div button:last-child {
    margin-right:0px!important;
}

// Responsive style for component

@media only screen and(max-width:530px) {
    .mat-radio-button:last-child {
        margin-left:0!important;
    }

    .mobile-size-estate {
        width:112px!important;
        font-size:10px!important;
        padding:0px!important;
    }

    .mobile-size {
        width:30px!important;
        font-size:10px!important;
        padding:0px!important;
    }
}

