<form #form="ngForm">
  <!--Details mortgages-->
  <div fxLayout="row wrap" fxLayoutAlign="space-between center">
    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
      <mat-card fxFlex="100%">
        <div class="gene-card-title">
          <div fxLayout="row" fxLayoutAlign="start center">
            <div fxLayout="column">
              <mat-card-title>{{'details' | translate}}</mat-card-title>
            </div>
          </div>
          <mat-divider></mat-divider>
        </div>
        <div class="gene-card-content">

          <div fxLayout="row wrap" fxLayoutAlign="space-between center">
            <!--Name-->
            <div fxFlex.gt-md="45" fxFlex.gt-sm="45" fxFlex.gt-xs="99" fxFlex="100">
              <mat-form-field class="full-wid mrgn-b-md">
                <input matInput placeholder="{{'finanzierungsobjekt_name' | translate}}" [(ngModel)]="fObject.name"
                  name="name" required>
                <mat-error *ngIf="!form.valid">{{ 'tell_us_your_name' | translate}}</mat-error>
              </mat-form-field>
            </div>

            <!--Customer-->
            <div fxFlex.gt-sm="45" fxFlex.gt-md="45" fxFlex.gt-xs="99" fxFlex="100">
              <mat-form-field class="full-wid mrgn-b-md">
                <input matInput placeholder="{{'finanzierungsobjekt_kunde' | translate}}" [value]="fullName" readonly>
              </mat-form-field>
            </div>
          </div>


          <div fxLayout="row wrap" fxLayoutAlign="space-between center">
            <!--Owner-->
            <div fxFlex.gt-md="45" fxFlex.gt-sm="45" fxFlex.gt-xs="99" fxFlex="100">
              <ng-select [multiple]="true" [virtualScroll]="true"
                placeholder="{{'finanzierungsobjekt_owner' | translate}}" [items]="owners" bindLabel="name"
                [(ngModel)]="fObject.owner" name="owner">
              </ng-select>
            </div>

            <!--Deactivation date-->
            <div fxFlex.gt-md="45" fxFlex.gt-sm="45" fxFlex.gt-xs="99" fxFlex="100">
              <mat-form-field class="full-wid">
                <input matInput [matDatepicker]="myDatepicker"
                  placeholder="{{'finanzierungsobjekt_deac_date' | translate}}" [(ngModel)]="fObject.deactivatedSince"
                  name="deactivatedSince">
                <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
                <mat-datepicker #myDatepicker></mat-datepicker>
              </mat-form-field>
            </div>
          </div>


          <!--Usage-->
          <div fxLayout="row wrap" fxLayoutAlign="space-between center">
            <div fxFlex.gt-md="100" fxFlex.gt-sm="60" fxFlex.gt-xs="100" fxFlex="100">
              <mat-form-field fxFlex="25%">
                <mat-select placeholder="{{'finanzierungsobjekt_usage' | translate | capitalizeFirst}}"
                  [(ngModel)]="fObject.usage" name="usage">
                  <mat-option *ngFor="let usage of allUsageItems" [value]="usage.value">
                    {{usage.value | translate | capitalizeFirst}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

        </div>
      </mat-card>
    </div>
  </div>

</form>

<!--Internal comments-->
<div fxLayout="row wrap" fxLayoutAlign="space-between center">
  <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card fxFlex="100%">
      <div class="gene-card-title">
        <div fxLayout="row" fxLayoutAlign="start center">
          <div fxLayout="column">
            <mat-card-title>{{'financ_obj_edit_internal_remark'|translate}}</mat-card-title>
          </div> <span fxFlex></span>
        </div>
        <mat-divider></mat-divider>
      </div>
      <div class="gene-card-content">
        <div fxLayout="row wrap" fxLayoutAlign="space-between center">
          <div fxFlex.gt-md="45" fxFlex.gt-sm="45" fxFlex.gt-xs="99" fxFlex="100">
            <mat-form-field class="full-wid mrgn-b-md">
              <input matInput placeholder="{{'financ_obj_edit_internal_remark' | translate}}"
                [(ngModel)]="fObject.internalComments">
            </mat-form-field>
          </div>

        </div>
      </div>
    </mat-card>
  </div>
</div>


<!--Real estate-->
<div fxLayout="row wrap" fxLayoutAlign="space-between center" *ngFor="let realEstate of fObject.property">
  <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" class="full-wid">
    <mat-card fxFlex="100%">
      <div class="gene-card-title">
        <div fxLayout="row" fxLayoutAlign="start center">
          <div class="gene-card-title" fxFlex.gt-md="80" fxFlex.gt-sm="60" fxFlex.gt-xs="50" fxFlex="100">
            <mat-card-title>
              {{'grundstueck'|translate}}
            </mat-card-title>
          </div>
          <div class="gene-card-title" fxFlex.gt-md="20" fxFlex.gt-sm="40" fxFlex.gt-xs="50" fxFlex="100">
            <button type="button" class="mat-flat-button pull-right" color="primary" mat-flat-button
              (click)="removeRealEstate(realEstate)">
              <i class="fa fa-close fa-fw"></i>
              <span>{{'grundstueck_remove' | translate | capitalizeFirst}}</span>
            </button>
          </div>
        </div>
        <mat-divider></mat-divider>
      </div>
      <div class="gene-card-content">


        <!--Remarks-->
        <div fxLayout="row wrap" fxLayoutAlign="space-between center">
          <div fxFlex.gt-md="45" fxFlex.gt-sm="45" fxFlex.gt-xs="100" fxFlex="100">
            <mat-form-field class="full-wid mrgn-b-md">
              <textarea matInput rows="3" placeholder="{{'financ_obj_edit_remark' | translate }}"
                [(ngModel)]="realEstate.remarks"></textarea>
            </mat-form-field>
          </div>
        </div>

        <mat-accordion *ngFor="let properties of realEstate.object">

          <mat-expansion-panel [expanded]="true" style="margin-bottom: 10px;">
            <mat-expansion-panel-header>
              <mat-panel-title *ngIf="properties.id && properties.adress.adresse">{{properties.adress.adresse}}
              </mat-panel-title>
              <mat-panel-title *ngIf="properties.id && !properties.adress.adresse">
                {{ 'filter_no_adress_found' | translate  }}</mat-panel-title>
              <mat-panel-title *ngIf="!properties.id">{{'objekt' | translate | capitalizeFirst}}</mat-panel-title>
              <mat-panel-description>
                <button type="button" class="mat-flat-button" color="primary" mat-flat-button
                  (click)="removeProperty(realEstate, properties)">
                  <i class="fa fa-close fa-fw"></i>
                  <span>{{'objekt_remove' | translate | capitalizeFirst}}</span>
                </button>
              </mat-panel-description>
            </mat-expansion-panel-header>


            <!--Properties-->
            <div fxLayout="row wrap" fxLayoutAlign="space-between center">
              <div fxFlex.gt-md="100" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">

                <!--Property type-->
                <div fxLayout="row wrap" fxLayoutAlign="space-between center" class="top-distance">
                  <div fxFlex.gt-md="45" fxFlex.gt-sm="45" fxFlex.gt-xs="99" fxFlex="100">
                    <mat-form-field fxFlex="50%">
                      <mat-select placeholder="{{'objekt_typ' | translate | capitalizeFirst}} *"
                        [(ngModel)]="properties.type">
                        <mat-option *ngFor="let pType of propertyType" [value]="pType.value">
                          {{pType.value | translate | capitalizeFirst}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>

                  <div fxFlex.gt-md="45" fxFlex.gt-sm="45" fxFlex.gt-xs="99" fxFlex="100">

                    <mat-radio-group class="radio-group" [(ngModel)]="properties.sort">
                      <mat-radio-button value="BESTANDES" class="radio-button" (change)="changeRB($event)"
                        [checked]="properties.sort == 'BESTANDES' ? 'true' : 'false'">
                        {{'objekt_art_bestandes' | translate | capitalizeFirst}}</mat-radio-button>
                      <mat-radio-button value="ENTWICKLUNG" class="radio-button" (change)="changeRB($event)"
                        [checked]="properties.sort != 'BESTANDES' ? 'true' : 'false'"
                        (click)="removeInvenstmentWorth(properties)">
                        {{'objekt_art_entwicklung' | translate | capitalizeFirst}}</mat-radio-button>
                    </mat-radio-group>

                  </div>

                </div>


                <!--Location-->
                <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                  <div fxFlex.gt-md="63" fxFlex.gt-sm="63" fxFlex.gt-xs="99" fxFlex="100">
                    <mat-form-field class="full-wid mrgn-b-md">
                      <input matInput placeholder="{{'standort_strasse' | translate}}"
                        [(ngModel)]="properties.adress.street">
                    </mat-form-field>
                  </div>

                  <div fxFlex.gt-md="32" fxFlex.gt-sm="32" fxFlex.gt-xs="99" fxFlex="100">

                    <mat-form-field class="full-wid mrgn-b-md">
                      <input matInput placeholder="{{'standort_hausnummer' | translate}}"
                        [(ngModel)]="properties.adress.housenumber">
                    </mat-form-field>
                  </div>

                </div>

                <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                  <div fxFlex.gt-md="32" fxFlex.gt-sm="32" fxFlex.gt-xs="99" fxFlex="100">
                    <mat-form-field class="full-wid mrgn-b-md">
                      <input matInput type="number" min="0" placeholder="{{'standort_plz' | translate}}"
                        [(ngModel)]="properties.adress.postcode" (change)="onChangePostcode($event)">
                      <mat-hint
                        *ngIf="(properties.adress.postcode && ((properties.adress.postcode.toString().length < 4) || (properties.adress.postcode.toString().length > 6)))">
                        {{ 'standort_plz_validation' | translate }}</mat-hint>
                    </mat-form-field>
                  </div>

                  <div fxFlex.gt-md="63" fxFlex.gt-sm="63" fxFlex.gt-xs="99" fxFlex="100">

                    <mat-form-field class="full-wid mrgn-b-md">
                      <input matInput placeholder="{{'standort_ort' | translate}}"
                        [(ngModel)]="properties.adress.municipality">
                    </mat-form-field>

                  </div>

                </div>

                <!--Purchase-->
                <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                  <div fxFlex.gt-md="30" fxFlex.gt-sm="30" fxFlex.gt-xs="100" fxFlex="100">
                    <mat-form-field class="full-wid">
                      <input matInput type="number" min="0"
                        placeholder="{{'objekt_kaufpreisjahr' | translate | capitalizeFirst}}"
                        [(ngModel)]="properties.purchaseData.amount" />
                      <span matSuffix>in CHF</span>
                    </mat-form-field>
                  </div>

                  <div fxFlex.gt-md="20" fxFlex.gt-sm="20" fxFlex.gt-xs="100" fxFlex="100">
                    <mat-form-field class="full-wid">
                      <input matInput [matDatepicker]="purchaseDatepicker"
                        placeholder="{{'date' | translate | capitalizeFirst}}"
                        [(ngModel)]="properties.purchaseData.date">
                      <mat-datepicker-toggle matSuffix [for]="purchaseDatepicker"></mat-datepicker-toggle>
                      <mat-datepicker #purchaseDatepicker></mat-datepicker>
                    </mat-form-field>
                  </div>

                  <div fxFlex.gt-md="40" fxFlex.gt-sm="40" fxFlex.gt-xs="100" fxFlex="100">
                    <mat-form-field class="full-wid mrgn-b-md">
                      <textarea matInput rows="3" placeholder="{{'objekt_kaufpreisjahr_kommentar' | translate}}"
                        [(ngModel)]="properties.purchaseData.comment"></textarea>
                    </mat-form-field>
                  </div>

                </div>

                <!--Property-->
                <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                  <div fxFlex.gt-md="45" fxFlex.gt-sm="45" fxFlex.gt-xs="100" fxFlex="100">
                    <mat-form-field class="full-wid">
                      <input matInput type="number" min="0"
                        placeholder="{{'objekt_objektwert' | translate | capitalizeFirst}}"
                        [(ngModel)]="properties.objectWorth.amount" />
                      <span matSuffix>in CHF</span>
                    </mat-form-field>
                  </div>

                  <div fxFlex.gt-md="45" fxFlex.gt-sm="45" fxFlex.gt-xs="100" fxFlex="100">
                    <mat-form-field class="full-wid mrgn-b-md">
                      <textarea matInput rows="3" placeholder="{{'objekt_objektwert_kommentar' | translate}}"
                        [(ngModel)]="properties.objectWorth.comment"></textarea>
                    </mat-form-field>
                  </div>
                </div>

                <!--Lending-->
                <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                  <div fxFlex.gt-md="45" fxFlex.gt-sm="45" fxFlex.gt-xs="100" fxFlex="100">
                    <mat-form-field class="full-wid">
                      <input matInput type="number" min="0"
                        placeholder="{{'objekt_belehnungswert' | translate | capitalizeFirst}}"
                        [(ngModel)]="properties.collateralValue.amount" />
                      <span matSuffix>in CHF</span>
                    </mat-form-field>
                  </div>

                  <div fxFlex.gt-md="45" fxFlex.gt-sm="45" fxFlex.gt-xs="100" fxFlex="100">
                    <mat-form-field class="full-wid mrgn-b-md">
                      <textarea matInput rows="3" placeholder="{{'objekt_belehnungswert_kommentar' | translate}}"
                        [(ngModel)]="properties.collateralValue.comment"></textarea>
                    </mat-form-field>
                  </div>
                </div>

                <!--Investment value-->
                <div fxLayout="row wrap" fxLayoutAlign="space-between center" *ngIf="properties.sort === 'BESTANDES' ">
                  <div fxFlex.gt-md="45" fxFlex.gt-sm="45" fxFlex.gt-xs="100" fxFlex="100">
                    <mat-form-field class="full-wid">
                      <input matInput type="number" min="0"
                        placeholder="{{'objekt_anlagenwert' | translate | capitalizeFirst}}"
                        [(ngModel)]="properties.investmentWorth.amount" />
                      <span matSuffix>in CHF</span>
                    </mat-form-field>
                  </div>

                  <div fxFlex.gt-md="45" fxFlex.gt-sm="45" fxFlex.gt-xs="100" fxFlex="100">
                    <mat-form-field class="full-wid mrgn-b-md">
                      <textarea matInput rows="3" placeholder="{{'objekt_anlagenwert_kommentar' | translate}}"
                        [(ngModel)]="properties.investmentWorth.comment"></textarea>
                    </mat-form-field>
                  </div>
                </div>

                <!--Investment costs-->
                <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                  <div fxFlex.gt-md="45" fxFlex.gt-sm="45" fxFlex.gt-xs="100" fxFlex="100">
                    <mat-form-field class="full-wid">
                      <input matInput type="number" min="0"
                        placeholder="{{'objekt_anlagenkosten' | translate | capitalizeFirst}}"
                        [(ngModel)]="properties.investmentCost.amount" />
                      <span matSuffix>in CHF</span>
                    </mat-form-field>
                  </div>

                  <div fxFlex.gt-md="45" fxFlex.gt-sm="45" fxFlex.gt-xs="100" fxFlex="100">
                    <mat-form-field class="full-wid mrgn-b-md">
                      <textarea matInput rows="3" placeholder="{{'objekt_anlagenkosten_kommentar' | translate}}"
                        [(ngModel)]="properties.investmentCost.comment"></textarea>
                    </mat-form-field>
                  </div>
                </div>

                <!--Rental income-->
                <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                  <div fxFlex.gt-md="45" fxFlex.gt-sm="45" fxFlex.gt-xs="99" fxFlex="100">
                    <mat-form-field class="full-wid">
                      <input matInput type="number" min="0"
                        placeholder="{{'objekt_mietertrag' | translate | capitalizeFirst}}"
                        [(ngModel)]="properties.rentalincome.amount" />
                      <span matSuffix>in CHF / Jahr</span>
                    </mat-form-field>
                  </div>

                  <div fxFlex.gt-md="45" fxFlex.gt-sm="45" fxFlex.gt-xs="99" fxFlex="100">
                    <mat-form-field class="full-wid mrgn-b-md">
                      <textarea matInput rows="3" placeholder="{{'objekt_mietertrag_kommentar' | translate}}"
                        [(ngModel)]="properties.rentalincome.comment"></textarea>
                    </mat-form-field>
                  </div>
                </div>

                <!--Land lease-->
                <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                  <div fxFlex.gt-md="45" fxFlex.gt-sm="45" fxFlex.gt-xs="99" fxFlex="100">
                    <mat-form-field class="full-wid">
                      <input matInput type="number" min="0" placeholder="{{'objekt_baurechtzins' | translate |
                        capitalizeFirst}}" [(ngModel)]="properties.zoningInterest.amount" />
                      <span matSuffix>in CHF / Jahr</span>
                    </mat-form-field>
                  </div>

                  <div fxFlex.gt-md="45" fxFlex.gt-sm="45" fxFlex.gt-xs="99" fxFlex="100">
                    <mat-form-field class="full-wid mrgn-b-md">
                      <textarea matInput rows="3" placeholder="{{'objekt_baurechtzins_kommentar' | translate}}"
                        [(ngModel)]="properties.zoningInterest.comment"></textarea>
                    </mat-form-field>
                  </div>
                </div>

                <!--Sold-->
                <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                  <div fxFlex.gt-md="45" fxFlex.gt-sm="45" fxFlex.gt-xs="99" fxFlex="100">
                    <mat-checkbox (change)="changeCB($event)" [checked]="properties.saleDate">
                      {{'objekt_verkauft_checkbox' | translate | capitalizeFirst}}</mat-checkbox>
                  </div>
                </div>

                <!--Date sold-->
                <div fxLayout="row wrap" fxLayoutAlign="space-between center" *ngIf="properties.saleDate || showSold">
                  <div fxFlex.gt-md="75" fxFlex.gt-sm="75" fxFlex.gt-xs="99" fxFlex="100" fxFlexOffset.gt-md="25%"
                    fxFlexOffset.gt-sm="25%">
                    <mat-form-field class="full-wid">
                      <input matInput [matDatepicker]="soldDatepicker"
                        placeholder="{{'objekt_verkaufsdatum' | translate | capitalizeFirst}}"
                        [(ngModel)]="properties.saleDate" name="saleDate">
                      <mat-datepicker-toggle matSuffix [for]="soldDatepicker"></mat-datepicker-toggle>
                      <mat-datepicker #soldDatepicker></mat-datepicker>
                    </mat-form-field>
                  </div>
                </div>


              </div>
            </div>
          </mat-expansion-panel>

        </mat-accordion>
      </div>

      <div fxLayout="row wrap" fxLayoutAlign="space-between stretch" class="crm-stats-cards">
        <div fxFlex.gt-md="29" fxFlex.gt-sm="29" fxFlex.gt-xs="29">
          <div class="left-margin">
            <button class="mrgn-all-xs mat-raised-button" mat-raised-button (click)="addProperty(realEstate)">
              <mat-icon style="font-size:15px;">add</mat-icon>{{'objekt_add' | translate | capitalizeFirst}}
            </button>
          </div>
        </div>

      </div>

    </mat-card>
  </div>
</div>

<!-- Buttons -->
<div class="buttons-md">
  <div class="buttons-md1">
    <button class="mat-raised-button" mat-raised-button (click)="addRealEstate()">
      <mat-icon>add</mat-icon>{{'grundstueck_add' | translate | capitalizeFirst}}
    </button>
  </div>
  <div class="buttons-md2">
    <button class="mat-raised-button" color="primary" mat-raised-button (click)="goBack()">
      {{ 'cancel' | translate | capitalizeFirst}}
    </button>
    <button class="mat-raised-button" color="primary" mat-raised-button [disabled]="!form.valid" (click)="updateFO()">
      <mat-icon>save</mat-icon>{{ 'save' | translate | capitalizeFirst}}
    </button>
  </div>
</div>