<div fxLayout="row wrap" fxLayoutAlign="space-between center">
  <mat-tab-group fxFlex.gt-md="100" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100"
    (selectedTabChange)="tabChanged($event)">
    <!--Customers tab-->
    <mat-tab label="Customers">
      <ng-template mat-tab-label class="position-relative">
        <span class="position-absolute tab-label-icon-padding-bot">
          <mat-icon>person</mat-icon>
        </span>
        <span class="position-absolute tab-label-text-padding-top">
          <p>{{'hypo_list_customer' | translate | capitalizeFirst}}</p>
        </span>
      </ng-template>
      <div class="pad-t-md pad-b-md">

        <mat-card fxFlex="100%">
          <mat-card-title>{{'hypo_list_filter' | translate | capitalizeFirst}}</mat-card-title>

          <mat-divider></mat-divider>
          <div class="gene-card-content">
            <!--Customer adviser-->
            <div fxLayout="row wrap" fxLayoutAlign="space-between center">
              <div fxFlex.gt-md="45" fxFlex.gt-sm="45" fxFlex.gt-xs="100" fxFlex="100">
                <ng-select [items]="adviser" class="full-width" [multiple]="false" [virtualScroll]="true"
                  bindLabel="name" placeholder="{{'hypo_list_consultant' | translate | capitalizeFirst}}"
                  [(ngModel)]="groupedByCustomer.clientAdvisorQuery">
                </ng-select>
              </div>
            </div>



            <!--Start of term of-->
            <div fxLayout="row wrap" fxLayoutAlign="space-between center">
              <div fxFlex.gt-md="45" fxFlex.gt-sm="45" fxFlex.gt-xs="100" fxFlex="100">
                <mat-form-field class="full-wid">
                  <input matInput [matDatepicker]="startTermOf"
                    placeholder="{{'hypo_list_term_start' | translate | capitalizeFirst}}"
                    [(ngModel)]="groupedByCustomer.startTermQuery">
                  <mat-datepicker-toggle matSuffix [for]="startTermOf"></mat-datepicker-toggle>
                  <mat-datepicker #startTermOf></mat-datepicker>
                </mat-form-field>
              </div>

              <div fxFlex.gt-md="45" fxFlex.gt-sm="45" fxFlex.gt-xs="100" fxFlex="100">
                <mat-form-field class="full-wid">
                  <input matInput [matDatepicker]="startTermEnd"
                    placeholder="{{'hypo_list_term_to' | translate | capitalizeFirst}}"
                    [(ngModel)]="groupedByCustomer.startTermToQuery">
                  <mat-datepicker-toggle matSuffix [for]="startTermEnd"></mat-datepicker-toggle>
                  <mat-datepicker #startTermEnd></mat-datepicker>
                </mat-form-field>
              </div>
            </div>

            <!--Term of maturity-->
            <div fxLayout="row wrap" fxLayoutAlign="space-between center">
              <div fxFlex.gt-md="45" fxFlex.gt-sm="45" fxFlex.gt-xs="100" fxFlex="100">
                <mat-form-field class="full-wid">
                  <input matInput [matDatepicker]="termOfMaturity"
                    placeholder="{{'hypo_list_term_end' | translate | capitalizeFirst}}"
                    [(ngModel)]="groupedByCustomer.endTermQuery">
                  <mat-datepicker-toggle matSuffix [for]="termOfMaturity"></mat-datepicker-toggle>
                  <mat-datepicker #termOfMaturity></mat-datepicker>
                </mat-form-field>
              </div>

              <div fxFlex.gt-md="45" fxFlex.gt-sm="45" fxFlex.gt-xs="100" fxFlex="100">
                <mat-form-field class="full-wid">
                  <input matInput [matDatepicker]="termOfMaturityEnd"
                    placeholder="{{'hypo_list_term_to' | translate | capitalizeFirst}}"
                    [(ngModel)]="groupedByCustomer.endTermToQuery">
                  <mat-datepicker-toggle matSuffix [for]="termOfMaturityEnd"></mat-datepicker-toggle>
                  <mat-datepicker #termOfMaturityEnd></mat-datepicker>
                </mat-form-field>
              </div>
            </div>


            <!--Start of term of-->
            <div fxLayout="row wrap" fxLayoutAlign="space-between center">
              <div fxFlex.gt-md="45" fxFlex.gt-sm="45" fxFlex.gt-xs="100" fxFlex="100">
                <mat-form-field class="full-wid">
                  <input matInput [matDatepicker]="startTermOfSecond"
                    placeholder="{{'hypo_list_cond_term_start' | translate | capitalizeFirst}}"
                    [(ngModel)]="groupedByCustomer.startFrameQuery">
                  <mat-datepicker-toggle matSuffix [for]="startTermOfSecond"></mat-datepicker-toggle>
                  <mat-datepicker #startTermOfSecond></mat-datepicker>
                </mat-form-field>
              </div>

              <div fxFlex.gt-md="45" fxFlex.gt-sm="45" fxFlex.gt-xs="100" fxFlex="100">
                <mat-form-field class="full-wid">
                  <input matInput [matDatepicker]="startTermEndSecond"
                    placeholder="{{'hypo_list_term_to' | translate | capitalizeFirst}}"
                    [(ngModel)]="groupedByCustomer.startFrameToQuery">
                  <mat-datepicker-toggle matSuffix [for]="startTermEndSecond"></mat-datepicker-toggle>
                  <mat-datepicker #startTermEndSecond></mat-datepicker>
                </mat-form-field>
              </div>
            </div>

            <!--Framework term end of-->
            <div fxLayout="row wrap" fxLayoutAlign="space-between center">
              <div fxFlex.gt-md="45" fxFlex.gt-sm="45" fxFlex.gt-xs="100" fxFlex="100">
                <mat-form-field class="full-wid">
                  <input matInput [matDatepicker]="frameworkTermEnd"
                    placeholder="{{'hypo_list_cond_term_end' | translate | capitalizeFirst}}"
                    [(ngModel)]="groupedByCustomer.endFrameQuery">
                  <mat-datepicker-toggle matSuffix [for]="frameworkTermEnd"></mat-datepicker-toggle>
                  <mat-datepicker #frameworkTermEnd></mat-datepicker>
                </mat-form-field>
              </div>

              <div fxFlex.gt-md="45" fxFlex.gt-sm="45" fxFlex.gt-xs="100" fxFlex="100">
                <mat-form-field class="full-wid">
                  <input matInput [matDatepicker]="frameworkTermEndEnd"
                    placeholder="{{'hypo_list_term_to' | translate | capitalizeFirst}}"
                    [(ngModel)]="groupedByCustomer.endFrameToQuery">
                  <mat-datepicker-toggle matSuffix [for]="frameworkTermEndEnd"></mat-datepicker-toggle>
                  <mat-datepicker #frameworkTermEndEnd></mat-datepicker>
                </mat-form-field>
              </div>
            </div>



            <!--Product-->
            <div fxLayout="row wrap" fxLayoutAlign="space-between center">
              <div fxFlex.gt-md="45" fxFlex.gt-sm="45" fxFlex.gt-xs="100" fxFlex="100">
                <ng-select [items]="productType" class="full-width" [multiple]="true" [virtualScroll]="true"
                  placeholder="{{'hypo_list_product' | translate | capitalizeFirst}}" bindLabel="value"
                  [(ngModel)]="groupedByCustomer.productTypeQuery">
                  <ng-template ng-label-tmp let-item="item">
                    <span>{{ item.value | translate | capitalizeFirst }}</span>
                  </ng-template>
                  <ng-template ng-option-tmp let-item="item" let-index="index">
                    <span>{{ item.value | translate | capitalizeFirst }}</span>
                  </ng-template>
                </ng-select>
              </div>
            </div>




            <!--Lender-->
            <div fxLayout="row wrap" fxLayoutAlign="space-between center">
              <div fxFlex.gt-md="45" fxFlex.gt-sm="45" fxFlex.gt-xs="100" fxFlex="100">
                <ng-select [items]="lenders" class="full-width" [multiple]="false" [virtualScroll]="true"
                  bindLabel="name" placeholder="{{'hypo_list_lender' | translate | capitalizeFirst}}"
                  [(ngModel)]="groupedByCustomer.lenderQuery">
                </ng-select>
              </div>
            </div>

            <!--Buttons-->
            <div fxLayout="row wrap" fxLayoutAlign="start center">
              <button mat-raised-button (click)="search()">
                <mat-icon style="font-size:15px;">search</mat-icon>{{'hypo_list_search' | translate | capitalizeFirst}}
              </button>

              <button mat-raised-button (click)="resetForm()">
                <mat-icon style="font-size:15px;">close</mat-icon>
              </button>
            </div>

          </div>
        </mat-card>

      </div>

      <div fxLayout="row wrap" fxLayoutAlign="start top">
        <div fxFlex.gt-xs="100" fxFlex.gt-sm="100" fxFlex.gt-md="100" fxFlex="100">
          <mat-card style="margin-bottom: 0px" *ngIf="renderedData.length == 0" >
            <div fxLayout="row wrap" fxLayoutAlign="center center">
              <span><strong>{{'general_no_data_available' | translate | capitalizeFirst}}</strong></span>
            </div>
          </mat-card>

          <div *ngIf="renderedData.length > 0">
            <ngx-datatable #overDueMortgagesTable class='material mrgn-all-md' [columnMode]="'force'"
              [headerHeight]="'auto'" [footerHeight]="0" [rowHeight]="'auto'" [rows]='renderedData' [scrollbarH]="true"
              style="margin-top: 2px !important" [groupExpansionDefault]="true" [groupRowsBy]="'groupedBy'"
              [summaryRow]="enableSummary" [summaryPosition]="summaryPosition" [summaryHeight]="'auto'"
              (activate)="redirect($event)">

              <ngx-datatable-group-header [rowHeight]="'auto'" #myGroupHeader>
                <ng-template let-group="group" let-expanded="expanded" ngx-datatable-group-header-template>
                  <div class="mortgages-group-header title-pad">
                    <span>{{ 'date_jahr' | translate | capitalizeFirst}} : {{ group.value[0].groupedBy }}</span>
                  </div>
                </ng-template>
              </ngx-datatable-group-header>

              <ngx-datatable-column name="{{'kunde' | translate | capitalizeFirst}}" [resizeable]="false"
                [canAutoResize]="false" [width]="130" prop="customer">
                <ng-template let-value="row.customer" ngx-datatable-cell-template>
                  {{value}}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="{{'fin_obj' | translate | capitalizeFirst}}" [resizeable]="false"
                [canAutoResize]="false" [width]="300" prop="property">
                <ng-template let-value="row.property" ngx-datatable-cell-template>
                  {{value.name}}
                  <br>
                  <mat-chip selected class="swapped" *ngIf="value.swapped.isSwapped">
                    <span>{{ value.swapped.swapPercent }}% </span>
                    <span>{{ 'credits_grouped_ke_swapped' | translate }}</span>
                  </mat-chip>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="{{'auftrag_verantwortlicher' | translate | capitalizeFirst}}"
                [resizeable]="false" [canAutoResize]="false" [width]="123" prop="clientAdvisor">
                <ng-template let-value="row.clientAdvisor" ngx-datatable-cell-template>
                  {{value}}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="{{'hypo_list_credit_vol' | translate | capitalizeFirst}}" [resizeable]="false"
                [canAutoResize]="false" [width]="200" prop="restVolume" [summaryFunc]="summaryRestVolume"
                headerClass="header-text-right" cellClass="cell-text-right">
                <ng-template let-value="row.restVolume" ngx-datatable-cell-template>
                  {{value | currency:'CHF':'':'0.0-0':'de-CH'}}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="{{'credits_grouped_ke_product' | translate | capitalizeFirst}}"
                [resizeable]="false" [canAutoResize]="false" [width]="150" prop="productType">
                <ng-template let-value="row.productType" ngx-datatable-cell-template>
                  {{value | translate | capitalizeFirst}}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="{{'credits_grouped_ke_rate_term' | translate | capitalizeFirst}}"
                [resizeable]="false" [canAutoResize]="false" [width]="250" prop="interestTerm">
                <ng-template let-value="row.interestTerm" ngx-datatable-cell-template>
                  {{value.date}}
                  <mat-chip selected class="overdue" *ngIf="value.overdue">
                    <span>{{ 'hypo_list_overdue' | translate }}</span>
                  </mat-chip>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="{{'credits_grouped_ke_obl' | translate | capitalizeFirst}}"
                [resizeable]="false" [canAutoResize]="false" [width]="115" prop="binding">
                <ng-template let-value="row.binding" ngx-datatable-cell-template>
                  {{value}}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="{{'credits_grouped_ke_rate_py' | translate | capitalizeFirst}}"
                [resizeable]="false" [canAutoResize]="false" [width]="180" prop="interestPY"
                [summaryFunc]="summaryRestVolume" headerClass="header-text-right" cellClass="cell-text-right">
                <ng-template let-value="row.interestPY" ngx-datatable-cell-template>
                  {{value | currency:'CHF':'':'0.0-0':'de-CH'}}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="{{'credits_grouped_ke_lender' | translate | capitalizeFirst}}"
                [resizeable]="false" [canAutoResize]="false" [width]="150" prop="lender">
                <ng-template let-value="row.lender" ngx-datatable-cell-template>
                  {{value}}
                </ng-template>
              </ngx-datatable-column>

            </ngx-datatable>
          </div>

        </div>
      </div>

    </mat-tab>
    <!--Lender tab -->
    <mat-tab label="Lender">
      <ng-template mat-tab-label class="position-relative">
        <span class="position-absolute tab-label-icon-padding-bot">
          <mat-icon>business</mat-icon>
        </span>
        <span class="position-absolute tab-label-text-padding-top">
          <p>{{'hypo_list_lender' | translate | capitalizeFirst}}</p>
        </span>
      </ng-template>
      <div class="pad-t-md pad-b-md">

        <mat-card fxFlex="100%">
          <mat-card-title>{{'Filter'|translate }}</mat-card-title>

          <mat-divider></mat-divider>
          <div class="gene-card-content">
            <!--Customer adviser-->
            <div fxLayout="row wrap" fxLayoutAlign="space-between center">
              <div fxFlex.gt-md="45" fxFlex.gt-sm="45" fxFlex.gt-xs="100" fxFlex="100">
                <ng-select [items]="adviser" class="full-width" [multiple]="false" [virtualScroll]="true"
                  bindLabel="name" placeholder="{{'hypo_list_consultant' | translate | capitalizeFirst}}"
                  [(ngModel)]="groupedByLender.clientAdvisorQuery">
                </ng-select>
              </div>
            </div>


            <!--Lender-->
            <div fxLayout="row wrap" fxLayoutAlign="space-between center">
              <div fxFlex.gt-md="45" fxFlex.gt-sm="45" fxFlex.gt-xs="100" fxFlex="100">
                <ng-select [items]="lenders" class="full-width" [multiple]="false" [virtualScroll]="true"
                bindLabel="name" placeholder="{{'hypo_list_lender' | translate | capitalizeFirst}}"
                [(ngModel)]="groupedByLender.lenderQuery">
              </ng-select>
              </div>
            </div>


            <!--Deadline-->
            <div fxLayout="row wrap" fxLayoutAlign="space-between center">
              <div fxFlex.gt-md="45" fxFlex.gt-sm="45" fxFlex.gt-xs="100" fxFlex="100">
                <mat-form-field class="full-wid">
                  <input matInput [matDatepicker]="deadline" placeholder="{{'hypo_list_date_of' | translate | capitalizeFirst}}">
                  <mat-datepicker-toggle matSuffix [for]="deadline"></mat-datepicker-toggle>
                  <mat-datepicker #deadline></mat-datepicker>
                </mat-form-field>
              </div>

              <div fxFlex.gt-md="45" fxFlex.gt-sm="45" fxFlex.gt-xs="100" fxFlex="100">
                <mat-form-field class="full-wid">
                  <input matInput [matDatepicker]="deadlineEnd" placeholder="{{'hypo_list_term_to' | translate | capitalizeFirst}}">
                  <mat-datepicker-toggle matSuffix [for]="deadlineEnd"></mat-datepicker-toggle>
                  <mat-datepicker #deadlineEnd></mat-datepicker>
                </mat-form-field>
              </div>
            </div>



            <!--Buttons-->
            <div fxLayout="row wrap" fxLayoutAlign="start center">
              <button mat-raised-button (click)="setLenderExcelDownloadUrl()">
                <mat-icon style="font-size:15px;">print</mat-icon>{{'hypo_list_export_excel' | translate | capitalizeFirst}}
              </button>
            </div>

          </div>
        </mat-card>

      </div>

      <div class="pad-t-md pad-b-md">

      </div>

    </mat-tab>
  </mat-tab-group>

</div>