/*=============|Typography|============*/


@font-face {
    font-family: 'Quicksand';
    src: url(/assets/fonts/Quicksand-Light.ttf) format('truetype'),
         url(/assets/fonts/Quicksand-Medium.ttf) format('truetype'),
         url(/assets/fonts/Quicksand-Regular.ttf) format('truetype');
 }


h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    margin-bottom: $headings-margin-bottom;
    color: $headings-color;
    font-weight: bold;
    margin-top: 0;
    font-family: 'Quicksand'  !important;
}
h1,
.h1 {
    font-size: $font-size-h1;
    color:$h1-font-color;
}
h2,
.h2 {
    font-size: $font-size-h2;
    color:$h2-font-color;
}
h3,
.h3 {
    font-size: $font-size-h3;
    color:$h3-font-color;
}
h4,
.h4 {
    font-size: $font-size-h4;
    color:$h4-font-color;
}
h5,
.h5 {
    font-size: $font-size-h5;
    color:$h5-font-color;
}
h6,
.h6 {
    font-size: $font-size-h6;
    color:$h6-font-color;
}
a {
    text-decoration: none;
    color: inherit;
    font-family: 'Quicksand';
}
button {
    outline: 0;
    font-family: 'Quicksand';
}
figure {
    margin: 0;
    font-family: 'Quicksand';
}
hr {
    margin-top: 0;
    margin-bottom: 0;
    border: 0;
}
strong,
b {
    font-weight: 700;
    font-family: 'Quicksand';
}

td, p, li, ul, button, span, th, mat-card-title, datatable-body-cell, label {
    font-family: 'Quicksand'  !important;
}

.mat-dialog-title{

    font-family: 'Quicksand'  !important;
    font-weight: bold;
}

