<form [formGroup]="form">
<div fxLayout="row wrap" fxLayoutAlign="start">
  <div fxFlex="100">

    <ngx-datatable #peripheralSystemServices class='material expandable' [columns]="columns" [columnMode]="'force'"
      [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="10" [rows]='rows' [scrollbarH]="true">

      <ngx-datatable-column name="{{'config_key'|translate}}" prop="configKey" [resizeable]="false" [draggable]="false" 
       [width]="500" >
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.configKey}}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="{{'configuration_value'|translate}}" prop="configValues" [resizeable]="false"
        [draggable]="false" [width]="200"  >
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.configValue}}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="{{'allow_override_for'|translate}}" 
                            prop="allowedOverridingRoles" 
                            [resizeable]="false"
                            [draggable]="false" 
                            [width]="350" 
                            formArrayName="items">
        <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
          <ng-select  [items]="roles"   
                      [multiple]="true"
                      [virtualScroll]="true" 
                      bindLabel="name"
                      bindValue="id" 
                      placeholder="Roles"   
                      [formControlName]="rowIndex"                                                                        
          >
          </ng-select>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column [resizeable]="false" [draggable]="false" [width]="200" >
        <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
          <!-- Link button -->
          <a mat-flat-button class="primary-color-bg" (click)="update(row.id,rowIndex)">
            <mat-icon class="save-icon" [inline]="true">save</mat-icon>Save
          </a>

        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-footer>
          <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize"
            let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset">
            <div class="page-count">
              <span>
                Number of users: {{rowCount}}
              </span>
            </div>
            <datatable-pager [pagerLeftArrowIcon]="'datatable-icon-left'" [pagerRightArrowIcon]="'datatable-icon-right'"
              [pagerPreviousIcon]="'datatable-icon-prev'" [pagerNextIcon]="'datatable-icon-skip'" [page]="curPage"
              [size]="pageSize" [count]="rowCount" [hidden]="!((rowCount / pageSize) > 1)"
              (change)="peripheralSystemServices.onFooterPage($event)">
            </datatable-pager>
          </ng-template>
        </ngx-datatable-footer>
    </ngx-datatable>
  </div>
</div>
</form>