.gene-breadcrumbs {
    display:none;
}

.save-icon {
    margin-right:6px;
    margin-top:-3px;
}


.ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell {
overflow:visible!important;
}



.datatable-body {
    overflow:visible!important;
}

.page-count span:first-child {
    display:none;
}

