<div fxLayout="row wrap" fxLayoutAlign="start">
    <div fxFlex="100">
        <div class="pad-all-md mat-white box-inset mrgn-all-md">
            <div fxFlex.gt-xs="100" fxFlex.gt-sm="20" fxFlex="100">
                <input matInput type="text" placeholder='Search by Lender...' [(ngModel)]="searchQuery"
                    (keyup.enter)="filterBy()" />
                <mat-divider></mat-divider>
            </div>
            <div fxFlex.gt-xs="100" fxFlex.gt-sm="80" fxFlex="100" style="text-align: right">
                <button class="mat-raised-button" color="primary" mat-raised-button type="button"
                    (click)="filterBy()">{{"search" | translate}}</button>
            </div>
        </div>

        <ngx-datatable #propertiesTable class='material mrgn-all-md' [columnMode]="'force'" [headerHeight]="50"
            [footerHeight]="50" [rowHeight]="'auto'" [limit]="10" [rows]='totalLoansArray'
            (activate)="onActivate($event)" [messages]="{emptyMessage:'general_no_data_available' | translate}">

            <ngx-datatable-column name="{{'kunde' | translate}}" [resizeable]="false" [canAutoResize]="false"
                [width]="620" prop="duration">
                <ng-template let-value="row.customer" ngx-datatable-cell-template>
                    {{value}}
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="{{'gesamtkredit_kreditgeber' | translate}}" [resizeable]="false"
                [canAutoResize]="false" [width]="500" prop="creditor">
                <ng-template let-value="row.creditor" ngx-datatable-cell-template>
                    {{value}}
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="{{'kunde_gesamtkredite_chf' | translate}}" [resizeable]="false"
                [canAutoResize]="false" [width]="500" prop="creditVolume" headerClass="header-text-right"
                cellClass="cell-text-right">
                <ng-template let-value="row.actualLimits" ngx-datatable-cell-template>
                    {{value | currency:'CHF':'':'0.0-0':'de-CH'}}
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-footer>
                <ng-template ngx-datatable-footer-template let-rowCount="totalNumberOfElemetns" let-pageSize="pageSize"
                    let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset">
                    <div style="padding: 5px 10px">
                        <div>
                            {{'gesamtkredit_total_number' | translate}} : {{totalNumberOfElemetns}}
                        </div>
                    </div>
                    <datatable-pager [pagerLeftArrowIcon]="'datatable-icon-left'"
                        [pagerRightArrowIcon]="'datatable-icon-right'" [pagerPreviousIcon]="'datatable-icon-prev'"
                        [pagerNextIcon]="'datatable-icon-skip'" [page]="curPage" [size]="pageSize"
                        [count]="totalNumberOfElemetns" [hidden]="!((totalNumberOfElemetns / pageSize) > 1)"
                        (change)="prepareEntitySearch($event)">
                    </datatable-pager>
                </ng-template>
            </ngx-datatable-footer>

        </ngx-datatable>
    </div>
</div>