/deep/ .cell-text-right .datatable-body-cell-label {
    text-align: right !important;
}

.info-card-labels-position {
    padding: 5px 0px 5px 0px !important;
    text-align: right !important;
}

/deep/ .loans-header .datatable-header-cell-label {
    font-size: 13px !important;
    // text-align: right !important;
}

/deep/.ngx-datatable .datatable-row-wrapper:last-child{
    margin-bottom: 0px !important;
}

/deep/ .mortgages-header .datatable-header-cell-label {
    font-size: 13px !important;
    white-space: initial !important;
    // text-align: right !important;
}

/deep/ .ngx-datatable.fixed-row .datatable-scroll .datatable-body-row .datatable-body-cell {
    white-space: initial !important;
}

.mortgages-group-header{
    margin-left: 20px;
    padding: 5px;
    font-weight: bold;
    font-size: 13px;
}

/deep/ .ngx-datatable .datatable-body .datatable-group-header {
    background-color: #dadada !important;
    width: unset !important;
}

/deep/ body .ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell {
    padding: 10px 19px; 
}

.mobile-loans-list-header {
    width: 140px !important;
    display: inline-block;
}
  
//Grid responsive breakpoints
@media screen and (max-width: 800px) {
    .desktop-hidden {
        display: initial;
    }
    .mobile-hidden {
        display: none;
    }
}

@media screen and (min-width: 800px) {
    .desktop-hidden {
        display: none;
    }
    .mobile-hidden {
        display: initial;
    }
}