<mat-card style="margin-bottom: 0px">
    <mat-card-title>
        <span>{{ 'zins_reihe_element' | translate | capitalizeFirst }} {{ rate.name }}</span>
    </mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content>

        <div fxLayout="row wrap" fxLayoutAlign="start center">
            <div fxFlex.gt-md="30" fxFlex.gt-sm="42" fxFlex.gt-xs="100" fxFlex="100">

                <!-- FILTER START DATE -->
                <mat-form-field class="margin-top-10">
                    <input matInput [matDatepicker]="startDate"
                        placeholder="{{ 'filter_from' | translate | capitalizeFirst }}" [formControl]="fromDate">
                    <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
                    <mat-datepicker #startDate></mat-datepicker>

                </mat-form-field>

            </div>
            <div fxFlex.gt-md="30" fxFlex.gt-sm="42" fxFlex.gt-xs="100" fxFlex="100">

                <!-- FILTER END DATE -->
                <mat-form-field class="margin-top-10">
                    <input matInput [matDatepicker]="endDate"
                        placeholder="{{ 'filter_to' | translate | capitalizeFirst }}" [formControl]="toDate">
                    <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
                    <mat-datepicker #endDate></mat-datepicker>
                </mat-form-field>

            </div>
            <div fxFlex.gt-md="20" fxFlex.gt-sm="10" fxFlex.gt-xs="100" fxFlex="100">
                <button (click)="onSearch()" type="button" class="mrgn-all-xs" mat-raised-button mat-button-sm
                    color="primary">
                    <mat-icon>search</mat-icon>
                </button>
            </div>
        </div>

        <mat-divider></mat-divider>

        <form [formGroup]="newRateSeries">

            <div fxLayout="row wrap" fxLayoutAlign="start center" class="filters-buffer">

                <div fxFlex.gt-md="30" fxFlex.gt-sm="50" fxFlex.gt-xs="100" fxFlex="100">

                    <!-- DATE USED TO CREATE NEW ENTRIES -->
                    <mat-form-field class="margin-top-10">
                        <input required matInput [matDatepicker]="picker3"
                            placeholder="{{ 'zins_reihe_eintraege_datum' | translate }}" formControlName="date">
                        <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                        <mat-datepicker #picker3></mat-datepicker>

                        <mat-error
                            *ngIf="newRateSeries.controls['date'].touched && !newRateSeries.controls['date'].valid">
                            <mat-error *ngIf="newRateSeries.controls['date'].hasError('required')"
                                class="required alert-error">
                                {{ 'val_date' | translate }}
                            </mat-error>
                        </mat-error>

                    </mat-form-field>

                </div>

                <!-- NUMBER OF RECORDS TO CREATE -->
                <div fxFlex.gt-md="30" fxFlex.gt-sm="50" fxFlex.gt-xs="100" fxFlex="100">

                    <mat-form-field class="example-full-width margin-top-10">
                        <input min="1" matInput type="number" formControlName="addForDays"
                            placeholder="{{ 'days' | translate | capitalizeFirst }}">

                        <mat-error
                            *ngIf="newRateSeries.controls['addForDays'].touched && !newRateSeries.controls['addForDays'].valid">
                            <mat-error class="required alert-error">
                                {{ 'val_positive_number' | translate }}
                            </mat-error>
                        </mat-error>

                    </mat-form-field>

                </div>

                <!-- PERCENTAGE -->
                <div fxFlex.gt-md="30" fxFlex.gt-sm="50" fxFlex.gt-xs="100" fxFlex="100">

                    <mat-form-field class="example-full-width margin-top-10">
                        <input matInput type="number" formControlName="interest"
                            placeholder="{{ 'zins_reihe_eintraege_zins' | translate }}">

                        <mat-error
                            *ngIf="newRateSeries.controls['interest'].touched && !newRateSeries.controls['interest'].valid">
                            <mat-error class="required alert-error">
                                {{ 'val_percentage' | translate }}
                            </mat-error>
                        </mat-error>

                    </mat-form-field>

                </div>



                <div fxFlex.gt-md="10" fxFlex.gt-sm="50" fxFlex.gt-xs="100" fxFlex="100">
                    <button [disabled]="!newRateSeries.valid" type="button" class="mrgn-all-xs" mat-raised-button
                        mat-button-sm color="primary" secure-show [resource]="'ZinsReihe'" [privilege]="'UPDATE'"
                        (click)="create()">
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
            </div>

        </form>

        <mat-divider></mat-divider>

        <ngx-datatable #interestSeriesEditTable class='material mrgn-all-md grid-bold-header' [columnMode]="'force'"
            [headerHeight]="'auto'" [footerHeight]="null" [rowHeight]="'60'" [rows]='rateSeries' [scrollbarH]="true"
            style="margin-top: 2px !important">

            <ngx-datatable-column name="{{ 'zins_reihe_eintraege_datum' | translate }}" [resizeable]="false"
                [minWidth]="200">
                <ng-template let-value="row.date" ngx-datatable-cell-template>
                    {{ value | date }}
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="{{ 'zins_reihe_eintraege_zins' | translate }} %" [resizeable]="false"
                [canAutoResize]="false" [width]="150" headerClass="header-text-right" cellClass="cell-text-right">
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="row.interest" let-row="row">
                    <span *ngIf="!row.edit">
                        {{value}}
                    </span>
                    <span *ngIf="row.edit" style="border-bottom: 1px solid #ccc">
                        <input matInput type="number" [(ngModel)]="row.interest" />
                    </span>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name=" " [resizeable]="false" [canAutoResize]="false" [width]="200">
                <ng-template let-row="row" ngx-datatable-cell-template let-rowIndex="rowIndex">

                    <!-- ENABLE EDIT MODE -->
                    <button type="button" class="mrgn-all-xs" mat-raised-button mat-button-sm *ngIf="!row.edit"
                        secure-show [resource]="'ZinsReihe'" [privilege]="'UPDATE'" (click)="onEditInterestSeries(row)">
                        <mat-icon>create</mat-icon>
                    </button>

                    <!-- DELETE INTEREST SERIES -->
                    <button type="button" class="mrgn-all-xs" mat-raised-button mat-button-sm color="warn"
                        *ngIf="!row.edit" secure-show [resource]="'ZinsReihe'" [privilege]="'UPDATE'"
                        (click)=" deleteByID(row.id)">
                        <mat-icon>delete_forever</mat-icon>
                    </button>

                    <!-- UPDATE INTEREST SERIES -->
                    <button type="button" (click)="update(row)" class="mrgn-all-xs" mat-raised-button mat-button-sm
                        color="primary" *ngIf="row.edit" secure-show [resource]="'ZinsReihe'" [privilege]="'UPDATE'">
                        <mat-icon>save</mat-icon>
                    </button>

                    <!-- CANCEL MODIFICATIONS -->
                    <button type="button" class="mrgn-all-xs" mat-raised-button mat-button-sm color="warn" secure-show
                        [resource]="'ZinsReihe'" [privilege]="'UPDATE'" *ngIf="row.edit"
                        (click)="onCancelInterestSeries(row)">
                        <mat-icon>clear</mat-icon>
                    </button>
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>
    </mat-card-content>
</mat-card>