/deep/.ngx-datatable .datatable-row-wrapper:last-child{
    margin-bottom: 0px !important;
    border-bottom: none;
  }
  
  // Escape infinite scroll on firefox grid because of group header
  :host ::ng-deep .ngx-datatable .datatable-body .datatable-scroll {
    display: inherit;
  }
  
  :host ::ng-deep .ngx-datatable {
    box-shadow: none;
    margin: 0 !important;
  }

  /deep/ .grid-bold-header .datatable-header-cell-label {
    font-size: 13px !important;
    white-space: initial !important;
    font-weight: bold !important;
    color: #37474F !important;
  }
  
  /deep/ .cell-text-right .datatable-body-cell-label {
  text-align: right !important;
  }
  
  /deep/ .header-text-right .datatable-header-cell-template-wrap {
  text-align: right !important;
  }

  .margin-top-10 {
    margin-top: 10px;
  } 

  .filters-buffer {
    padding-top: 12px;
    padding-bottom: 12px;
  }