td{
    padding-bottom: 0px !important;
    padding-top: 0 !important;
}

.tdFont{
    font-weight: 700;
    color: grey;
}

.divMargin{
    margin-left: 5px;
    margin-top: 15px;
}

.divMargin1{
    margin-left: 5px;
}

.tableTotal{
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

.tableHeader1{
    padding-left: 8px !important;
    width: 100%;
    text-align: left;
    color: grey;
}

.tableHeader{
    color: grey;
    padding-right:8px;
}

.theadBroder {
    border: 1px solid #eee;
}

.tbodyBorder{
    border: 1px solid #eee;
}

.trTotal{
    background-color: #f5f5f5;
}

.tdTotal{
    padding-right: 8px !important;
    padding-left: 8px !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}

.tdTotalLink{
    color:#5757d6;
}

.tdLine{
    border-top: 2px solid;
}


/deep/ .cell-text-right .datatable-body-cell-label {
    text-align: right !important;
}

.info-card-labels-position {
    padding: 5px 0px 5px 0px !important;
    text-align: right !important;
}

/deep/ .loans-header .datatable-header-cell-label {
    font-size: 13px !important;
    // text-align: right !important;
}

/deep/.ngx-datatable .datatable-row-wrapper:last-child{
    margin-bottom: 0px !important;
}

/deep/ .mortgages-header .datatable-header-cell-label {
    font-size: 13px !important;
    white-space: initial !important;
    // text-align: right !important;
}

/deep/ .ngx-datatable.fixed-row .datatable-scroll .datatable-body-row .datatable-body-cell {
    white-space: initial !important;
}

.mortgages-group-header{
    margin-left: 20px;
    padding: 5px;
    font-weight: bold;
    font-size: 13px;
}

/deep/ .ngx-datatable .datatable-body .datatable-group-header {
    background-color: #dadada !important;
    width: unset !important;
}

/deep/ body .ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell {
    padding: 10px 19px; 
}
