<!-- Contact details -->

<div fxLayout="row wrap" fxLayoutAlign="start stretch" class="crm-stats-cards">
  <div fxFlex.gt-md="50" fxFlex.gt-sm="100" fxFlex="100">
    <mat-card>
      <div class="gene-card-title">
        <h4 class="mrgn-b-none">Contact details</h4>
      </div>
      <mat-divider></mat-divider>
      <div class="gene-card-content crm-list-wrap">
      </div>
      <table>
        <tr>
          <td class="tdFont">Name</td>
          <td>Banca Migros</td>
        </tr>
        <tr>
          <td class="tdFont">Adresse</td>
          <td>via Pretorio 7a, 6900 Lugano</td>
        </tr>
        <tr>
          <td class="tdFont">Email</td>
          <td>-</td>
        </tr>
        <tr>
          <td class="tdFont">Telefon Privat</td>
          <td>-</td>
        </tr>
        <tr>
          <td class="tdFont">Telefon Mobile</td>
          <td>-</td>
        </tr>
        <tr>
          <td class="tdFont">Telefon Geschäft</td>
          <td>+41848845400</td>
        </tr>
        <tr>
          <td class="tdFont">Kundenberater</td>
          <td>User mit Crm-Id: 1 noch nicht erfasst</td>
        </tr>
      </table>
    </mat-card>
  </div>
  <div fxFlex.gt-md="50" fxFlex.gt-sm="100" fxFlex="100">
    <mat-card>
      <div class="gene-card-title">
        <h4 class="mrgn-b-none">Rental income list</h4>
      </div>
      <mat-divider></mat-divider>
      <div class="gene-card-content crm-list-wrap">
      </div>
    </mat-card>
  </div>
</div>

<!-- Total credits offered -->

<div fxLayout="row wrap" fxLayoutAlign="start stretch" class="crm-stats-cards">
  <div fxFlex.gt-md="100" fxFlex.gt-sm="100" fxFlex="100">
    <mat-card>
      <div class="gene-card-title">
        <h4 class="mrgn-b-none">Total credits offered</h4>
      </div>
      <mat-divider></mat-divider>
      <div class="gene-card-content crm-list-wrap">
        <table clas="tableTotal">
          <thead class="theadBroder">
            <tr>
              <th class="tableHeader1">
                <span>Nesto</span>
              </th>
              <th class="tableHeader" fxLayoutAlign="end end">
                <span>Nesto</span>
              </th>
            </tr>
          </thead>
          <tbody class="tbodyBorder">
            <tr class="trTotal">
              <td class="tdTotal tdTotalLink">
                <a href="#">test test</a>
              </td>
              <td class="tdTotal tdTotalLink" fxLayoutAlign="end end">
                <a href="#">1'500'000</a>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td class="tdTotal tdFont tdLine">
                Total
              </td>
              <td class="tdTotal tdFont tdLine" fxLayoutAlign="end end">
                1'500'000
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </mat-card>
  </div>
</div>


<!--Mortgages-->
<div fxLayout="row wrap" fxLayoutAlign="start top">
  <div fxFlex.gt-sm="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card style="margin-bottom: 0px">
      <mat-card-title>Mortgages</mat-card-title>

      <div fxLayout="row wrap" fxLayoutAlign="start center">
        <div fxFlex.gt-md="25" fxFlex.gt-sm="40" fxFlex.gt-xs="100" fxFlex="100" style="margin: 10px 0px">
          <mat-checkbox>Show all years</mat-checkbox>
        </div>
      </div>
    </mat-card>

    <div>
      <ngx-datatable #mortgagesTable class='material mrgn-all-md mortgages-header' [columnMode]="'force'"
        [headerHeight]="60" [footerHeight]="0" [rowHeight]="'40'" [groupRowsBy]="'year'" [rows]='morgagesSampleData'
        [scrollbarH]="true" style="margin-top: 2px !important" [groupExpansionDefault]="true" [groupRowsBy]="'year'"
        [summaryRow]="" [summaryPosition]="" [summaryHeight]="'30'">

        <ngx-datatable-group-header [rowHeight]="50" #myGroupHeader>
          <ng-template let-group="group" let-expanded="expanded" ngx-datatable-group-header-template>
            <div class="mortgages-group-header">
              <span>Year: {{ group.value[0].year }}</span>
            </div>
          </ng-template>
        </ngx-datatable-group-header>

        <ngx-datatable-column name="Property eligible for financing" [resizeable]="false" [width]="300">
          <ng-template let-value="row.financingProperty" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Credit volume (CHF)" [resizeable]="false" [width]="160" prop="credit"
          [summaryFunc]="" cellClass="cell-text-right">
          <ng-template let-value="row.credit" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Product" [resizeable]="false" [width]="180">
          <ng-template let-value="row.product" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Interest term" [resizeable]="false" [width]="120">
          <ng-template let-value="row.interestTerm" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Remaining time" [resizeable]="false" [width]="200">
          <ng-template let-value="row.remaningTime" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Nominal interest rate (%)" [resizeable]="false" [width]="100"
          cellClass="cell-text-right">
          <ng-template let-value="row.nominalInterest" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Interest rate (%)" [resizeable]="false" [width]="100" prop="interestRate"
          [summaryFunc]="" cellClass="cell-text-right">
          <ng-template let-value="row.interestRate" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Binding" [resizeable]="false" [width]="120">
          <ng-template let-value="row.binding" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Interest per year (CHF)" [resizeable]="false" [width]="100" prop="interestPerYear"
          [summaryFunc]="" cellClass="cell-text-right">
          <ng-template let-value="row.interestPerYear" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Lender" [resizeable]="false" [width]="200">
          <ng-template let-value="row.lender" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>

  </div>
</div>

<!--Overdue mortgages-->
<div fxLayout="row wrap" fxLayoutAlign="start top">
  <div fxFlex.gt-sm="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card style="margin-bottom: 0px">
      <mat-card-title>Overdue mortgages</mat-card-title>
      <!-- <mat-divider></mat-divider> -->
      <!-- <div fxLayout="row wrap" fxLayoutAlign="center center" style="padding-top: 15px">
          <span><strong>No entries available</strong></span>
        </div> -->
    </mat-card>

    <div>
      <ngx-datatable #mortgagesTable class='material mrgn-all-md mortgages-header' [columnMode]="'force'"
        [headerHeight]="50" [footerHeight]="0" [rowHeight]="'40'" [groupRowsBy]="'year'" [rows]='morgagesSampleData'
        [scrollbarH]="true" style="margin-top: 2px !important" [groupExpansionDefault]="true" [groupRowsBy]="'year'"
        [summaryRow]="" [summaryPosition]="" [summaryHeight]="'30'">

        <ngx-datatable-group-header [rowHeight]="50" #myGroupHeader>
          <ng-template let-group="group" let-expanded="expanded" ngx-datatable-group-header-template>
            <div class="mortgages-group-header">
              <span>Year: {{ group.value[0].year }}</span>
            </div>
          </ng-template>
        </ngx-datatable-group-header>

        <ngx-datatable-column name="Property eligible for financing" [resizeable]="false" [width]="500">
          <ng-template let-value="row.financingProperty" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Credit volume (CHF)" [resizeable]="false" [width]="180" prop="credit"
          [summaryFunc]="" cellClass="cell-text-right">
          <ng-template let-value="row.credit" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Product" [resizeable]="false" [width]="250">
          <ng-template let-value="row.product" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Interest term" [resizeable]="false" [width]="200">
          <ng-template let-value="row.interestTerm" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Binding" [resizeable]="false" [width]="200">
          <ng-template let-value="row.binding" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Lender" [resizeable]="false" [width]="250">
          <ng-template let-value="row.lender" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>

  </div>
</div>

<!--Reserved mortgages and Open limits-->
<div fxLayout="row wrap" fxLayoutAlign="start top">

  <!--Reserved mortgages-->
  <div fxFlex.gt-xs="100" fxFlex.gt-sm="100" fxFlex.gt-lg="50" fxFlex="100">
    <mat-card style="margin-bottom: 0px">
      <mat-card-title>Reserved mortgages</mat-card-title>
      <!-- <mat-divider></mat-divider>
    <div fxLayout="row wrap" fxLayoutAlign="center center" style="padding-top: 15px">
      <span><strong>No entries available</strong></span>
    </div> -->
    </mat-card>

    <div>
      <ngx-datatable #mortgagesTable class='material mrgn-all-md grid-bold-header' [columnMode]="'force'"
        [headerHeight]="'auto'" [footerHeight]="0" [rowHeight]="'auto'" [groupRowsBy]="'year'"
        [rows]='morgagesSampleData' [scrollbarH]="true" style="margin-top: 2px !important"
        [groupExpansionDefault]="true" [groupRowsBy]="'year'">

        <ngx-datatable-group-header [rowHeight]="'auto'" #myGroupHeader>
          <ng-template let-group="group" let-expanded="expanded" ngx-datatable-group-header-template>
            <div class="mortgages-group-header">
              <span>Year: {{ group.value[0].year }}</span>
            </div>
          </ng-template>
        </ngx-datatable-group-header>

        <ngx-datatable-column name="Property eligible for financing" [resizeable]="false" [width]="200">
          <ng-template let-value="row.financingProperty" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Product" [resizeable]="false" [canAutoResize]="false" [width]="175">
          <ng-template let-value="row.product" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Binding" [resizeable]="false" [canAutoResize]="false" [width]="110">
          <ng-template let-value="row.binding" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Interest per year (CHF)" [resizeable]="false" [canAutoResize]="false" [width]="110"
          headerClass="header-text-right" cellClass="cell-text-right">
          <ng-template let-value="row.interestPerYear" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Lender" [resizeable]="false" [canAutoResize]="false" [width]="175">
          <ng-template let-value="row.lender" ngx-datatable-cell-template>
            {{ value }}
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>

  </div>


  <!--Open limits-->
  <div fxFlex.gt-sm="50" fxFlex.gt-md="50" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card style="margin-bottom: 0px">
      <mat-card-title>Open limits</mat-card-title>
    </mat-card>

    <div>
      <ngx-datatable #mortgagesTable class='material mrgn-all-md mortgages-header' [columnMode]="'force'"
        [headerHeight]="50" [footerHeight]="0" [rowHeight]="'40'" [groupRowsBy]="'year'" [rows]='morgagesSampleData'
        [scrollbarH]="true" style="margin-top: 2px !important" [groupExpansionDefault]="true" [groupRowsBy]="'year'"
        [summaryRow]="" [summaryPosition]="" [summaryHeight]="'30'">

        <ngx-datatable-column name="Credit volume (CHF)" [resizeable]="false" [width]="150" prop="credit"
          [summaryFunc]="" cellClass="cell-text-right">
          <ng-template let-value="row.credit" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Lender" [resizeable]="false" [width]="200">
          <ng-template let-value="row.lender" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Remarks" [resizeable]="false" [width]="330">
          <ng-template let-value="row.remarks" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
        </ngx-datatable-column>

      </ngx-datatable>
    </div>

  </div>
</div>


<!--Retros of the  customer-->
<div fxLayout="row wrap" fxLayoutAlign="start top">
  <div fxFlex.gt-md="100" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card>
      <mat-card-title>Retros of the customer</mat-card-title>
      <mat-divider></mat-divider>
      <div fxLayout="row wrap" fxLayoutAlign="center center" style="padding-top: 15px">
        <span><strong>No entries available</strong></span>
      </div>
    </mat-card>
  </div>
</div>