<div class="gene-card-content pad-t-none">
  <mat-card fxFlex="100%">
    <div class="gene-card-title">
      <mat-divider></mat-divider>
    </div>
    <div class="gene-card-content">
      <form [formGroup]="form">
        <!--Name-->
        <div fxLayout="row wrap" fxLayoutAlign="space-between center">
          <div fxFlex.gt-sm="99" fxFlex.gt-xs="99" fxFlex="100">
            <mat-form-field class="full-wid mrgn-b-md">
              <input matInput placeholder='{{"placeholder_name" | translate}}' formControlName="name">
            </mat-form-field>
            <small class="gene-block"
              *ngIf="form.controls['name'].hasError('required') && form.controls['name'].touched" class="warn-text">
              {{'please_enter_a_name' | translate}}
            </small>
            <small class="gene-block"
              *ngIf="form.controls['name'].hasError('minlength') && form.controls['name'].touched" class="warn-text">
              Name must be at least 5 characters long.
            </small>
            <small class="gene-block"
              *ngIf="form.controls['name'].hasError('maxlength') && form.controls['name'].touched" class="warn-text">
              Name cannot exceed 10 characters.
            </small>
          </div>
        </div>

        <!--Permissions-->
        <div fxLayout="row wrap" fxLayoutAlign="space-between center">
          <div fxFlex.gt-sm="99" fxFlex.gt-xs="99" fxFlex="100">
            <h5>{{'users_permissions' | translate}}</h5>
            <mat-progress-bar mode="determinate" [value]="determinateValue" color="primary" class="mrgn-b-md">
            </mat-progress-bar>
          </div>
        </div>

        <!--Role permissions-->
        <div fxLayout="row wrap" fxLayoutAlign="space-between center">
          <div fxFlex.gt-sm="99" fxFlex.gt-xs="99" fxFlex="100">
            <ngx-datatable class='material mrgn-all-md' [columnMode]="'force'" [headerHeight]="50"
              [footerHeight]="0" [rowHeight]="'auto'" [rows]='adaptedMatrix' [scrollbarH]="true">
              <ngx-datatable-column [resizeable]="false" [draggable]="false" name="Name" prop="name" [width]="250">
              </ngx-datatable-column>
              <ngx-datatable-column *ngFor="let operation of adaptedOperations" [resizeable]="false" [draggable]="false" name="{{operation.name}}" prop="Create">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  <mat-checkbox [checked]="row.ops[operation.name].checked" (change)="row.ops[operation.name].checked = !row.ops[operation.name].checked">{{operation.name}}</mat-checkbox>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
        </div>

        <div class="pad-wrap">
          <mat-card-actions>
            <button mat-raised-button color="primary" (click)="save()" [disabled]="!form.valid">{{'save' | translate}}</button>
            <button class="mrgn-all-xs" (click)="goBack()" color="default"
              mat-raised-button>{{'cancel' | translate}}</button>
          </mat-card-actions>
        </div>
      </form>
    </div>
  </mat-card>
</div>