<div fxLayout="row wrap" fxLayoutAlign=" start" class="gene-form-wizard">
  <mat-card fxFlex="100%">
    <div class="gene-card-title">
      <div fxLayout="row" fxLayoutAlign="start center">
        <div fxLayout="column">
          <mat-card-title>{{'mietertrag_new' | translate}}</mat-card-title>
        </div> <span fxFlex></span>
      </div>
      <mat-divider></mat-divider>
    </div>
    <div class="gene-card-content">
      <form [formGroup]="form">
        <div fxLayout="row wrap" fxLayoutAlign="space-between center">
          <div fxFlex.gt-md="48" fxFlex.gt-sm="100" fxFlex.gt-xs="100">
            <mat-form-field class="full-wid">
              <input matInput [matDatepicker]="myDatepicker" placeholder="{{'mietertrag_valid' | translate}}"
                formControlName="activatedSince">
              <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
              <mat-datepicker #myDatepicker></mat-datepicker>
              <mat-error *ngIf="form.controls['activatedSince'].touched && !form.controls['activatedSince'].valid">
                <mat-error *ngIf="form.controls['activatedSince'].hasError('required')" class="required alert-error">
                  {{ 'val_date' | translate }}
                </mat-error>
              </mat-error>
            </mat-form-field>
          </div>
          <div fxFlex.gt-md="48" fxFlex.gt-sm="100" fxFlex.gt-xs="100">
            <mat-form-field class="full-wid">
              <input matInput type="number" (keypress)="numberOnly($event)" placeholder="{{'objekt_mietertrag' | translate}}" formControlName="rentalIncome">
              <mat-error *ngIf="form.controls['rentalIncome'].touched && !form.controls['rentalIncome'].valid">
                <mat-error *ngIf="form.controls['rentalIncome'].hasError('required')" class="required alert-error">
                  {{ 'val_positive_number' | translate }}
                </mat-error>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <!--Form buttons save and cancel -->
      </form>
    </div>
  </mat-card>
</div>


<!--Buttons-->
<div class="buttons-md">
  <div class="buttons-md1">
    <button class="mat-raised-button" (click)="goBack()" mat-raised-button>
      <mat-icon>chevron_left</mat-icon>{{'Cancel' | translate}}
    </button>

    <button class="mat-raised-button" color="primary" [disabled]="!form.valid" mat-raised-button
      (click)=" submitForm()">
      <mat-icon>create</mat-icon>{{'Save' | translate}}
    </button>
  </div>
</div>