<h2 mat-dialog-title>{{ title }}</h2>

<mat-dialog-content>
	<p>{{ data }}</p>
</mat-dialog-content>

<mat-dialog-actions align="right">
	<button mat-raised-button (click)="dialogRef.close()" color="warn">{{ 'no' | translate }}</button>
	<button class="yes-button" mat-raised-button (click)="yes()"> {{ 'yes' | translate }} </button>
</mat-dialog-actions>