<!--TABS-->
<div class="gene-card-content">
    <mat-tab-group mat-stretch-tabs>

      <mat-tab>
        <ng-template mat-tab-label class="position-relative">
          <span class="position-absolute tab-label-icon-padding-bot">
            <mat-icon>attach_money
              </mat-icon>
          </span>
          <span class="position-absolute tab-label-text-padding-top">
            <p>{{ 'tab_billable' | translate | titlecase }}</p>
          </span>
        </ng-template>
        <div class="pad-t-md pad-b-md">
          <ms-commisions-billable></ms-commisions-billable>
        </div>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label class="position-relative">
          <span class="position-absolute tab-label-icon-padding-bot">
            <mat-icon>search</mat-icon>
          </span>
          <span class="position-absolute tab-label-text-padding-top">
            <p>{{ 'tab_open' | translate | titlecase }}</p>
          </span>
        </ng-template>
        <div class="pad-t-md pad-b-md">
         <ms-commisions-open></ms-commisions-open>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>