.position-absolute {
    position: absolute !important;
}

.position-relative {
    position: relative !important;
}

.tab-label-icon-padding-bot {
    padding-bottom: 20px !important;
}

.tab-label-text-padding-top {
    padding-top: 35px !important;
}
