<div fxLayout="row wrap" fxLayoutAlign="start center">
	<div fxFlex.gt-xs="100" fxFlex="100">
		<mat-card>
			<mat-card-title>{{'hypo_details_credit' | translate | capitalizeFirst}}</mat-card-title>
			<mat-divider></mat-divider>
			<div class="gene-card-content">

				<div fxLayout="row wrap" fxLayoutAlign="start center" class="pdng-btm-5">
					<div fxFlex.gt-xs="15" fxFlex="100">
						<label class="tdFont">{{'hypothek_gesamtkredit' | translate | capitalizeFirst}}</label>
					</div>
					<div fxFlex.gt-xs="85" fxFlex="100">
						<label *ngIf="mortgage">{{getTotalCredit(mortgage.totalCredit)}}</label>
					</div>
				</div>

				<div fxLayout="row wrap" fxLayoutAlign="start center" class="pdng-btm-5">
					<div fxFlex.gt-xs="15" fxFlex="100">
						<label class="tdFont">{{'hypothek_produkttyp' | translate | capitalizeFirst}}</label>
					</div>
					<div fxFlex.gt-xs="85" fxFlex="100">
						<label *ngIf="mortgage">{{mortgage.productType | translate}}</label>
					</div>
				</div>

				<div fxLayout="row wrap" fxLayoutAlign="start center" class="pdng-btm-5">
					<div fxFlex.gt-xs="15" fxFlex="100">
						<label class="tdFont">{{'hypo_details_closure_type' | translate | capitalizeFirst}}</label>
					</div>
					<div fxFlex.gt-xs="85" fxFlex="100">
						<label *ngIf="mortgage">{{mortgage.termination | translate}}</label>
					</div>
				</div>

				<div fxLayout="row wrap" fxLayoutAlign="start center" class="pdng-btm-5">
					<div fxFlex.gt-xs="15" fxFlex="100">
						<label class="tdFont">{{'hypothek_kontonummer' | translate | capitalizeFirst}}</label>
					</div>
					<div fxFlex.gt-xs="85" fxFlex="100">
						<label *ngIf="mortgage">{{mortgage.accountNumber || '-'}}</label>
					</div>
				</div>

				<div fxLayout="row wrap" fxLayoutAlign="start top" class="pdng-btm-5">
					<div fxFlex.gt-xs="15" fxFlex="100">
						<label class="tdFont">{{'hypothek_volumen' | translate | capitalizeFirst}}</label>
					</div>
					<div fxFlex.gt-xs="85" fxFlex="100">
						<!-- Volume grid -->

						<ngx-datatable *ngIf="mortgageVolume.length > 0" class='material mrgn-all-md grid-bold-header' [columnMode]="'force'"
									   [headerHeight]="'auto'" [footerHeight]="'0'" [rowHeight]="'auto'" [rows]='mortgageVolume' [scrollbarH]="false">
							<ngx-datatable-column [sortable]="false" name="{{'vol_header_date' | translate}}">
								<ng-template let-value="row.date" ngx-datatable-cell-template>
									{{'filter_from' | translate}} {{ value | date:'dd.MM.yyyy' }}
								</ng-template>
							</ngx-datatable-column>
							<ngx-datatable-column [sortable]="false" name="{{'vol_header_volume' | translate}}">
								<ng-template let-value="row.volume" ngx-datatable-cell-template>
									{{ value | currency:'':'':'0.0-0':'de-CH'}}
								</ng-template>
							</ngx-datatable-column>
							<ngx-datatable-column [sortable]="false" name="{{'vol_header_paid' | translate}}">
								<ng-template let-value="row.loanAmountPaid" ngx-datatable-cell-template>
									{{ value | currency:'':'':'0.0-0':'de-CH'}}
								</ng-template>
							</ngx-datatable-column>
							<ngx-datatable-column [sortable]="false" name="{{'vol_header_perc' | translate}}">
								<ng-template let-value="row.interestOnTheLoan" ngx-datatable-cell-template>
									{{ value | currency:'':'':'0.0-0':'de-CH'}}
								</ng-template>
							</ngx-datatable-column>
						</ngx-datatable>
						<span *ngIf="mortgageVolume.length === 0">-</span>


					</div>
				</div>

				<div fxLayout="row wrap" fxLayoutAlign="start top" class="pdng-btm-5">
					<div fxFlex.gt-xs="15" fxFlex="100">
						<label class="tdFont">{{'hypothek_zinslaufzeit' | translate | capitalizeFirst}}</label>
					</div>
					<div fxFlex.gt-xs="85" fxFlex="100">

						<!-- Interest and term table -->
						<ngx-datatable *ngIf="mortgageInterestMaturities.length > 0"
									   class='material mrgn-all-md grid-bold-header' [columnMode]="'force'"
									   [headerHeight]="'auto'" [footerHeight]="'0'" [rowHeight]="'auto'" [rows]='mortgageInterestMaturities' [scrollbarH]="false">

							<ngx-datatable-column [sortable]="false" name="{{'eval_interest_term' | translate}}">
								<ng-template let-value="row" ngx-datatable-cell-template>
									{{formatDateRange(value)}}
								</ng-template>
							</ngx-datatable-column>
							<ngx-datatable-column [sortable]="false" name="{{'interest_rate_perc' | translate}}">
								<ng-template let-value="row.interest" ngx-datatable-cell-template>
									{{value}}
								</ng-template>
							</ngx-datatable-column>
							<ngx-datatable-column [sortable]="false" name="{{'hypo_details_remarks' | translate}}">
								<ng-template let-value="row.remark" ngx-datatable-cell-template>
									{{ value }}
								</ng-template>
							</ngx-datatable-column>

						</ngx-datatable>
						<span *ngIf="mortgageInterestMaturities.length === 0">-</span>

					</div>
				</div>

				<div *ngIf="mortgage && mortgage.productType === 'VARIABLE_HYPOTHEK'"
					 fxLayout="row wrap" fxLayoutAlign="start center" class="pdng-btm-5">
					<div fxFlex.gt-xs="15" fxFlex="100">
						<label class="tdFont">{{'hypo_details_notice_term' | translate | capitalizeFirst}}</label>
					</div>
					<div fxFlex.gt-xs="85" fxFlex="100">
						<!--TO DO from number get months and year-->
						<label>  </label>
					</div>
				</div>

				<div *ngIf="mortgage && mortgage.productType === 'LIBOR_HYPOTHEK'" fxLayout="row wrap" fxLayoutAlign="start center" class="pdng-btm-5">
					<div fxFlex.gt-xs="15" fxFlex="100">
						<label class="tdFont">{{'hypothek_rahmenlaufzeit' | translate | capitalizeFirst}}</label>
					</div>
					<div fxFlex.gt-xs="85" fxFlex="100">
						<label *ngIf="mortgage">{{ formatDateRange(mortgage.frameterm) }}</label>
					</div>
				</div>

				<div fxLayout="row wrap" fxLayoutAlign="start center" class="pdng-btm-5">
					<div fxFlex.gt-xs="15" fxFlex="100">
						<label class="tdFont">{{'zins_usanz' | translate | capitalizeFirst}}</label>
					</div>
					<div fxFlex.gt-xs="85" fxFlex="100">
						<label *ngIf="mortgage && mortgage.interestRateType">{{ 'zins_usanz_'+mortgage.interestRateType.toLowerCase() | translate}}</label>
						<label *ngIf="mortgage && !mortgage.interestRateType">-</label>
					</div>
				</div>

				<div fxLayout="row wrap" fxLayoutAlign="start center" class="pdng-btm-5">
					<div fxFlex.gt-xs="15" fxFlex="100">
						<label class="tdFont">{{'hypo_details_pay_type' | translate | capitalizeFirst}}</label>
					</div>
					<div fxFlex.gt-xs="85" fxFlex="100">
						<label *ngIf="mortgage && mortgage.interestChargeType && mortgage.interestChargeType.toLowerCase() === 'bestandes'">
							{{'hypo_details_total' | translate | capitalizeFirst}}
						</label>
						<label *ngIf="mortgage && mortgage.interestChargeType && mortgage.interestChargeType.toLowerCase() === 'entwicklung'">
							{{'hypo_details_dev' | translate | capitalizeFirst}}
						</label>
						<label *ngIf="mortgage && !mortgage.interestChargeType">-</label>
					</div>
				</div>

				<div fxLayout="row wrap" fxLayoutAlign="start center" class="pdng-btm-5">
					<div fxFlex.gt-xs="15" fxFlex="100">
						<label class="tdFont">{{'hypothek_zinsfaelligkeit' | translate | capitalizeFirst}}</label>
					</div>
					<div fxFlex.gt-xs="85" fxFlex="100">
						<span *ngIf="mortgage && mortgage.zinsFaelligkeit && (mortgage.zinsFaelligkeit.start || mortgage.zinsFaelligkeit.intervalInMonths)">
							<span *ngIf="mortgage.zinsFaelligkeit.intervalInMonths === 1">
								{{'reg_payments_every_month' | translate}}
								<span *ngIf="mortgage.zinsFaelligkeit.start"> {{'filter_starting_from' | translate}} {{mortgage.zinsFaelligkeit.start|date:'dd.MM.YYYY'}}</span>
							</span>
							<span *ngIf="mortgage.zinsFaelligkeit.intervalInMonths > 1">
								{{'reg_payments_all' | translate}}
								<!--TO DO check missing end date-->
								{{mortgage.zinsFaelligkeit.intervalInMonaten ? mortgage.zinsFaelligkeit.intervalInMonaten : '-'}} {{'months' | translate}}
							</span>

						</span>
						<!-- <span *ngIf="bind && (bind.start || bind.intervalInMonaten || bind.betrag)">-</span> 
						TODO: Mile C. has to get back to this  -->
					</div>
				</div>

				<div fxLayout="row wrap" fxLayoutAlign="start center" class="pdng-btm-5">
					<div fxFlex.gt-xs="15" fxFlex="100">
						<label class="tdFont">{{'hypothek_marge' | translate | capitalizeFirst}}</label>
					</div>
					<div fxFlex.gt-xs="85" fxFlex="100">
						<label *ngIf="mortgage && mortgage.marge">{{mortgage.marge.toFixed(3)}} %</label>
						<label *ngIf="mortgage && !mortgage.marge">-</label>
					</div>
				</div>

				<div fxLayout="row wrap" fxLayoutAlign="start center" class="pdng-btm-5">
					<div fxFlex.gt-xs="15" fxFlex="100">
						<label class="tdFont">{{'Status' | translate | capitalizeFirst}}</label>
					</div>
					<div fxFlex.gt-xs="85" fxFlex="100">
						<label *ngIf="mortgage && !mortgage.deactivatedSince">
							{{'hypo_details_hypo_activ' | translate | capitalizeFirst}}
						</label>
						<label *ngIf="mortgage && mortgage.deactivatedSince">
							<span>{{'Deaktiviert zum' | translate | capitalizeFirst}}</span>
							{{ mortgage.deactivatedSince | date:'dd.MM.yyyy' }}
							<!--TO DO check for value restVolume  can't find in mortgage object-->
							<span *ngIf="mortgage.restVolume">
								<span *ngIf="mortgage.restVolume > 0">{{'hypo_details_hypo_deactiv' | translate | capitalizeFirst}}</span>
								<span *ngIf="mortgage.restVolume <= 0">{{'hypo_details_hypo_deactiv_ammo' | translate | capitalizeFirst}}</span>
							</span>
						</label>
					</div>
				</div>

			</div>
		</mat-card>
	</div>
</div>

<div fxLayout="row wrap" fxLayoutAlign="start center">
	<div fxFlex.gt-xs="100" fxFlex="100">
		<mat-card style="margin-bottom: 0px">
			<mat-card-title>{{'hypo_details_reg_ammo' | translate | capitalizeFirst}}</mat-card-title>

			<div fxLayout="row wrap" *ngIf="mortgage && mortgage.regularAmortisationsRemarks" fxLayoutAlign="start center" class="pdng-btm-5">
				<div fxFlex.gt-xs="15" fxFlex="100">
					<label class="tdFont">{{'hypothek_regulaereamortisation_bemerkungen' | translate | capitalizeFirst}}</label>
				</div>
				<div fxFlex.gt-xs="85" fxFlex="100">
					<label *ngIf="mortgage">{{mortgage.regularAmortisationsRemarks}}</label>
				</div>
			</div>

			<div fxLayout="row wrap" fxLayoutAlign="center center" style="padding-top: 15px"
				 *ngIf="regularAmortizations.length == 0">
				<span><strong>{{'general_no_data_available' | translate | capitalizeFirst}}</strong></span>
			</div>
		</mat-card>

		<!-- Regular amortization table -->
		<ngx-datatable *ngIf="regularAmortizations.length > 0"
					   class='material mrgn-all-md grid-bold-header' [columnMode]="'force'"
					   [headerHeight]="'auto'" [footerHeight]="'0'" [rowHeight]="'auto'"
					   [rows]='regularAmortizations' [scrollbarH]="false">

			<ngx-datatable-column [sortable]="false" name="{{'reg_ammo_duration' | translate}}">
				<ng-template let-value="row" ngx-datatable-cell-template>
					{{formatDateRange(value)}}
				</ng-template>
			</ngx-datatable-column>
			<ngx-datatable-column [sortable]="false" name="{{'reg_ammo_quantity' | translate}}">
				<ng-template let-value="row.interest" ngx-datatable-cell-template>
					{{value}}
				</ng-template>
			</ngx-datatable-column>
			<ngx-datatable-column [sortable]="false" name="{{'reg_ammo_interval' | translate}}">
				<ng-template let-value="row.remark" ngx-datatable-cell-template>
					{{ value }}
				</ng-template>
			</ngx-datatable-column>

		</ngx-datatable>

	</div>
</div>

<div fxLayout="row wrap" fxLayoutAlign="start center">
	<div fxFlex.gt-xs="100" fxFlex="100">
		<mat-card>
			<mat-card-title>{{'hypo_details_retro' | translate | capitalizeFirst}}</mat-card-title>
			<mat-divider></mat-divider>
			<div class="gene-card-content">

				<div fxLayout="row wrap" fxLayoutAlign="start center" class="pdng-btm-5">
					<div fxFlex.gt-xs="15" fxFlex="100">
						<label class="tdFont">Unique retro</label>
					</div>
					<div fxFlex.gt-xs="85" fxFlex="100">
						<label>-</label>
					</div>
				</div>

				<div fxLayout="row wrap" fxLayoutAlign="start center" class="pdng-btm-5">
					<div fxFlex.gt-xs="15" fxFlex="100">
						<label class="tdFont">Recurring retro</label>
					</div>
					<div fxFlex.gt-xs="85" fxFlex="100">
						<label>-</label>
					</div>
				</div>

			</div>
		</mat-card>
	</div>
</div>

<div fxLayout="row wrap" fxLayoutAlign="start center">
	<div fxFlex.gt-xs="100" fxFlex.gt-sm="100" fxFlex.gt-md="{{isClient ? 100: 50}}" fxFlex="100">
		<mat-card>
			<mat-card-title>{{'hypo_details_remarks' | translate | capitalizeFirst}}</mat-card-title>
			<mat-divider></mat-divider>
			<div class="gene-card-content">
				<span *ngIf="mortgage && mortgage.remarks">{{mortgage.remarks}}</span>
				<span *ngIf="mortgage && !mortgage.remarks">-</span>
			</div>
		</mat-card>
	</div>
	<div *ngIf="!isClient" fxFlex.gt-xs="100" fxFlex.gt-sm="100" fxFlex.gt-md="50" fxFlex="100">
		<mat-card>
			<mat-card-title>{{'hypo_details_internal_remarks' | translate | capitalizeFirst}}</mat-card-title>
			<mat-divider></mat-divider>
			<div class="gene-card-content">
				<span *ngIf="mortgage && mortgage.internalComments">{{mortgage.internalComments}}</span>
				<span *ngIf="mortgage && !mortgage.internalComments">-</span>
			</div>
		</mat-card>
	</div>
</div>