.tdFont{
  font-weight: 700;
  color: grey;
}

.pdng-btm-5 {
    padding-bottom: 5px !important;
}

/deep/.ngx-datatable .datatable-row-wrapper:last-child{
  margin-bottom: 0px !important;
  border-bottom: none;
}
  
/deep/ .ngx-datatable .datatable-footer {
  display: none !important;
}
  
  // Escape infinite scroll on firefox grid because of group header
:host ::ng-deep .ngx-datatable .datatable-body .datatable-scroll {
  display: inherit;
}

/deep/ .header-text-right .datatable-header-cell-template-wrap {
    text-align: right !important;
}
  
/deep/ .cell-text-right .datatable-body-cell-label {
    text-align: right !important;
}

/deep/ .grid-bold-header .datatable-header-cell-label {
  font-size: 13px !important;
  white-space: initial !important;
  font-weight: bold !important;
  color: #37474F !important;
}

.grid-header-font-style {
    font-size: 13px !important;
    font-weight: bold !important;
    color: #37474F !important; 
}

.mobile-grid-list-header {
  width: 140px !important;
  display: inline-block;
}
  
//Grid responsive breakpoints
@media screen and (max-width: 800px) {
    .desktop-hidden {
      display: initial;
    }
    .mobile-hidden {
      display: none;
    }
}
@media screen and (min-width: 800px) {
    .desktop-hidden {
      display: none;
    }
    .mobile-hidden {
      display: initial;
    }
}