<div fxLayout="row wrap" fxLayoutAlign="start top">
  <div fxFlex.gt-xs="100" fxFlex="100">
    <mat-card>
      <mat-card-title>Interest History</mat-card-title>
      <mat-divider></mat-divider>
      <mat-card-content>
        <div class="gene-card-content" *ngIf="showChart">
          <canvas baseChart height="80" [datasets]="lineChartSteppedData" [labels]="lineChartLabels"
            [options]="lineChartOptions" [legend]="lineChartLegend" [chartType]="lineChartType">
          </canvas>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="start center">
          <div fxFlex.gt-xs="98" fxFlex.gt-sm="48" fxFlex.gt-md="25" fxFlex="100" fxFlexOffset="2">
            <mat-form-field>
              <input matInput [matDatepicker]="" placeholder="Choose date from">
              <mat-datepicker-toggle matSuffix [for]=""></mat-datepicker-toggle>
              <mat-datepicker #startDateResidual></mat-datepicker>
            </mat-form-field>
          </div>
          <div fxFlex.gt-xs="98" fxFlex.gt-sm="48" fxFlex.gt-md="25" fxFlex="100" fxFlexOffset="2">
            <mat-form-field>
              <input matInput [matDatepicker]="" placeholder="Choose date until">
              <mat-datepicker-toggle matSuffix [for]=""></mat-datepicker-toggle>
              <mat-datepicker #endDateResidual></mat-datepicker>
            </mat-form-field>
          </div>
          <div fxFlex.gt-xs="98" fxFlex.gt-sm="98" fxFlex.gt-md="20" fxFlex="100" fxFlexOffset="2">
            <mat-checkbox>Stairway</mat-checkbox>
          </div>
          <div fxFlex.gt-xs="98" fxFlex.gt-sm="98" fxFlex.gt-md="20" fxFlex="100" fxFlexOffset="2">
            <mat-checkbox>Mortgage reference rate</mat-checkbox>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div fxLayout="row wrap" fxLayoutAlign="start top">
  <div fxFlex.gt-xs="100" fxFlex="100">
    <mat-card>
      <mat-card-title>Residual volume History</mat-card-title>
      <mat-divider></mat-divider>
      <mat-card-content>
        <div class="gene-card-content" *ngIf="showChart">
          <canvas baseChart height="80" [datasets]="lineChartSteppedData" [labels]="lineChartLabels"
            [options]="lineChartOptions" [legend]="lineChartLegend" [chartType]="lineChartType">
          </canvas>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="start center">
          <div fxFlex.gt-xs="98" fxFlex.gt-sm="48" fxFlex.gt-md="25" fxFlex="100" fxFlexOffset="2">
            <mat-form-field>
              <input matInput [matDatepicker]="startDateResidual" placeholder="Choose date from">
              <mat-datepicker-toggle matSuffix [for]="startDateResidual"></mat-datepicker-toggle>
              <mat-datepicker #startDateResidual></mat-datepicker>
            </mat-form-field>
          </div>
          <div fxFlex.gt-xs="98" fxFlex.gt-sm="48" fxFlex.gt-md="25" fxFlex="100" fxFlexOffset="2">
            <mat-form-field>
              <input matInput [matDatepicker]="endDateResidual" placeholder="Choose date until">
              <mat-datepicker-toggle matSuffix [for]="endDateResidual"></mat-datepicker-toggle>
              <mat-datepicker #endDateResidual></mat-datepicker>
            </mat-form-field>
          </div>
          <div fxFlex.gt-xs="98" fxFlex.gt-sm="98" fxFlex.gt-md="25" fxFlex="100" fxFlexOffset="2">
            <mat-checkbox>Stairway</mat-checkbox>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>