<form [formGroup]="ordersForm" (ngSubmit)="onSubmit()" fxLayout="row wrap" fxLayoutAlign="start stretch" class="crm-stats-cards">
  <!-- Details -->
  <div fxFlex.gt-md="50" fxFlex.gt-sm="100" fxFlex="100">
    <mat-card class="overflow">
      <div class="gene-card-title">
        <h4 class="mrgn-b-none">{{ 'details' | translate }}</h4>
      </div>
      <mat-divider></mat-divider>
      <div class="gene-card-content crm-list-wrap">
      </div>
      <table>
        <tr>
          <td class="tdFont">{{ 'auftrag_nummer' | translate }}</td>
          <td>{{ assignmentData.assignmentNumber }}</td>
        </tr>
        <tr>
          <td class="tdFont">{{ 'kontakt' | translate }}</td>
          <td>{{ assignmentData.contact }}</td>
        </tr>
        <tr>
          <td class="tdFont">{{ 'auftrag_verantwortlicher' | translate }}</td>
          <td>{{ assignmentData.firstName }}</td>
        </tr>
        <tr>
          <td class="tdFont">{{ 'auftrag_typ' | translate }}</td>
            <ng-select [items]="type"
                        bindLabel="name"
                        bindValue="id"
                        [multiple]="true"
                        placeholder="{{'auftrag_typ' | translate}}"
                        name="type"
                        formControlName="type"
                        class="w-95">
            </ng-select>
        </tr>
        <tr>
          <td class="tdFont">{{ 'auftrag_bemerkung' | translate }}</td>
          <td>{{ assignmentData.comment }}</td>
        </tr>
      </table>
    </mat-card>
  </div>
  <!-- Details end -->
  <!-- Fee section start -->
  <div fxFlex.gt-md="50" fxFlex.gt-sm="100" fxFlex="100">
    <!-- Fee basis -->
    <mat-card class="overflow">
      <div class="gene-card-title">
        <h4 class="mrgn-b-none">{{ 'auftrag_kredite_titel' | translate }}</h4>
      </div>
      <mat-divider></mat-divider>
      <div class="gene-card-content crm-list-wrap">
        <table>
          <tr>
            <td class="tdFont">{{ 'auftrag_kredite' | translate }}</td>
            <td class="inputWidth">
              <ng-select [items]="totalLoans"
                          bindLabel="name"
                          bindValue="id"
                          [multiple]="true"
                          name="totalLoans"
                          formControlName="totalLoans"
                          placeholder="{{'auftrag_kredite' | translate}}">
              </ng-select>
            </td>
          </tr>
        </table>
      </div>
    </mat-card>
    <!-- Fee type -->
    <mat-card>
      <div class="gene-card-title">
        <h4 class="mrgn-b-none">{{ 'auftrag_zahlung' | translate }}</h4>
      </div>
      <mat-divider></mat-divider>
      <div class="gene-card-content crm-list-wrap" formGroupName="feeType">
        <div fxLayout="row wrap" fxLayoutAlign="space-between stretch" class="crm-stats-cards">
          <div fxFlex.gt-md="9" fxFlex.gt-sm="100" fxFlex="100">
            <label>{{ 'auftrag_honorar' | translate }}</label>
          </div>
          <div fxFlex.gt-md="69" fxFlex.gt-sm="100" fxFlex="100">
            <mat-radio-group class="radio-group" formControlName="fee">
              <mat-radio-button value="None" 
                                class="radio-button">
                                {{ 'zahlung_auftrag_honorar_kein' | translate }}
              </mat-radio-button>
              <mat-radio-button value="Sum" 
                                class="radio-button">
                                {{ 'zahlung_betrag' | translate }}
              </mat-radio-button>
              <mat-radio-button value="Percent" 
                                class="radio-button">
                                {{ 'zahlung_prozent' | translate }}
              </mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
        <div [ngSwitch]="feeTypeValue" formGroupName="feeTypeValue">
          <div *ngSwitchCase="'Sum'">
            <div fxLayout="row wrap" 
                  fxLayoutAlign="space-between stretch" 
                  class="crm-stats-cards hide">
                  <mat-form-field class="full-wid mrgn-b-md">
                    <input matInput 
                           type="number" 
                           formControlName="feeSum"
                           placeholder="{{ 'zahlung_betrag' | translate }}">
                    <span matSuffix>CHF</span>
                  </mat-form-field>
            </div>
          </div>
          <div *ngSwitchCase="'Percent'">
            <div fxLayout="row wrap" 
                 fxLayoutAlign="space-between stretch" 
                 class="crm-stats-cards hide">
                  <mat-form-field class="full-wid mrgn-b-md">
                    <input matInput 
                           type="number" 
                           formControlName="feePercent"
                           placeholder="{{ 'zahlung_prozent' | translate }}" 
                           min="0" 
                           max="100">
                    <span matSuffix>%</span>
                  </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
  <!-- Buttons -->
  <div fxLayout="row wrap" fxLayoutAlign="space-between stretch" class="crm-stats-cards">
    <div fxFlex.gt-md="100" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxLayoutAlign="flex-end end">
      <div class="rowButtonsLeft">
        <button type="button" class="mrgn-all-xs mat-raised-button" mat-raised-button (click)="cancel()">{{ 'cancel' | translate }}</button>
        <button type="submit" class="mrgn-all-xs mat-raised-button" color="primary" mat-raised-button>
          <mat-icon style="font-size:15px;">save</mat-icon>{{ 'save' | translate }}
        </button>
      </div>
    </div>
  </div>
</form>