.radio-button {
    margin: 5px;
}

.selected-value {
    margin: 15px 0;
}

td{
    padding-bottom: 0px !important;
    padding-top: 0 !important;
}

.tdFont{
    font-weight: 700;
    color: grey;
}

.divMargin1{
    margin-left: 5px;
}

.inputWidth{
    width: 85%;
}

.rowButtonsLeft{
    margin-left: 8px;
}

.rowButtonsRight{
    margin-right: 8px;
}

.px-15 {
    padding: 0px 15px;
}

.w-95 {
    width: 95%;
    float: right;
}

.overflow {
    overflow: visible;
}