<mat-card>
  <mat-card-title>
    <h2>Sichere Zwei-Faktor-Authentifizierung per SMS</h2>
  </mat-card-title>
  <mat-divider></mat-divider>
  <!-- Activate tfa -->
  <mat-card-content *ngIf="!show">
    <mat-horizontal-stepper [linear]="true" #stepper>
      <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>Schritt 1</ng-template>
          <div fxLayout="row wrap" fxLayoutAlign="start start">
            <h4>Bitte geben Sie Ihre Handynummer (Schweiz) ein und klicken Sie auf "Weiter".
                Wir schicken Ihnen einen Bestätigungscode per SMS.</h4>
            <div fxFlex.gt-xs="100" fxFlex.gt-sm="100" fxFlex.gt-md="100" fxFlex="100">
              <mat-form-field>
                <input matInput placeholder="Phone number..."
                  formControlName="phoneNumber" required>
              </mat-form-field>
            </div>
            <div fxFlex.gt-xs="100" fxFlex.gt-sm="50" fxFlex.gt-md="50" fxFlex="100">
              <button mat-raised-button color="default" (click)="sendCode()"
                matStepperNext>Weiter</button>
              <button mat-raised-button color="default"
                (click)="goToProfile()">Abbrechen</button>
            </div>
            <div fxFlex.gt-xs="100" fxFlex.gt-sm="50" fxFlex.gt-md="50" fxFlex="100">
              <mat-progress-bar mode="determinate" value="33"></mat-progress-bar>
            </div>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>Schritt 2</ng-template>
          <div fxLayout="row wrap" fxLayoutAlign="start start">
            <h4>Sie erhalten in Kürze eine SMS mit einem Bestätigungscode.
                Bitte geben Sie den Bestätigungscode ein und klicken Sie auf "Aktivieren".</h4>
            <div fxFlex.gt-xs="100" fxFlex.gt-sm="100" fxFlex.gt-md="100" fxFlex="100">
              <mat-form-field>
                <input matInput placeholder="Code" formControlName="token" required>
              </mat-form-field>
            </div>
            <div fxFlex.gt-xs="100" fxFlex.gt-sm="50" fxFlex.gt-md="50" fxFlex="100">
              <button mat-raised-button color="default"
                matStepperNext>Aktivieren</button>
              <button mat-raised-button color="default"
                matStepperPrevious>Abbbrechen</button>
            </div>
            <div fxFlex.gt-xs="100" fxFlex.gt-sm="50" fxFlex.gt-md="50" fxFlex="100">
              <mat-progress-bar mode="determinate" value="66"></mat-progress-bar>
            </div>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Schritt 3</ng-template>
        <h4>Sie sind jetzt fertig.</h4>
        <div fxLayout="row wrap" fxLayoutAlign="start start">
          <div fxFlex.gt-xs="100" fxFlex.gt-sm="50" fxFlex.gt-md="50" fxFlex="100">
            <button mat-raised-button color="default"
              (click)="goToProfile()">Fortsetzen</button>
          </div>
          <div fxFlex.gt-xs="100" fxFlex.gt-sm="50" fxFlex.gt-md="50" fxFlex="100">
            <mat-progress-bar mode="determinate" value="100"></mat-progress-bar>
          </div>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </mat-card-content>
  <!-- Deactivate tfa -->
  <mat-card-content *ngIf="show">
    <mat-horizontal-stepper [linear]="true" #stepper>
      <mat-step [stepControl]="deactivateFormGroup">
        <form [formGroup]="deactivateFormGroup">
          <ng-template matStepLabel>Schritt 1</ng-template>
          <div fxLayout="row wrap" fxLayoutAlign="start start">
            <h4>Sie erhalten in Kürze eine SMS mit einem Bestätigungscode. Bitte geben Sie den Bestätigungscode ein und klicken Sie auf 'Aktivieren'.</h4>
            <div fxFlex.gt-xs="100" fxFlex.gt-sm="100" fxFlex.gt-md="100" fxFlex="100">
              <mat-form-field>
                <input matInput placeholder="Code" formControlName="token" required>
              </mat-form-field>
            </div>
            <div fxFlex.gt-xs="100" fxFlex.gt-sm="50" fxFlex.gt-md="50" fxFlex="100">
              <button mat-raised-button color="default"
                (click)="deactivateSMS()">Deaktivieren</button>
              <button mat-raised-button color="default"
                matStepperPrevious>Zurück</button>
            </div>
            <div fxFlex.gt-xs="100" fxFlex.gt-sm="50" fxFlex.gt-md="50" fxFlex="100">
              <mat-progress-bar mode="determinate" value="50"></mat-progress-bar>
            </div>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Schritt 2</ng-template>
        <h4>Sie sind jetzt fertig.</h4>
        <div fxLayout="row wrap" fxLayoutAlign="start start">
          <div fxFlex.gt-xs="100" fxFlex.gt-sm="50" fxFlex.gt-md="50" fxFlex="100">
            <button mat-raised-button color="default"
              (click)="goToProfile()">Fortsetzen</button>
          </div>
          <div fxFlex.gt-xs="100" fxFlex.gt-sm="50" fxFlex.gt-md="50" fxFlex="100">
            <mat-progress-bar mode="determinate" value="100"></mat-progress-bar>
          </div>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </mat-card-content>
</mat-card>